<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<app-navigation-component></app-navigation-component>
<div class="navigate sticky-top" [ngStyle]="{'backgroundColor': getColor(), 'opacity': getOpacity()}"
    style="padding-top: 1vw;">

    <div class="form-options">
        <div class="home-back">
            
            <a href="javascript:void(0)" (click)="backClicked()">
                <fa class="left-icons left-icon fontSizeEm icons" data-toggle="tooltip" data-placement="right"
                    title="Back" data-animation="true" data-delay="0" [name]="'arrow-left'"></fa>
            </a>
        </div>
        <div class="save-edit" *ngIf="showEli">
            <fa class="edit-icon fontSizeEm icons" data-toggle="tooltip" data-placement="right" title="Save"
                data-animation="true" data-delay="0" (click)="editorGroup()" [name]="'edit'"></fa>
        </div>
        <!-- <fa class="edit-icon icons" [name]="'edit'"></fa> -->
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
        <p>The policy has been updated.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
    </div>
</ng-template>
<div *ngIf="!showDiv">
    <form (ngSubmit)="addPolicy()" id="myForm" enctype="multipart/form-data" #editForm="ngForm">
        <fieldset [disabled]='showForm'>
            <div id="form1">
                <div class="infoBox">
                    <div class="headerOfBox">
                        <h4>Policy</h4>
                    </div>
                    <div class=" form-row">
                        <div class="form-group col-md-12">
                            <label for="familyName">Policy Name</label><br><br>
                            <input type="text" class="form-control" id="familyName" ngModel name="familyName"
                                [(ngModel)]="policyAccess.familyName" [name]="'family_name'">
                        </div>
                    </div>

                    <div class=" form-row">
                        <div class="form-group col-md-6">
                            <label for="familyName">Updated By</label><br><br>
                            <input type="text" class="form-control" id="updatedBy" ngModel name="updatedBy"
                                [(ngModel)]="policyAccess.updatedBy" readonly>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="familyName">Updated Date</label><br><br>
                            <input type="text" class="form-control" id="updatedTs" ngModel name="updatedTs"
                                [ngModel]="policyAccess.updatedTs | filter" readonly>
                        </div>
                    </div>

                </div>

                <div class="infoBox" style="width: 80%">
                    <div class="headerOfBox">
                        <h4>Control Information</h4>
                    </div>
                    <div class=" form-row">
                        <div class="form-group col-md-6">
                            <label for="controlNumber">Control Number<div class="asterisk">*</div></label><br><br>
                            <input type="text" class="form-control" id="controlNumber" ngModel name="controlNumber"
                                [(ngModel)]="policyAccess.controlNumber" [name]="'control_number'" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="controlName">Control Name<div class="asterisk">*</div></label><br><br>
                            <input type="text" class="form-control" id="controlName" ngModel name="controlName"
                                [(ngModel)]="policyAccess.classType" [name]="'class_type'" required>
                        </div>
                    </div>

                    <div class=" form-row">
                        <div class="form-group col-md-6">
                            <label for="policyValue">Policy Value<div class="asterisk">*</div></label><br><br>
                            <input type="text" class="form-control" id="policyValue" ngModel name="policyValue"
                                [(ngModel)]="policyAccess.policyVal" [name]="'policy_val'" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="assignTo">Assign To</label><br><br>
                            <input *ngIf="showEli" type="text" class="form-control" name="assignTo" id="assignTo"
                                [(ngModel)]="policyAccess.assignedTo" readonly>
                            <select *ngIf="!showEli" name="assignTo" style="width:50%;"
                                [(ngModel)]="policyAccess.assignedTo" class="form-control" id="searchUsers"
                                (change)="policyAccess.assignedTo=$event.target.value">
                                <option selected>Choose...</option>
                                <option *ngFor="let getUser of  users"
                                    value="{{ getUser.firstName}} {{getUser.lastName }}">{{
                                    getUser.firstName}} {{getUser.lastName }} </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label><br><br>
                            <my-date-picker name="myname" [(ngModel)]="endDate" [disabled]='showForm'
                                (dateChanged)="getEndDate($event)" class="inputState1"></my-date-picker>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="status">Status</label><br><br>
                            <input *ngIf="showForm" type="text" name="status" class="form-control" id="status"
                                [ngModel]="policyAccess.status | controlPipe">
                            <select class="form-control" id="inputState" name="status" [(ngModel)]="policyAccess.status"
                                (change)="policyAccess.status = $event.target.value" *ngIf="!showForm">
                                <option value="true">Open</option>
                                <option value="false">Close</option>
                            </select>
                        </div>
                        <label for="description">Description</label><br><br>
                        <textarea cols="156" [ngxSummernote]="config" [ngxSummernoteDisabled]="showForm" rows="7"
                            id="patches" [(ngModel)]="policyAccess.description" [name]="'policy_description'"
                            maxlength="50000" #description="ngModel"> </textarea>
                        <!--<div style="float:right">{{50000 - description.value.length}} characters left </div> -->
                        <br>
                        <div *ngIf="description.errors?.maxlength" style="float:right">
                            <span style="color:tomato"> Exceeded the character limit. </span>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label for="priority">Priority<span class="asterisk">*</span></label><br><br>
                            <select class="form-control" name="priority" ngModel [(ngModel)]="policyAccess.priority"
                                (change)="policyAccess.priority = $event.target.value" required>
                                <option value="">Choose...</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="infoBox">
                        <div class = "headerOfBox">Audit Findings</div>
                    <div class="form-row">
                    
                      <textarea cols="156" [ngxSummernote]="config" [ngxSummernoteDisabled]="showForm" rows="7" id="patches"
                        [(ngModel)]="appPolicy.description" [name]="'policy_description'" maxlength="50000"
                        #description="ngModel"> </textarea>
                      <!--<div style="float:right">{{50000 - description.value.length}} characters left </div> -->
                      <br>
                      <div *ngIf="description.errors?.maxlength" style="float:right">
                        <span style="color:tomato"> Exceeded the character limit. </span>
                      </div>
            
                    </div>
                  </div>
                <div class="infoBox">
                        <div class="headerOfBox">Antecedence</div>
                        <div class="row">
                          <div class="col-md-6">
                            <label>Impact Analysis</label><br><br>
                            <select class="form-control">
                            <option>Very High</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                            <option>Very Low</option>
                          </select>
                          </div>
              
                          <div class="col-md-6">
                            <label>Priority</label><br><br>
                            <select class="form-control">
                           
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                          </select>
                          </div>
              
                        </div>
                      </div>

                      <div class="infoBox">
                            <div class="headerOfBox">
                                <h4>Evidences</h4>
                            </div>
                            <label for="yes_no_radio">Is evidence required?</label>
                            <div class="row">
                            <input type="radio" name="yes_no" checked />Yes
                            <input type="radio" name="yes_no" />No
                            </div>
                            <br>
                            <input type="file" #fileInput (change)="createPolicyDocumentDTO($event)">
            
            
                            <br><br><br>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <table id="myTable">
                                        <tr>
                                            <th>File Name</th>
                                            <th *ngIf="showFrm">Action</th>
                                        </tr>
                                        <tr *ngFor=" let policyDocument of appPolicy.policyDocumentsDTOs let i = index">
                                            <td *ngIf="policyDocument.activeFlag" style="cursor: pointer; color: blue;"
                                                (click)="getPolicyDocumentAttch(policyDocument.policyDocId)">
                                                {{policyDocument.documentName}}</td>
                                            <td *ngIf="policyDocument.activeFlag && showFrm"
                                                (click)="deleteFile(policyDocument.policyDocId,i)" style="cursor: pointer;"><i
                                                    class=" fa fa-trash" aria-hidden="true"
                                                    style="font-size: 24px;color: black;"></i></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
              
                      <div class="infoBox">
                        <div class="headerOfBox">Score</div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                        <label>Weightage</label><br><br>
                        <div class="col-md-3"><input type="number" name="weightN" class="form-control" placeholder="" (change)="getNum()" [(ngModel)]="weightageN" id="first" style="width:200% !important"></div>
                        
                      </div>
                          </div>
                      <div class="col-md-6">
                        <div class="row">
                          <label>Score</label><br><br>
                          <div class="col-md-3"><input type="number" class="form-control" name="test" (change)="getRealScore()"  placeholder="" [(ngModel)]="scoreN" id="first" style="width:200% !important"></div>
                         
                        </div>
                      </div>
                      </div>
              
                      <br>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                        <label>Net score</label><br><br>
                        <div class="col-md-3">
                           <input type="number" class="form-control" name="realScore" [(ngModel)]="realScore"   placeholder="" id="first" style="width:200% !important" > 
                         
                        </div>
                        
                      </div>
                          </div>
                    
                      </div>
                      </div>

                


                <div class="infoBox" style="width: 80%">
                    <div class="headerOfBox">
                        <h4>Procedures <div class="asterisk">*</div>
                        </h4>
                    </div>
                    <textarea cols="156" [ngxSummernote]="config" [ngxSummernoteDisabled]="showForm" rows="7"
                        id="patches" ngModel name="policyProcedures" [(ngModel)]="policyAccess.procedures"
                        [name]="'policy_procedures'" maxlength="50000" required #procedures="ngModel"> </textarea>
                    <!--<div style="float:right">{{50000 - procedures.value.length}} characters left </div> -->
                    <br>
                    <div *ngIf="procedures.errors?.maxlength" style="float:right">
                        <span style="color:tomato"> Exceeded the character limit. </span>
                    </div>

                </div>
                <!-- </div>
                </div> -->
                <!-- <div class="form-row">
                    <div class="form-group col-md-12">
                        <br>
                        <br> -->
                <div class="infoBox" style="width: 80%">
                    <div class="headerOfBox">
                        <h4>Guidelines</h4>
                    </div>
                    <textarea cols="156" [ngxSummernote]="config" [ngxSummernoteDisabled]="showForm" rows="7"
                        id="patches" [(ngModel)]="policyAccess.guidelines" [name]="'policy_guidelines'"
                        maxlength="50000" #guidelines="ngModel"> </textarea>
                    <!--<div style="float:right">{{50000 - guidelines.value.length}} characters left </div> -->
                    <br>
                    <div *ngIf="guidelines.errors?.maxlength" style="float:right">
                        <span style="color:tomato"> Exceeded the character limit. </span>
                    </div>
                </div>
   

                <div class="infoBox">
                    <div class="headerOfBox">
                        <h4>Sub Control</h4>
                    </div>
                    <div style="float:right" *ngIf="!showEli">
                        <fa class="plus-icon" (click)="goToSubControl()" [name]="'plus'"></fa>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th id="colorWhite">Sub Control Number</th>
                                <th id="colorWhite">Sub Control Name</th>
                                <th id="colorWhite">Assigned To</th>
                                <th id="colorWhite">End Date</th>
                                <th id="colorWhite">Status</th>



                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subPol of policyAccess.subpolicies">
                                <td><a *ngIf="showEli">{{ subPol.controlNumber }}</a><a *ngIf="!showEli"
                                        (click)="getSubpolicy(subPol.policyId)"
                                        style="cursor: pointer;color: blue;">{{subPol.controlNumber}}</a></td>
                                <td>{{subPol.policyVal}}</td>
                                <td>{{subPol.assignedTo}}</td>
                                <td>{{subPol.endDate | filterDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{subPol.status | subControlPipe }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>



                <div class="infoBox" style="width: 80%">
                    <div class="headerOfBox">
                        <h4>Artifacts</h4>
                    </div>
                    <textarea [ngxSummernote]="config" name="artifacts" [(ngModel)]="policyAccess.artifacts"
                        [ngxSummernoteDisabled]="showForm" cols="156" rows="7" id="patches" maxlength="50000"
                        #artifacts="ngModel"> </textarea>
                    <!--<div style="float:right">{{50000 - artifacts.value.length}} characters left </div> -->
                    <br>
                    <div *ngIf="artifacts.errors?.maxlength" style="float:right">
                        <span style="color:tomato"> Exceeded the character limit. </span>
                    </div>
                </div>



                <div class="infoBox" style="width: 80%">
                    <div class="headerOfBox">
                        <h4>Non-COV</h4>

                    </div>
                    <textarea [ngxSummernote]="config" name="noncov" [(ngModel)]="policyAccess.nonCov"
                        [ngxSummernoteDisabled]="showForm" cols="156" rows="7" id="patches" maxlength="50000"
                        #nonCov="ngModel"> </textarea>
                    <!--<div style="float:right">{{50000 - nonCov.value.length}} characters left </div> -->
                    <br>
                    <div *ngIf="nonCov.errors?.maxlength" style="float:right">
                        <span style="color:tomato"> Exceeded the character limit. </span>
                    </div>
                </div>



                <div class="infoBox">
                    <div class="headerOfBox">
                        <h4>Policy Links</h4>
                    </div>
                    <!-- <a routerLink="/linkedPolicies/{{ policyAccess.policyId }}"><button class="policy-links btn btn-primary">Add Policy Links</button></a> -->
                    <button class="policy-links btn btn-primary" (click)="changeDiv()">Add Policy Links</button>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-row">
                                <label for="internalPolicyLinks">Internal Policy Links</label><br><br>
                            </div>
                            <div class="form-row">
                                <table id="myTable">
                                    <tr>
                                        <th>Control Name</th>
                                        <th *ngIf="!showFrm">Action</th>
                                    </tr>

                                    <tr *ngFor="let getLinkedPolicy of policyAccess.linkedPolicies">

                                        <td><a *ngIf="getLinkedPolicy.status && showForm"
                                                routerLink="/accessControlDetails/{{ getLinkedPolicy.policyId }}"
                                                style="cursor:pointer;color:blue;">
                                                {{ getLinkedPolicy.controlNumber }}</a>
                                            <!-- <i class="fa fa-minus-circle"
                                                    style="color: red"></i>-->
                                            <a *ngIf="getLinkedPolicy.status && !showForm">
                                                {{ getLinkedPolicy.controlNumber }}</a>
                                        </td>
                                        <td *ngIf="getLinkedPolicy.status && !showForm"
                                            (click)="deletePolicy(getLinkedPolicy.policyId)">
                                            <i class=" fa fa-trash" aria-hidden="true"
                                                style="font-size: 24px;color: black;"></i>
                                        </td>



                                    </tr>

                                </table>
                            </div>
                            <!-- <div *ngIf="!showForm" class="display-file">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr *ngFor="let link of links">

                                            <td style="cursor:pointer;color:blue;">{{ link.controlNumber }}</td>

                                        </tr>
                                    </tbody>
                                </table>
                               
                            </div> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="externalPolicyLinks">External Policy Links</label><br><br>
                            {{policyAccess.linkedPoliciesString}}
                        </div>
                    </div>

                </div>
                <!-- <br>
                <br>
                <br> -->

                <div class="infoBox">
                    <div class="headerOfBox">
                        <h4>Documents</h4>
                    </div>

                    <input type="file" #fileInput (change)="createPolicyDocumentDTO($event)">

                    <br><br><br>
                    <div class="col-md-6">
                        <div class="form-row">
                            <table id="myTable">
                                <tr>
                                    <th>File Name</th>
                                    <th *ngIf="!showFrm">Action</th>
                                </tr>
                                <tr *ngFor=" let policyDocument of policyAccess.policyDocumentsDTOs let i = index">
                                    <td *ngIf="policyDocument.activeFlag" style="cursor: pointer; color: blue;"
                                        (click)="getPolicyDocumentAttch(policyDocument.policyDocId)">
                                        {{policyDocument.documentName}}</td>
                                    <td *ngIf="policyDocument.activeFlag && !showFrm"
                                        (click)="deleteFile(policyDocument.policyDocId,i)" style="cursor: pointer;"><i
                                            class=" fa fa-trash" aria-hidden="true"
                                            style="font-size: 24px;color: black;"></i></td>
                                </tr>



                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </fieldset>

        <!-- <button type="submit" (click)="open(content)" *ngIf="!showForm" class="submit btn btn-primary">Submit</button> -->

        <!-- <button type="submit" (click)="open(content)" *ngIf="!showForm" class="submit btn btn-primary">Submit</button> -->
    </form>
    <div style="margin-right: 5%;">
        <button type="submit" form="myForm" [disabled]="!editForm.valid" *ngIf="!showForm"
            class="submit btn btn-primary">Submit</button>
        <button type="cancel" class="cancel btn btn-primary" (click)="backClick($event)">Cancel</button>
    </div>
</div>
<div *ngIf="showDiv">
    <div id="form1">
        <form>
            <!-- <div style="text-align:center">
            <label style="padding-left:10px">Link from Internal</label><br><br>
            <input type="radio" name="linkedPolicies" (change)="radioValue($event)" value="Link from Internal">

            <label style="padding-right:10px">Link from External</label><br><br>
            <input type="radio" name="linkedPolicies" (change)="radioValue($event)" value="Link From  External">
        </div> -->
            <!-- <a (click)="getBack()">Go Back</a> -->
            <fa (click)="getBack()" style="cursor: pointer;" class="left-icons left-icon fontSizeEm icons"
                data-toggle="tooltip" data-placement="right" title="Back" data-animation="true" data-delay="0"
                [name]="'arrow-left'"></fa>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="radio" name="linkedPolicies" (change)="radioValue($event)" value="Link from Internal">
                    <p style="margin-left: -19%;
                    margin-top: 0.2em;"> Link from Internal</p>
                </div>
                <div class="form-group col-md-6">
                    <input type="radio" name="linkedPolicies" (change)="radioValue($event)" value="Link From  External">
                    <p style="margin-left: -19%;
                    margin-top: 0.2em;">Link from External</p>
                </div>


            </div>

            <br>
            <div *ngIf="displayField===1" class="form-row">
                <div class="form-group col-md-6">
                    <label class="label-form" for="definitiveSource"><b>Definitive Source</b><span
                            class="asterisk">*</span></label><br><br>
                    <select class="form-control" id="definitiveSource" required
                        (change)="selectDefinitive($event.target.value)">
                        <option selected>Choose...</option>
                        <option *ngFor="let auditType of auditTypes" value="{{ auditType.auditTypeId }}">{{
                            auditType.auditTypeName }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-form" for="typePolicy"><b>Type/Policy</b><span class="asterisk">*</span></label><br><br>
                    <select class="form-control" id="typePolicy" required (change)="selectType($event.target.value)">
                        <option selected>Choose...</option>
                        <option *ngFor="let policyType of  policyTypes" value="{{ policyType.policyGrpId }}">{{
                            policyType.policyGrpName
                            }}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="displayField===0" class="form-row">
                <!-- <h4>Artifacts</h4>-->
                <div class="col-md-12">
                    <div class="form-row">
                        <b>External Link</b>
                    </div>
                    <div class="form-row">
                        <textarea cols="158" rows="7" id="patches" [(ngModel)]="policyAccess.linkedPoliciesString"
                            maxlength="50000" name="artifacts"> </textarea>

                    </div>
                    <div class="form-row">
                        <div class="col-md-12" style="margin-top: 1%;">
                            <button class="btn btn-primary" (click)="getBack()">Link</button>
                        </div>

                    </div>
                </div>
            
            </div>
            <br>
            <div *ngIf="showDef">
                <div class="infoBox">
                    <div class="headerOfBox">
                        <h5>Controls</h5>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Link</th>
                                <th scope="col" (click)="handleSort()">Control Number <i
                                        class="fa fa-arrow-down testColor" *ngIf="!desc"></i>
                                    <i class="fa fa-arrow-up testColor" *ngIf="desc"></i></th>
                                <th scope="col">Policy Name</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Policy Value</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Assigned By</th>
                                <th scope="col">Assigned On</th>
                                <th scope="col">Target Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let policy of policies |paginate: { itemsPerPage: 10, currentPage: p }">

                                <td><input type="checkbox" (change)="viewEvent(policy,$event.target.checked)"></td>
                                <td><a routerLink="/accessControlDetails/{{ policy.policyId }}"
                                        style="cursor:pointer;color:blue;">{{
                                        policy.controlNumber }}</a></td>
                                <td>{{ policy.policyName }}</td>
                                <td>{{ policy.priority }}</td>
                                <td>{{ policy.policyVal }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td><i [ngClass]=" policy.status ? 'primary' : 'secondary'"
                                        class="fa fa-check-circle"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>

            <button *ngIf="showBt" class="btn btn-primary" (click)="saveLink()">Link</button>
        </form>
    </div>
</div>