<app-navigation-component></app-navigation-component>
<div class="sidebar" data-color="danger" data-background-color="white">
  <div class="sidebar-wrapper" [ngClass]="{'d-none': sideNavService.hideSideNav }">
    <!-- <app-side-nav-toggler></app-side-nav-toggler> -->
    <!-- <ul class="nav">
      <li class="nav-item" routerLinkActive="active">

        <a class="nav-link" routerLink="policySrt">
          <i class="fa fa-dashcube" aria-hidden="true"></i>
          <p>Select Policy</p>
        </a>

      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sdetails" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Details
        </a>

      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sreview" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-user" aria-hidden="true"></i>
          Review Section
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sdocuments" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          Documents
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sapplications" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-user" aria-hidden="true"></i>
          Application
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Families
          <ol>
            <ng-container *ngFor="let data of families">
              <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions=" {exact:false}">
                <a class="nav-link" routerLink="scontrol/{{data.policyFamilyID}}"
                  style="color: blue;cursor: pointer;font-size:12px;font-weight: bold;">{{data.familyName}}</a>
              </li>

            </ng-container>
          </ol>
        </a>

      </li>

    </ul> -->
    <app-newsidebar></app-newsidebar>
  </div>
  <div class="sidebar-wrapper-icon" [ngClass]="{'d-none': !sideNavService.hideSideNav }">
    <!-- <app-side-nav-toggler></app-side-nav-toggler> -->
    <!-- <ul class="nav">
      <li class="nav-item" routerLinkActive="active">

        <a class="nav-link" routerLink="policySrt">
          <i class="fa fa-dashcube" aria-hidden="true"></i>
          <p>Select Policy</p>
        </a>

      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sdetails" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Details
        </a>

      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sreview" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-user" aria-hidden="true"></i>
          Review Section
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sdocuments" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          Documents
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="sapplications" [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-user" aria-hidden="true"></i>
          Application
        </a>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [ngClass]="showData ?'nav-link':'nav-link disabled'">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Families
          <ol>
            <ng-container *ngFor="let data of families">
              <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions=" {exact:false}">
                <a class="nav-link" routerLink="scontrol/{{data.policyFamilyID}}"
                  style="color: blue;cursor: pointer;font-size:12px;font-weight: bold;">{{data.familyName}}</a>
              </li>

            </ng-container>
          </ol>
        </a>

      </li>

    </ul> -->
    <app-newsidebar></app-newsidebar>
  </div>
</div>
<div class="newmainpanel">
  <div [ngClass]="!sideNavService.hideSideNav?'contentWidthMain':'contentWidth'">
    <div class="categoryGrid">
      <div class="clearfix wrap">
        <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="showNav">
          <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true" routerLink="/firstpolicy/details" routerLinkActive="active">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Compliance-tab" data-toggle="tab" href="#Compliance" role="tab"
              aria-controls="Compliance" routerLink="/firstpolicy/families" routerLinkActive="active" aria-selected="false">Families</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false" routerLink="/firstpolicy/review" routerLinkActive="active">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Testing-tab" data-toggle="tab" href="#Testing" role="tab" aria-controls="Testing"
              aria-selected="false" routerLink="/firstpolicy/documents" routerLinkActive="active">Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Compliance-tab" data-toggle="tab" href="#Compliance" role="tab"
              aria-controls="Compliance" aria-selected="false" routerLinkActive="active" routerLink="/firstpolicy/application">Systems</a>
          </li>

        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

