<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="pos-f-t">
    <nav class="navbar">
        <img src="assets/img/logo.png">
        <h2 class="heading">Integra</h2>
        <!-- <div class="login"><p class="user">Sunny Singh<fa class="down-icon" [name]="'chevron-down'"></fa></p></div> -->
    </nav>
</div>
<div id="form1" style="background:transparent;border: none;box-shadow: none;">
    <div class="infoBox">

        <div class="container">
            <div class="headerOfBox" style="text-align: center;">
                <h2>Login</h2>
            </div>
            

                <div class="col-sm-6 offset-sm-3">
                    <alert></alert>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            Username<span class="asterisk">*</span>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            Password<span class="asterisk">*</span>
                            <input type="password" #pass formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div style="margin-left: -29%;"><input type="checkbox" (click)="showPassword()" style="margin-right: -23%;
                                margin-top: .5vw;outline: none;">Show Password</div>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div><a (click)="getLogin()" style="cursor: pointer;color: blue;">Sign in with Okta</a></div>
                </div>
        </div>
    </div>
</div>