<div class="form-div">
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" id="navtab" routerLinkActive="active" routerLink="/locality/tab/info">
                    <fa class="help" [name]="'info-circle'"></fa>&nbsp;Information
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"  routerLink="/locality/tab/solutions"
                    routerLinkActive="active">
                    <fa class="help" [name]="'paper-plane'"></fa>&nbsp;Solutions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/locality/tab/legal">
                    <fa class="help" [name]="'gavel'"></fa>&nbsp;Legal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/locality/tab/Audit">
                    <fa class="help" [name]="'book'"></fa>&nbsp;Audit/Compliance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/locality/tab/assessment">
                    <fa class="help" [name]="'check-circle'"></fa>&nbsp;Assessment
                </a>
            </li>


        </ul>
    </div>
    <router-outlet></router-outlet>
</div>