.form{
    padding: 20px;
   border-radius: 10px;
   border: 1px solid transparent;
   margin: 20px;
   background-color: #EEEEEE;
   overflow: hidden;
}


.btn{
   background-color: black;
   border-color: black;
   border-radius: 20px;
   box-shadow: 5px 10px 20px 1px rgba(125,122,118,1);
}

.primary {
 color: green !important;
}
.secondary {
 color: red !important;
}


th{  white-space: pre-wrap;
   background-color:#cecfd5;
}
.policy-links{
   float: right;
}

p{
    display: inline-block;
}

/*.documents{
   float: left;
}*/

.navigate{

   padding: 5px;
}



.form-options{
   margin-right: 15px;
   margin-top: -15px;
   
}

.home-back{
   float: left;
}

.save-edit{
   float: right;
}

a{
   text-decoration: none;
}

.icons{
   vertical-align: middle;
   font-size: 20px;
   margin-top: -20px;
   padding: 2px;
   margin-left: 5px;
}

.home-icon{
   color: black;
}

.edit-icon{
   /*margin-left: 10px;*/
   color: black;
}

.left-icon{
   /*margin-left: 10px;*/
   color: black;
}

.save-icon{
   color: black;
}

.download-icon{
    color: black;
}

/* table{ */
/*  background-color: #ffffff; */
/*  text-align: center; */
/*  border: 1px solid black; */
/* } */

.table-bordered tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
   border: 1px solid black;
}

tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
}



table thead tr td{ word-wrap: break-word;
   color: black;
}

.table-bordered td{

   border: 1px solid black;
}


.table-bordered th {
   white-space: pre-wrap;
   border: 1px solid black;
}












/* table{  */
/*  background-color: #ffffff; */
/*  text-align: center; */
/* } */

table thead tr th{  white-space: pre-wrap;
   font-weight: 500;
   color: black;
}



.showList{
   float: left;
}



i.fa {
   text-decoration: none !important;
   padding: 5px 4px;
    color: black;
}
.fa {
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
    color: black;
  }
.plus{
   float:right;
    vertical-align: middle;
   font-size: 20px;

   padding: 2px;
   margin-left: 20px;
   color: black;
   margin-top: 15px;
   
}

.policies{
   margin-top: 15px;
}

.policy-edit{
   float: right;
}


.icons{
   vertical-align: middle;
   font-size: 20px;
   margin-top: -20px;
   padding: 2px;
  
   font-size:20px;
}



.table-bordered td, .table-bordered th {
   border: 1px solid #e9ecef;
}


.nav-link{
   color: black;
   margin-left: 10px;
}


input[readonly] {
   background-color: #ffffff;
   }


table thead tr th{  white-space: pre-wrap;
   font-weight: 500;
}

.modal-header{
   background-color: black;
   color: #ffffff;
}

.btn{
   background-color: black;
   border-color: black;
}


   
   table thead tr th{  white-space: pre-wrap;
      white-space: pre-wrap;
   font-weight: 500;
   color: black;
   }
   
   table thead tr td{ word-wrap: break-word;
   color: black;
   }
   
   
   
   
   
       i.fa {
   text-decoration: none !important;
   padding: 5px 4px;
    color: black;
}
.fa {
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
    color: black;
  }
  
  
  .primary {
 color: red !important;
}
.secondary {
 color: green !important;
}
  
  
  
  
.plus{
   float:right;
    vertical-align: middle;
   font-size: 20px;

   padding: 2px;
   margin-left: 20px;
   color: black;
   margin-top: 15px;
   
}

.policies{
   margin-top: 15px;
}

.policy-edit{
   float: right;
}


.icons{
   vertical-align: middle;
   font-size: 20px;
   margin-top: -20px;
   padding: 2px;
  
   font-size:20px;
}

.form-control:disabled, .form-control[readonly] {
   background-color: #ffffff;
  
}

.form-control:disabled, .form-control[readonly] {
   background-color: #f8f9fa;
   opacity: 1;
}

.nav-link{
   color: black;
   margin-left: 10px;
}

/* .icons{ */
/*  color:black; */
/*    vertical-align: middle; */
/*    font-size: 20px; */
/*    margin-bottom: 20px; */
/*    padding: 2px; */
/*    margin-right: 20px; */
/* } */



input[readonly] {
   background-color: #ffffff;
   }



.table-bordered tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
   border: 1px solid black;
}

tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
}

table thead tr th{  white-space: pre-wrap;
   font-weight: 500;
   color: black;
   border: 1px solid black;
   background-color: #cecfd5;
   white-space: pre-wrap;
}

table thead tr td{ word-wrap: break-word;
   color: black;
}

.table-bordered td, .table-bordered th {
   border: 1px solid black;
}

.modal-header{
   background-color: black;
   color: #ffffff;
}

.btn{
   background-color: black;
   border-color: black;
}

.confbtn{
   margin-left: auto;
   margin-right: auto;
}

#form {
 background-color: #FFF;
 height: 600px;
 width: 600px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 0px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 padding: 0px;
 text-align:center;
}
label {
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 18px;
 color: #333;
 height: 20px;
 width: 200px;
 margin-top: 10px;
 margin-left: 10px;
 text-align: right;
 clear: both;
 float:left;
 margin-right:15px;
}
input {
 
 border: 1px solid #000;
 margin-top: 10px;
 float: left;


 box-sizing: border-box;
 width: 50%;
 line-height: 2em;
 border: 1px solid #AAA;
 border-radius: 0.4rem;
 -webkit-border-radius: 0.4rem;
 -moz-border-radius: 0.4rem;
}
input[type=button] {
 float:none;
}





.line {
margin:  0.5rem 0 0.5em;
 line-height:1.5em;
 padding:0;
 color:rgb(0, 0, 0);
 font-weight: 100;
 font-size:20px;
 position:relative;
 overflow:hidden;
 text-align:center;
}
.line:before,.line:after {
 content:" ";
 position:absolute;
 top:50%;
 margin-left:-999em;
 height:2px;
 width:998em;
 border-top:1px solid rgb(0, 0, 17);
 background:rgba(0,0,0,0.2);

}
.line:after {
 left:auto;
 width:999em;
 margin:0 0 0 1em;
}

#colorWhite{
 color:white;
}

/* #form1{
   
 border-radius: 10px;
 border: 1px solid;
 margin: -1% 7% 0% 5%;
 background-color: white;
 /* background-color:rgba(221,221, 221, 0.4); */
 /* background-image: url(./../../assets/img/greyjpg.jpg); */


.line1 {
 margin:  0.5rem 0 0.5em;
   line-height:1.5em;
   padding:0;
   color:rgb(0, 0, 0);
   text-shadow:1px 1px 1px #000;
   font-size:27px;
   position:relative;
   overflow:hidden;
   text-align:center;
 }
 .line1:before,.line1:after {
   content:" ";
   position:absolute;
   top:50%;
   margin-left:-999em;
   height:2px;
   width:998em;
   border-top:1px solid rgb(0, 0, 17);
   background:rgba(0,0,0,0.2);
 }
 .line1:after {
   left:auto;
   width:999em;
   margin:0 0 0 1em;
 }

 /* .infoBox{
   padding:3%;
   border: 2px solid;
   margin:-1%;
   min-width:103%;
   display: inline-block;
   background: rgb(255,255,255); /* Old browsers */
   /* background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
 /*  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
 /*  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 /*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
/* -webkit-box-shadow: 5px 10px 20px 1px rgba(125,122,118,1);
 -moz-box-shadow: 5px 10px 20px 1px rgba(125,122,118,1);
 box-shadow: 5px 10px 20px 1px rgba(125,122,118,1);
 } */
 
 /* .headerOfBox{
 margin-top:-3%;
 border-bottom: 2px solid;
 margin-bottom:2%;
 margin-left:-3%;
 margin-right:-3%; */
 
/* background: rgb(30,87,153); /* Old browsers */
/* background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
 
/* } */




.textAreaCSS{
  min-width:100%;
  display:inline-block;
}


/* source: http://www.ehow.com/how_12214447_make-collapsing-lists-java.html */
.FAQ { 
   display : block;
   margin: 0px 0px 0px 70px;
   height:auto !important; 
}
.list {
   display:none; 
   height:auto;
   margin:0;
   float: left;
}
.show {
   display: none; 
}
.hide:target + .show {
   display: inline; 
}
.hide:target {
   display: none; 
}
.hide:target ~ .list {
   display:inline; 
}

/*style the (+) and (-) */
.hide, .show {
   width: 30px;
   height: 30px;
   border-radius: 30px;
   font-size: 20px;
   color: #fff;
   text-shadow: 0 1px 0 #666;
   text-align: center;
   text-decoration: none;
   box-shadow: 1px 1px 2px #000;
   background: #cccbbb;
   opacity: .95;
   margin-right: 0;
   float: left;
   margin-bottom: 25px;
}

.hide:hover, .show:hover {
   color: #eee;
   text-shadow: 0 0 1px #666;
   text-decoration: none;
   box-shadow: 0 0 4px #222 inset;
   opacity: 1;
   margin-bottom: 25px;
}

.list p{
   height:auto;
   margin:0;
}
.question {
   float: left;
   height: auto;
   width: 90%;
   line-height: 20px;
   padding-left: 20px;
   margin-bottom: 25px;
   font-style: italic;
}


table{
   background-color: #ffffff;
   text-align: center;
   border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
   border: 1px solid black;
}

tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
}


table thead tr th{  white-space: pre-wrap;
   font-weight: 500;
   color: black;
   border: 1px solid black;
 background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
th{  white-space: pre-wrap;
   white-space: pre-wrap;
 text-align:center;
 background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
color: #ffffff;
}

table thead tr td{ word-wrap: break-word;
   color: black;
}

.table-bordered td, .table-bordered th {
   border: 1px solid black;
}



