.forms{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 20px;
  background-color: #EEEEEE;



}


.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}





.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 300px;
}
tbody tr:nth-child(even) {
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}


.navigate{
    margin: 15px;
    padding: 5px;
}

.sticky-top{
	height: 30px;
	border-radius: 5px;
}

.form-options{
    margin-right: 15px;
    margin-top: -15px;
    padding: 5px;
}

.home-back{
	float: left;
}

.save-edit{
	float: right;
}

a{
	text-decoration: none;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

/*.left-icons{
	float: left;
}

.icons{
	display: inline-block;
}*/

.home-icon{
    color: #3A539B;
}

.home-icon:hover{
	
}

.edit-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.left-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.save-icon{
    color: #3A539B;
}











