.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
   
}
.disabled>a,
.disabled>a:focus, 
.disabled>a:hover, 
.disabled>span, 
.disabled>span:focus, 
.disabled>span:hover{
color: #777;
cursor: not-allowed;
/* background-color: #fff;
border-color: #ddd; */
}

.former {
    padding: 15px;
    border-radius: 10px;
     border: none; 
    margin: 20px;
    background-color: inherit;
     box-shadow: none;
  }
  #form {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
   }
   label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
   }
   input {
    
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 44%;
    line-height: 2em;
    border: 1px solid #AAA;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
   }
   input[type=button] {
    float:none;
   }

   
   
   
   .line {
   margin:  0.5rem 0 0.5em;
    line-height:1.5em;
    padding:0;
    color:rgb(0, 0, 0);
    font-weight: 100;
    font-size:20px;
    position:relative;
    overflow:hidden;
    text-align:center;
   }
   .line:before,.line:after {
    content:" ";
    position:absolute;
    top:50%;
    margin-left:-999em;
    height:2px;
    width:998em;
    border-top:1px solid rgb(0, 0, 17);
    background:rgba(0,0,0,0.2);
   
   }
   .line:after {
    left:auto;
    width:999em;
    margin:0 0 0 1em;
   }
   
   #colorWhite{
    color:white;
   }

   .inputState1 {
    margin-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 44%;
    line-height: 2em;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
}

#fixBox{
margin-top:-6%;
margin-left:-1%;
width:110%;
z-index: -2;

}