<div>
    <form >

     

        <div class="form-row">
            <div class="form-group col-md-2.5" >
                <div class="wrapper1">
                    <ul class="StepProgress">
                        <li class="StepProgress-item current">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/first1"
                                [routerLinkActiveOptions]="{exact: true}"> Policy Details</a>
                        </li>

                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/assesscontrol"
                                [routerLinkActiveOptions]="{exact: true}">Access Control</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a routerLinkActive="active" style="color:black" routerLink="/locality/tab/assessment/Tabs/find1">Findings</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/recomendation1">Recommendations</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/management1">Management
                                Response</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/action1">Action
                                Plan</a>
                        </li>

                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/brisk1">Business
                                Risk</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/srisk1">Security
                                Risk</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/budget1">Budget</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/attachment1">Attachments</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/locality/tab/assessment/Tabs/lessons1">Lessons
                                Learned</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="float:right" class="form-group col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </form>
</div>