.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.documents{
	margin-top: 15px;
}

.policy-edit{
	float: right;
}
table{
	width:100%;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

.edit-icon{
    /*margin-left: 10px;*/
    color: black;
}

.download-icon{
	color: black;
}

.save-icon{
	color: black;
}

.close-icon{
	color: black;
}

.installation{
	padding: 1%;
}

.hosting-notes{
	display: block;
	/*margin-top: 20px;*/
}

.modal-header{
	background-color: black;
	color: #ffffff;
}

.btn{
	background-color: black;
	border-color: black;
}
table{
	background-color: #ffffff;
	text-align: center;
	border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
	border: 1px solid black;
}

tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
}

table thead tr th{
	font-weight: 500;
	color: black;
	border: 1px solid black;
	background-color: #cecfd5;
}

table thead tr td{
	color: black;
}


.modal-header{
	background-color: black;
	color: #ffffff;
}

.btn{
	background-color: black;
	border-color: black;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
}


.table-bordered td, .table-bordered th {
    border: 1px solid black;
}