<app-navigation-component></app-navigation-component>
<div class="sidebar" data-color="danger" data-background-color="white">
  <app-newsidebar></app-newsidebar>
</div>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="newmainpanel">
  <div [ngClass]="!sideNavService.hideSideNav?'contentWidthMain':'contentWidth'">
    <div class="categoryGrid">
      <div class="clearfix wrap">
        <div>
          <h2 class="headerFix">Incidents</h2>
        </div>
        <mat-sidenav-container class="example-sidenav-container" style="min-height: 100%;background-color: inherit;">
          <mat-sidenav-content>
            <mat-grid-list cols="10" rowHeight="100px">
              <mat-grid-tile [colspan]="10" [rowspan]="1">

                <div class="newtestITpm">
                  <div class="entryTitle">Overview </div>
                  <p class="definationText" style="font-size: 13px;">
                    This screen allows you to manage incidents with full life cycle from inception to root cause
                    analysis and then close out. It also provides details for impacted systems and related business
                    units to impacted systems. Each incident includes the severity level and type of incidents in order
                    to notify and take immediate actions by knowing who is responsible for impacted assets and systems.
                    The business units also can be notified for any downtime or impact that may hinder business
                    operations.
                  </p>


                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-sidenav-content>
          <mat-sidenav-content>
            <mat-grid-list cols="10" rowHeight="100px">
              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Severity Level
                  </div>
                  <p>critcality</p>
                  <div class="col-md-4 pull-left" style="outline: none;">
                    <span class="dot redDot" (click)="getSeverityHigh()">{{criticalHighInci}}</span>
                    <p style="text-align: center;">High</p>
                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;">
                    <span class="dot orangeDot" (click)="getSeverityMedium()">{{criticalMediumInci}}</span>
                    <p style="text-align: center;">Medium</p>
                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;">
                    <span class="dot greenDot" (click)="getSeverityLow()">{{criticalLowInci}}</span>
                    <p style="text-align: center;">Low</p>
                  </div>



                </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Status
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;">
                    <span class="dot redDot" (click)="getOpen()">{{openIncident}}</span>
                    <p style="text-align: center;">Open</p>
                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;">

                  </div>


                  <div class="col-md-4 pull-left" style="outline: none;">
                    <span class="dot greenDot" (click)="getClose()">{{closedIncident}}</span>
                    <p style="text-align: center;">Closed</p>
                  </div>

                </div>

              </mat-grid-tile>
            </mat-grid-list>
          </mat-sidenav-content>
          <mat-sidenav-content>
            <mat-grid-list cols="10" rowHeight="100px">
              <mat-grid-tile [colspan]="5" [rowspan]="2">

                <div class="newtestITpm">
                  <div class="entryTitle"> Type of Incidents </div>


                  <div class="col-md-12" *ngIf="showGraph">
                    <div style="display: block; width: 100%; height:9rem; background-color: #fff;">
                      <canvas baseChart [datasets]="lineChartDataAudits" [labels]="lineChartLabelsAudits"
                        chartType="bar" [legend]="true" (chartClick)="chartClicked($event)"
                        [options]="chartOptionAudits" [colors]="chartColorsAudits"></canvas>
                    </div>


                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Average Time
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot redDot">{{4}}</span>
                    <p>Days</p>

                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot orangeDot">{{5}}</span>
                    <p>Days</p>
                  </div>



                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot greenDot">{{6}}</span>
                    <p>Days</p>
                  </div>

                </div>

              </mat-grid-tile>
            </mat-grid-list>
          </mat-sidenav-content>
          <mat-sidenav-content>
            <mat-grid-list cols="10" rowHeight="100px">

              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Impacted Assets
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot redDot">{{highIncidents}}</span>

                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot orangeDot">{{mediumIncidents}}</span>

                  </div>


                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot greenDot">{{lowIncidents}}</span>

                  </div>

                </div>

              </mat-grid-tile>


              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">Impact Analysis </div>
                  <div class="card-body">

                    <div class="row">
                      <div class="col-md-6 pull-left">
                        <span class="adsquare adsquarecolor" (click)="goToSystemDetails()"
                          style="cursor: pointer">{{systemsImpacted}}</span>
                        <p style="text-align: center;">Systems Impacted</p>
                      </div>
                      <div class="col-md-6 pull-left">
                        <span class="adsquare adsquarecolor">{{businessesImpacted}}</span>
                        <p style="text-align: center;">Businesses Impacted</p>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan]="10" [rowspan]="6">
                <div class="newtestITpm">
                  <div class="entryTitle">Incidents</div>
                  <div class="incidentPlus">
                    <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 24px;"
                      (click)="createSystem()"></i>
                  </div>
                  <br><br>
                  <table class="policyTable">
                    <thead>
                      <tr>
                        <th sortable="shortDescription" (sort)="getSort($event)">Name</th>
                        <th sortable="reportedBy" (sort)="getSort($event)">Reported By</th>
                        <th sortable="serverity" (sort)="getSort($event)">Severity</th>
                        <th sortable="status" (sort)="getSort($event)">Status</th>
                        <th sortable="typeOfIncident" (sort)="getSort($event)">Type Of Incident</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let incident of incidents | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td><a class="incidentLink"
                            (click)="viewApplication(incident.incidentId)">{{incident.shortDescription}}</a></td>
                        <td>{{incident.reportedBy}}</td>
                        <td>{{incident.severity}}</td>
                        <td>{{incident.status}}</td>
                        <td>{{incident.typeOfIncident}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>


              </mat-grid-tile>




            </mat-grid-list>
          </mat-sidenav-content>

        </mat-sidenav-container>
      </div>
    </div>
  </div>
</div>