<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Info</h4>
  </div>
  <div class="modal-body">
    <p>{{info}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
  </div>
</ng-template>
<div class="form-div">
  <form #myForm="ngForm">
      <br>
            <br>
            <div class="infoBox">
                    <div class="headerOfBox">
                      <h4>General Information</h4>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
            
                        <label for="inputState">Name<span class="asterisk">*</span></label>
                        <input type="text" class="form-control" id="lastName" value="{{acronym}}" readonly="readonly">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="lastName"> Updated By</label>
                        <input type="text" class="form-control" id="lastName" value={{updatedBy}} readonly="readonly">
                      </div>
                    </div>
                    <div class="form-row">
                   
                      <div class="form-group col-md-6">
                        <label for="lastUpdatedAt"> Updated Date</label>
                        <input type="text" class="form-control" id="email" value="{{updatedTime}}" readonly="readonly">
                      </div>
                    </div>
                  </div>

    <div class="plus">

      <span class=" title elipsis pull-right" *ngIf="showEdit">
        <a>
          <fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa>
        </a>
      </span>
      <span class=" title elipsis pull-right">
        <a *ngIf="!showForm" (click)="saveRecommendations()" title="Save Audit" class="ng-hide">
          <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
      </span>
      <!-- <span class=" title elipsis pull-right">
          <a>
            <fa class="edit-icon icons" [name]="'edit'"></fa>
          </a>
        </span> -->


<!-- 
      <span class=" title elipsis pull-right">
        <a title="Application audit history">
          <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
      </span> -->

      <span class=" title elipsis pull-right">

        <a (click)="showAudit()" title="Change to view mode. This reverts the changes">
          <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        <!-- <a (click)="showAudit()" title="Go back to audit section.">
          <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
        </a> -->
      </span>


    </div>
    <br>
    <div class="infoBox">
      <div class="headerOfBox">
        <h4>Recommendations</h4>
      </div>

      <fieldset [disabled]="showForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputState" style="margin-top:10px">Recommended by</label>
            <!-- <input type="text" name="lastName" [(ngModel)]="appAudit.recomendedBy" id="recomendedBy" value="enter here"> -->

            <select name="systemOwner" style="width:50%;margin-top:10px" [(ngModel)]="appAudit.recomendedBy" class="form-control" id="searchUsers"
            (change)="appAudit.recomendedBy=$event.target.value" required>
                <option value="" selected>Choose...</option>
                <option *ngFor="let getUser of users" value="{{ getUser.firstName}} {{getUser.lastName }}">{{ getUser.firstName}} {{getUser.lastName }}</option>
            </select>
            
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Estimated completion date</label>
            <my-date-picker  name="estDate" [disabled]='showForm' class="inputState1" (dateChanged)="getEstDate($event)" [(ngModel)]="estDate"></my-date-picker>
          </div>
       

        </div>

        <div class="form-row">
          <h5>Recommendations</h5>
          <br>
          <textarea name="comments"  id="comments" rows="10" class="form-control1" [(ngModel)]="appAudit.recomendations" maxlength="50000" #recomendations="ngModel"> </textarea><!--<div style="float:right">{{50000 - findingComments.value.length}} characters left </div> -->
             <br>
            <div *ngIf="recomendations.errors?.maxlength" style="float:right">
            <span style="color:tomato"> 	Exceeded the character limit. </span>
            </div> 

      </div>
      </fieldset>


    </div>







  </form>
</div>