<div class="form1" style="margin: 4vh 5% 0% 0%;">
  <div style="padding-left: 15%;">
    <img src="assets/img/RMFTransparent.png" usemap="#image-map">

    <map name="image-map">
      <area target="" alt="Prepapre" title="Prepapre" (click)="goTo('rms/rmsdetails/1')" coords="451,448,149" shape="circle">
      <area target="" alt="Assess Control" (click)="goTo('rms/rmsdetails/5')" title="Assess Control" coords="450,749,124"
        shape="circle">
      <area target="" alt="Authorize System" (click)="goTo('rms/rmsdetails/6')" title="Authorize System"  coords="183,600,127"
        shape="circle">
      <area target="" alt="Implement Controls" (click)="goTo('rms/rmsdetails/4')" title="Implement Controls" coords="714,598,120"
        shape="circle">
      <area target="" alt="Select Controls" (click)="goTo('rms/rmsdetails/3')" title="Select Controls" coords="714,297,127"
        shape="circle">
      <area target="" alt="Categorize System" (click)="goTo('rms/rmsdetails/2')" title="Categorize System" coords="452,141,134"
        shape="circle">
      <area target="" alt="Monitor Controls" (click)="goTo('rms/rmsdetails/7')" title="Monitor Controls" coords="187,295,125"
        shape="circle">
    </map>
  </div>
</div>