<div class="form1" style="margin: -90vh 5% 0% 0%;">
  <div style="padding-left: 20%;">
    <img src="assets/img/RMFTransparent.png" usemap="#image-map">

    <map name="image-map">
      <area target="" alt="Prepapre" title="Prepapre" (click)="goTo()" coords="451,448,149" shape="circle">
      <area target="" alt="Assess Control" title="Assess Control" href="AssessControls" coords="450,749,124"
        shape="circle">
      <area target="" alt="Authorize System" title="Authorize System" href="AuthorizeSystem" coords="183,600,127"
        shape="circle">
      <area target="" alt="Implement Controls" title="Implement Controls" href="ImplementControls" coords="714,598,120"
        shape="circle">
      <area target="" alt="Select Controls" title="Select Controls" href="SelectControls" coords="714,297,127"
        shape="circle">
      <area target="" alt="Categorize System" title="Categorize System" href="CategorizeSystem" coords="452,141,134"
        shape="circle">
      <area target="" alt="Monitor Controls" title="Monitor Controls" href="Monitor Controls" coords="187,295,125"
        shape="circle">
    </map>
  </div>
</div>