<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="color:white">Please Select</h4>

    </div>
    <div class="modal-body">
        <!-- <h3><b>Do you want to open:</b></h3> -->
        <!-- <button type="button" class="btn btn-outline-dark" (click)="c();showLocal()">Location</button>
        <button type="button" class="btn btn-outline-dark" (click)="c();showSys()">System</button> -->
    <div class="form-row">
        <div class="col-md-6">
                <div class="card"  (click)="c();showLocal()"
                style="width: 12rem;height:10em;cursor: pointer;margin-left: 14%;margin-right: auto;display: block;">
                <div class="card-body">
                  <div class="card-heading">
                    <h5 class="card-title" style="text-align: center;">Location</h5>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3" style="
                        margin-left: auto;
                        margin-right: auto;
                        display: block;">
                      <i class="fa fa-map-marker fa-3x" style="color:cadetblue"></i>
                    </div>
                    <!-- <div class="col-sm-9 text">
                      Location
                      <hr id="lineSpace">
      
                    </div> -->
                  </div>
      
                </div>
              </div>
        </div>
        <div class="col-sm-6">

                <div class="card"
                style="width: 12rem;height:10em;cursor: pointer;margin-left: 3%;margin-right: auto;display: block;">
                <div class="card-body" (click)="c();showSys()">
                  <div class="card-heading">
                    <h5 class="card-title" style="text-align: center;">System</h5>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3" style="
                    margin-left: auto;
                    margin-right: 47%;
                    display: block;">
                      <i class="fa fa-laptop fa-3x" style="color:cadetblue"></i>
                    </div>
                    <!-- <div class="col-sm-9 text" style="margin-left: 36%;
                    margin-top: -24%;">
                      System
                      <hr id="lineSpace">
      
                    </div> -->
                  </div>
      
                </div>
              </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
    </div>
</ng-template>
<div class="logo">
    <a routerLink="/dashboard" class="simple-text">

        Verity
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item"> -->
        <!-- <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a> -->
        <!-- </li> -->
        <li class="nav-item">

            <a class="nav-link" routerLink="/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Classic View</p>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/locality/map">
                <!-- <i class="material-icons">person</i> -->
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Localities
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkLoc">
                <a class="" routerLink="/locality/map">Create</a>
                <a class="" routerLink="/locality/map">View/Edit</a>
            </div> -->
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkVen" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <i class="material-icons">content_paste</i> -->
                <i class="fa fa-user" aria-hidden="true"></i>
                Certified Vendors
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkVen">
                <a class="" routerLink="/vendors">Create</a>
                <a class="" routerLink="/vendorsView">View/Edit</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <!-- <i class="material-icons">library_books</i> -->
                <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
                Certified Solutions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="" routerLink="/solutions">Create</a>
                <a class="" routerLink="/solutionsView">View/Edit</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="getOpen()">
                <!-- <i class="material-icons">bubble_chart</i> -->
                <i class="fa fa-suitcase fa-3x" aria-hidden="true"></i>
                <p>Audit</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="getOpen()">
                <!-- <i class="material-icons">location_on</i> -->
                <i class="fa fa-check-square-o fa-3x" aria-hidden="true"></i>
                <p>Assessmemt</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/reports">
                <!-- <i class="material-icons">notifications</i> -->
                <i class="fa fa-area-chart fa-3x" aria-hidden="true"></i>
                <p>Reports</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/system/map">
                <!-- <i class="material-icons">notifications</i> -->
                <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                <p>Systems </p>
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSys">
                <a class="" routerLink="/system/tab2/info">Create</a>
                View/Edit</a>
            </div> -->
        </li>



        <li class="nav-item">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkPol" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <i class="material-icons">notifications</i> -->
                <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
                policies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPol">
                <a class="" routerLink="/policy">Create</a>
                <a class="" routerLink="/policyView">View/Edit</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/devicetab">
                <!-- <i class="material-icons">laptop</i> -->
                <i class="fa fa-laptop fa-3x" aria-hidden="true" style="color:slategray"></i>
                <p>Infrastructure Manager</p>
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDev">
                <a class="" routerLink="/deviceInventory">Create</a>
                <a class="" routerLink="/devicetab">View/Edit</a>
            </div> -->
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/resImpactAnalysis">
                <!-- <i class="material-icons">location_on</i> -->
                <i class="fa fa-check-square-o fa-3x" aria-hidden="true"></i>
                <p>Business Impact Analysis</p>
            </a>
        </li>


    </ul>
</div>