body {
  padding: 30px;
 }
 
 /* .can-toggle {
  position: relative;
 }
 .can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
 }
 .can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
 }
 .can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
 }
 .can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
 }
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
 }
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
 }
 .can-toggle label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
 }
 .can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
 }
 .can-toggle label .can-toggle__switch {
  position: relative;
 }
 .can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
 }
 .can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }
 .can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
 }
 .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #777;
 }
 .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #5e5e5e;
 }
 .can-toggle input[type="checkbox"]:hover ~ label {
  color: #6a6a6a;
 }
 .can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #3014ca;
 }
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #3014ca;
 }
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #3014ca;
 }
 .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3014ca;
 }
 .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #3014ca;
 }
 .can-toggle label .can-toggle__label-text {
  flex: 1;
 }
 .can-toggle label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #848484;
 }
 .can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
 }
 .can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
 }
 .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
 }
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
  transform: translate3d(65px, 0, 0);
 }
 .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
 }
 .can-toggle label {
  font-size: 14px;
 }
 .can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
 }
 .can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
 }
 .can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
 }
 .can-toggle label .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.can-toggle--size-small input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
  transform: translate3d(44px, 0, 0);
 }
 .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.can-toggle--size-small label {
  font-size: 13px;
 }
 .can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 28px;
  flex: 0 0 90px;
  border-radius: 2px;
 }
 .can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  left: 45px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
 }
 .can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 1px;
  left: 1px;
  border-radius: 1px;
  width: 44px;
  line-height: 26px;
  font-size: 10px;
 }
 .can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.can-toggle--size-large input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
  transform: translate3d(78px, 0, 0);
 }
 .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.can-toggle--size-large label {
  font-size: 14px;
 }
 .can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
 }
 .can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
 }
 .can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
 }
 .can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
  color: #a23768;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #3014ca;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #3014ca;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #3014ca;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3014ca;
 }
 .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #3014ca;
 }
 .can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
 }
 .can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.3s ease-in-out;
  background: #c14b81;
 }
 .can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
 }
 .can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #444;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #2b2b2b;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
  color: #373737;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
  color: #3014ca;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #3014ca;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #3014ca;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3014ca;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #3014ca;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #515151;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #444;
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(58px, 0, 0);
  transform: translate3d(58px, 0, 0);
 }
 .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 }
 .can-toggle.demo-rebrand-2 label {
  font-size: 13px;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 60px;
  flex: 0 0 120px;
  border-radius: 60px;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 60px;
  font-size: 13px;
  line-height: 60px;
  width: 60px;
  padding: 0 12px;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 56px;
  font-size: 13px;
 }
 .can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
 } */
 
 
 ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

h2 {
  color: #777;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
 width:44%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}


.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: gray;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}


 
 
 
 
 
 
 
 
 
 
 .plus{
   float:right;
  font-size: 20px;
  margin-right: 20px;
  color: black;
 }
 
 
 .modal-header{
   background-color: black;
   color: #ffffff;
 }
 
 .radio{ padding:5px;
  color:#222;
  font-family:corbel,sans-serif;
  font-size: 14px;
  margin: 10px;
 }
 
 
 .modal-title{
   background-color: black;
   color: #ffffff;
 }
 
 .confbtn{
  margin-left: auto;
  margin-right: auto;
  background-color: black;
   border-color: black
 }
 
 
 
 .clear-right {
   clear:right;
   overflow: hidden;
 }
 
 table {
  border: 1px solid black;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  
 }
 
 tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
 }
 tbody tr:nth-of-type(even) {
  background-color: #ffffff !important;
 }
 
 
 .page-description{
  text-align: center;
  /*padding: 2%;*/
  margin-top: 0px;
  margin-bottom: 10px;
 }
 
 @keyframes slideInFromCenter {
  0% {
  transform: scale(0,1);
  }
  100% {
  transform: scale(1,1);
  }
 }
 
 .after-heading{
   width: 10%;
   margin: auto;
   background-color: black;
   animation: 1s ease-out 0s 1 slideInFromCenter;
 }
 
 /*.after-heading:hover{
   transform: scale(1, 1);
   transition: right 0.5s;
 }*/
 
 .tip{
  width: 100%;
 }
 
 .tip-text{
  background-color: #F8FFAE;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
  color: black;
 }
 
 .light-bulb{
  margin-right: 3px;
  padding: 2px;
  margin-left: 3px;
  color: black;
 }
 
 table{
   background-color: #ffffff;
   text-align: center;
   border: 1px solid black;
 }
 
 .table-bordered tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
   border: 1px solid black;
 }
 
 tbody tr:nth-of-type(odd){
   background-color: #EEEEEE !important;
 }
 
 
 table thead th{  white-space: pre-wrap;
   font-weight: 500;
   color: black;
   border: 1px solid black;
  background: rgb(76,76,76); /* Old browsers */
 background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 }
 th{  white-space: pre-wrap;
  text-align:center;
  background: rgb(76,76,76); /* Old browsers */
 background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 color: #ffffff;
 }
 
 table thead tr td{ word-wrap: break-word;
   color: black;
 }
 
 .table-bordered td, .table-bordered th {
  border: 1px solid black;
 }
 
 
 
 #searchtable table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
 }
 
 
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  
  color: black;
 }
 
 
 
 .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
 }
 
 
 
 
 
 .asterisk{
   display: inline;
   color: red;
   margin-left: 2px;
 }
 
 
 i.fa {
  text-decoration: none !important;
  padding: 5px 4px;
 }
 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  }
 
 
 .nav-link{
 color: black;
 margin-left: 10px;
 }
 .icons{
   color:black;
  vertical-align: middle;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 2px;
  margin-right: 20px;
 }
 
 #form {
  background-color: #FFF;
  height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  text-align:center;
 }
 label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
 }
 input {
  
  border: 1px solid #000;
  margin-top: 10px;
  float: left;
 
 
  box-sizing: border-box;
 width:44%;
  line-height: 2em;
  border: 1px solid #AAA;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
 }
 input[type=button] {
  float:none;
 }
 

 
 
 
 .line {
 margin: 0.5rem 0 0.5em;
  line-height:1.5em;
  padding:0;
  color:rgb(0, 0, 0);
  font-weight: 100;
  font-size:20px;
  position:relative;
  overflow:hidden;
  text-align:center;
 }
 .line:before,.line:after {
  content:" ";
  position:absolute;
  top:50%;
  margin-left:-999em;
  height:2px;
  width:998em;
  border-top:1px solid rgb(0, 0, 17);
  background:rgba(0,0,0,0.2);
  
 }
 .line:after {
  left:auto;
  width:999em;
  margin:0 0 0 1em;
 }
 
 #colorWhite{
  color:white;
 }
 
 /* #form1{
 
  border-radius: 10px;
  border: 1px solid;
  margin: -1% 7% 0% 5%;

 
 .line1 {
  margin: 0.5rem 0 0.5em;
  line-height:1.5em;
  padding:0;
  color:rgb(0, 0, 0);
  text-shadow:1px 1px 1px #000;
  font-size:27px;
  position:relative;
  overflow:hidden;
  text-align:center;
  }
  .line1:before,.line1:after {
  content:" ";
  position:absolute;
  top:50%;
  margin-left:-999em;
  height:2px;
  width:998em;
  border-top:1px solid rgb(0, 0, 17);
  background:rgba(0,0,0,0.2);
  }
  .line1:after {
  left:auto;
  width:999em;
  margin:0 0 0 1em;
  }
 
  /* .infoBox{
  padding:3%;
  border: 2px solid;
  margin:-1%;
  min-width:100%;
  display: inline-block;
 
 } */
 


 .former {
  padding: 15px;
  border-radius: 10px;
   border: none; 
  margin: 20px;
  background-color: inherit;
   box-shadow: none;
}

textarea{
  overflow: hidden;
}

#ngxSummernote{
  overflow: hidden;
}

#patches{
  overflow: hidden;
}

#checkBoxId{
  margin: 8px;
  width: 4%;
  /* height: 0%; */
  font-size: 200;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  margin-right: -1%;
  
  }
 
 