<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Info</h4>
	</div>
	<div class="modal-body">
		<p>{{contentData}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
	</div>
</ng-template>
	<div class="plus" style="float:right" >
		<i *ngIf="showEditButton && !isShow" class="fa fa-edit"
			data-delay="0"  style="font-size: 24px;" (click)="editClick()"></i>
	</div>

<div>
	<form #formName="ngForm" id="myForm"  (ngSubmit)="createLocality()"
		enctype="multipart/form-data">

		<div id="form1">
			<div class="disclaimer"><span>Please use this screen to add locality information.</span>&nbsp;&nbsp;&nbsp;
				<span style="float:right">
					<font color=red>*</font> marked fields are mandatory
				</span> </div>
			<fieldset [disabled]="editableForm">
				<div class="infoBox">
					<div class="form-row headerOfBox">
						<h4>General Information</h4>
					</div>

					<div class="form-row" *ngIf="showEditButton">
						<div class="form-group col-md-6">

							<label for="inputState"> Updated By</label>

							<input type="text" class="form-control" name="updatedBy" [(ngModel)]="locality.updatedBy"
								readonly>
						</div>
						<div class="form-group col-md-6">
							<label for="lastName"> Updated At</label>

							<input type="text" class="form-control" name="updatedTime" [(ngModel)]="updatedTime"
								readonly>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">

							<label for="inputState">Locality Name <span class="asterisk">*</span></label>

							<input type="text" class="form-control" name="acronym" [(ngModel)]="locality.acronym"
								readonly="readonly" required>
						</div>

						<div class="form-group col-md-6">
							<label for="lastName">FIPS Code</label>
							<input type="text" class="form-control" ngModel name="fipsCd" [(ngModel)]="locality.fipsCd"
								readonly>
						</div>

					</div>

				</div>

				<div class="infoBox">
					<div class="form-row headerOfBox">
						<h4>Contact Information</h4>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">

							<label for="inputState">First Name <span class="asterisk">*</span></label>

							<input type="text" class="form-control" ngModel name="firstName"
								[(ngModel)]="locality.firstName" required>
						</div>
						<div class="form-group col-md-6">
							<label for="lastName">Last Name<span class="asterisk">*</span></label>

							<input type="text" class="form-control" ngModel name="lastName"
								[(ngModel)]="locality.lastName" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="form-row">
								<label for="lastName">Email Id <span class="asterisk">*</span></label>
								<input type="email" class="form-control"
									pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email"
									[(ngModel)]="locality.emailId" #email="ngModel" required>
							</div>
							<div class="form-row">
								<div class="help-block" style="color:red;padding-left:43%;"
									*ngIf="email.errors?.required && email.dirty">
									Email is required
								</div>
							</div>
							<div class="form-row">
								<div class="help-block" style="color:red;padding-left:43%;"
									*ngIf="email.errors?.pattern">
									format: example@email.com</div>
							</div>
							<!-- <input type="text" class="form-control" ngModel name="emailId" [(ngModel)]="locality.emailId" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"> -->
						</div>
						<div class="form-group col-md-6">
							<div class="form-row">
								<label for="email">Phone Number<span class="asterisk">*</span></label>
								<input type="tel" class="form-control" name="phoneNumber" #phoneNumber="ngModel"
									(keydown)="getPhoneNumber($event,$event.target.value)"
									[ngModel]="locality.phoneNumber" pattern="^\d{3}[-]\d{3}[-]\d{4}$"
									placeholder="xxx-xxx-xxxx" required maxlength="12" minlength="12"
									(change)="getNumber($event.target.value)" onlyInteger autocomplete="off">
							</div>
							<div class="form-row">
								<div *ngIf="phoneNumber.touched && phoneNumber.errors?.required"
									style="color:red;padding-left:43%">

									Phone Number is required

								</div>
							</div>
							<div class="form-row">
								<div *ngIf="phoneNumber.dirty && phoneNumber.errors?.pattern"
									style="color:red;padding-left:43%">
									Example: 123-456-7890

								</div>
							</div>

						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="form-row">
								<label for="url">Website Address <span class="asterisk">*</span></label>
								<input type="url" class="form-control"
									pattern="^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$"
									id="url" name="url" #url="ngModel" [(ngModel)]="locality.website" required>
							</div>
							<div class="form-row">
								<div *ngIf="url.errors?.required && url.touched" style="color:red;padding-left: 43%;">
									URL is required!
								</div>
							</div>
							<div class="form-row">
								<div *ngIf="url.errors?.pattern && url.dirty" style="color:red;padding-left: 43%;">
									Must be a valid URL!
								</div>
							</div>

						</div>
						<div class="form-group col-md-6">
							<label for="email">Veris Id<span class="asterisk">*</span></label>
							<input type="text" class="form-control" maxlength="10" ngModel name="verisId"
								[(ngModel)]="locality.verisId" required>
						</div>
					</div>
				</div>

				<div class="infoBox">
					<div class="form-row headerOfBox">
						<h4>Other Information</h4>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<ul class="tg-list">

								<li class="tg-list-item">
									<h4>Central Absentee Perceived(CAP)</h4>
									<input class="tgl tgl-flip" id="c" name="capInd" [(ngModel)]="locality.capInd"
										[checked]="locality.capInd" type="checkbox" />
									<label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="c"></label>
								</li>
							</ul>
						</div>

						<div class="form-group col-md-6">
							<ul class="tg-list">
								<li class="tg-list-item">
									<h4>Bail Out</h4>
									<input class="tgl tgl-flip" id="cb5" name="bailout"
										[(ngModel)]="locality.bailoutInd" [checked]="locality.bailoutInd"
										type="checkbox" />
									<label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="cb5"></label>
								</li>
							</ul>
						</div>
					</div>
					<hr />
					<div class="form-row">

						<div class="form-group col-md-6">


							<ul class="tg-list">
								<li class="tg-list-item">
									<h4>Poll Book</h4>
									<input class="tgl tgl-flip" id="cb6" name="pollbook"
										[(ngModel)]="locality.paperPollbook" [checked]="locality.paperPollbook"
										type="checkbox" />
									<label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="cb6"></label>
								</li>
							</ul>
						</div>

						<div class="form-group col-md-6">

							<ul class="tg-list">
								<li class="tg-list-item">
									<h4>Electronic Poll Book</h4>
									<input class="tgl tgl-flip" id="cb7" name="electronicPollbook"
										[(ngModel)]="locality.electronicPollbook"
										[checked]="locality.electronicPollbook" type="checkbox" />
									<label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="cb7"></label>
								</li>
							</ul>
						</div>
					</div>
					<hr>
					<div class="form-row">

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4>Region</h4>
						<input type="checkbox" name="vebaRegion" [(ngModel)]="locality.vebaRegion" id="checkBoxId">VEBA
						region &nbsp;&nbsp;
						<input type="checkbox" name="vravRegion" [(ngModel)]="locality.vravRegion" id="checkBoxId">VRAV
						region

					</div>

				</div>


				<div class="infoBox">
					<div class="form-row headerOfBox">
						<h4>Hours of Operation</h4>
					</div>

					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col" id="colorWhite">Day</th>
								<th scope="col" id="colorWhite">Start Time</th>
								<th scope="col" id="colorWhite">End Time</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let day of locality.workHoursDTOs;let i = index;">
								<td>{{day.day}}</td>
								<td><input type="time" id="{{day.openTm}}" name="{{day.openTm}}"
										[(ngModel)]="day.openTm" [ngModelOptions]="{standalone:true}" min="9:00"
										max="18:00" required (input)="time = $event.target.value"
										[attr.disabled]="day.day === 'Sunday'? '' : null" />
									To </td>
								<td><input type="time" id="{{day.closeTm}}" name="{{day.closeTm}}" min="9:00"
										max="18:00" [(ngModel)]="day.closeTm" [ngModelOptions]="{standalone:true}"
										required (input)="time = $event.target.value"
										[attr.disabled]="day.day === 'Sunday'? '' : null" /></td>
							</tr>
						</tbody>
					</table>
					<!-- <button type="submit" class="btn btn-primary" (click)="setTime()">Submit</button> -->
				</div>


				<div class="infoBox">
					<div class="form-row headerOfBox">
						<h4>Notes</h4>
					</div>
					<textarea id="ngxSummernote" [ngxSummernote]="config" rows="10"
						[ngxSummernoteDisabled]="editableForm" class="form-control" name="notes"
						[(ngModel)]="locality.notes" maxlength="50000" #notes="ngModel"
						(keyup)="count(notes)"> </textarea>
					<br>
					<div *ngIf="notes.errors?.maxlength" style="float:right">
						<span style="color:tomato"> Exceeded the character limit. </span>
					</div>

				</div>
			</fieldset>

		</div>
	</form>
	<div class="buttons" style="margin-right:5%;">
		<button type="submit" form="myForm" class="submit btn btn-primary" [disabled]="!formName.valid"
			*ngIf="isShow">Submit</button>
		<button type="cancel" (click)="d($event)" class="cancel btn btn-primary">Cancel</button>
	</div>
</div>