<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Success</h4>
		<!--   <button type="button" class="close" aria-label="Close" (click)="d()"> -->
		<!--     <span aria-hidden="true">&times;</span> -->
		<!--   </button> -->
	</div>
	<div class="modal-body">
		<p>{{contentData}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
	</div>
</ng-template>
<div class="save-edit" style="float: right" *ngIf="showEditButton && !isShow">
	<fa class="edit-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0"
	 [name]="'edit'" (click)="editClick()"></fa>
</div>

<form #formName="ngForm" class="former clear-right" (ngSubmit)="createLocality()" enctype="multipart/form-data">
	<fieldset [disabled]="editableForm">


		<div class="tip">
			<p class="tip-text">
				<fa class="light-bulb" [name]="'lightbulb-o'"></fa>
				Tip:
			</p>
		</div>
		<h5>General Information</h5>
		<div class="form-row" *ngIf="showEditButton">
			<div class="form-group col-md-6">

				<label for="inputState">Last Updated by</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">Updated at</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="updatedTime" [(ngModel)]="updatedTime" readonly>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">Locality Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="acronym" [(ngModel)]="locality.acronym" readonly="readonly">
			</div>
			<!-- <div class="form-group col-md-6">

				<label for="inputState">Locality Code</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" ngModel name="localityCd"
					[(ngModel)]="locality.localityCd" required>
			</div> -->
			<div class="form-group col-md-6">
				<label for="lastName">FIPS Code</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" ngModel name="fipsCd" [(ngModel)]="locality.fipsCd" readonly>

			</div>

		</div>
		<!-- <div class="form-row">

			
		</div> -->
		<hr />
		<h5>Contact Information</h5>
		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">First Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" ngModel name="firstName" [(ngModel)]="locality.firstName" required
				 appOnlyInteger>
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">Last Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" ngModel name="lastName" [(ngModel)]="locality.lastName" required
				 appOnlyInteger>
			</div>
		</div>



		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="lastName">Email Id</label>
				<div class="asterisk">*</div>
				<input type="email" class="form-control" [email]="locality.emailId!==''" name="email" [(ngModel)]="locality.emailId" #email="ngModel" required>
                      <span class="help-block" style="color:red"
                 *ngIf = "email.errors?.required && email.touched">
                Email is required 
                 </span>
                 <span class="help-block" style="color:red"
                 *ngIf = "email.errors?.email && email.touched">
                Email is invalid
                 </span>
                 
							</div>
			<div class="form-group col-md-6">

				<label for="email">Phone No</label>
				<div class="asterisk">*</div>
				<input type="tel" class="form-control" ngModel name="phoneNumber" (keydown)="getPhoneNumber($event,$event.target.value)"
				 [ngModel]="locality.phoneNumber" placeholder="xxx-xxx-xxxx" required maxlength="12" minlength="12">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="url">Website Address</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control"  id="url" pattern="https?://.+"  name="url" #url="ngModel" [(ngModel)]="locality.website" required>
			<div *ngIf="url.errors && (url.dirty || url.touched)">
			<div [hidden]="!url.errors.required" style="color:red">
          URL is required!
        </div>
        <div [hidden]="!url.errors.pattern" style="color:red">
          Must be a valid URL!
        </div>
		</div>
			</div>
			
			
	
<div class="form-group col-md-6">
				<label for="email">Veris Id</label>
				<div class="asterisk">*</div>
				<input type="text" id="verisId" pattern="[0-9]{5}" class="form-control" maxlength="10" name="verisId" #verisId="ngModel" [(ngModel)]="locality.verisId" required>
				<div *ngIf="verisId.errors && (verisId.dirty || verisId.touched)">
			<div [hidden]="!verisId.errors.required" style="color:red">
          Veris Id is required!
        </div>
        <div [hidden]="!verisId.errors.pattern" style="color:red">
          Must be  10 numbers!
        </div>
		</div>
				
			</div>

		</div>
		<hr />
		<h5>Other Information</h5>
		<br>
		<div class="form-row">
			<div class="form-group col-md-6">
		
		
		<div class="toggle-group">
<label for="ons">
        <span class="aural">Show:</span>Central Absentee Perceived(CAP)
    </label>
    <input type="checkbox" name="ons" id="ons" [(ngModel)]="locality.capInd" tabindex="1" [checked]="locality.capInd">
 
  
    <div class="onoffswitch" aria-hidden="true">
        <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </div>
    </div>
</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
			</div>
		</div>
	
		
		<div class="form-row">
			<div class="form-group col-md-6">
				





	


<div class="toggle-group">
<label for="on-swit">
        <span class="aural">Show:</span>Bail out
    </label>
    <input type="checkbox" name="on-swit" id="on-swit" [(ngModel)]="locality.bailoutInd" tabindex="1" [checked]="locality.bailoutInd">
 
  
    <div class="onoffswitch" aria-hidden="true">
        <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </div>
    </div>
</div>










			</div>
		</div>

		<hr />

		<div class="form-row">

			<div class="form-group col-md-6">

				<p>
					<b>Hours of operation</b>
				</p>

				<table class="table table-striped table-hover table-bordere">
					<thead>
						<tr>
							<th scope="col">Day</th>
							<th scope="col">Time</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let day of locality.workHoursDTOs;let i = index;">
							<th>{{day.day}}</th>
							<td><label for="appt-time">Time</label> <input type="time" id="{{day.openTm}}" name="{{day.openTm}}" [(ngModel)]="day.openTm"
								 [ngModelOptions]="{standalone:true}" min="9:00" max="18:00" required (input)="time = $event.target.value" />
								To <label for="appt-time"></label> <input type="time" id="{{day.closeTm}}" name="{{day.closeTm}}" min="9:00"
								 max="18:00" [(ngModel)]="day.closeTm" [ngModelOptions]="{standalone:true}" required (input)="time = $event.target.value" /></td>
						</tr>
					</tbody>
				</table>
				<!-- <button type="submit" class="btn btn-primary" (click)="setTime()">Submit</button> -->
			</div>
		</div>


		<hr />
		<label>Region</label>
		<div class="asterisk">*</div>

		<div class="form-row">

			<div class="form-group col-md-6">


				<input type="checkbox" name="vebaRegion" [(ngModel)]="locality.vebaRegion">VEBA region<br> <input type="checkbox"
				 name="vravRegion" [(ngModel)]="locality.vravRegion">VRAV
				region
			</div>



		</div>
		<hr />

		<h5>PollBook</h5>

		
		<br>
	
		<div class="form-row">
			<div class="form-group col-md-6">
<div class="toggle-group">
<label for="on-switch">
        <span class="aural">Show:</span>Paper PollBook
    </label>
    <input type="checkbox" name="on-switch" id="on-switch" [(ngModel)]="locality.paperPollbook" tabindex="1" [checked]="locality.paperPollbook">
 
  
    <div class="onoffswitch" aria-hidden="true">
        <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </div>
    </div>
</div>
				

			</div>
			
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
  </div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		
		<label for="email">Electronic PollBook</label>
		<br>
		
		<div class="form-row">
			<div class="form-group col-md-6">
				
				 <br>
				 <div class="toggle-group">
<label for="on-off-switch">
        <span class="aural">Show:</span>Electronic PollBook
    </label>
    <input type="checkbox" name="on-off-switch" id="on-off-switch" [(ngModel)]="locality.electronicPollbook" tabindex="1" [checked]="locality.electronicPollbook">
 
  
    <div class="onoffswitch" aria-hidden="true">
        <div class="onoffswitch-label">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </div>
    </div>
</div>
				 
				 
				 
				 
				 
				 
				 
				 
				 
				 
			</div>
		</div>

		<hr />

		<p>
			<b>Notes</b>
		</p>
		<textarea name="" id="" rows="10" class="form-control" name="notes" [(ngModel)]="locality.notes"></textarea>
	</fieldset>
	<div class="buttons">

		<button type="submit" class="submit btn btn-primary" [disabled]="!formName.valid" *ngIf="isShow">Submit</button>
		<button type="cancel" (click)="d($event)" class="cancel btn btn-primary">Cancel</button>
	</div>

</form>