<div class="my-container">

</div>

<app-navigation-component></app-navigation-component>


<div class="navigate sticky-top" style="padding-top: 1.5em;"
  [ngStyle]="{'backgroundColor': getColor(), 'opacity': getOpacity()}">
  <div class="form-options">
    <div class="home-back">

      <a href="javascript:void(0)" (click)="backClicked()">
        <fa class="left-icons left-icon icons" data-toggle="tooltip" data-placement="right" title="Back"
          data-animation="true" data-delay="0" [name]="'arrow-left'"></fa>
      </a>
    </div>
  </div>
</div>


<h3>Create Your Own Question</h3>
<hr>
<div id="form1">
  <div class="container">
    <form #editForm="ngForm">
      <div class="infoBox">
        <div class="headerOfBox">Question and Answer</div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="first">Question</label><br><br>
              <input type="text" class="form-control" placeholder="" id="first" style="width:200% !important">
            </div>
          </div>

        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="company">Answer</label><br><br>
              <textarea type="text" class="form-control" placeholder="" id="company"
                style="width:200% !important"></textarea>
            </div>

          </div>
        </div>
      </div>


      <div class="infoBox">
        <div class="headerOfBox">Comments and Evidences</div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="company">Comments</label><br><br>
              <textarea type="text" class="form-control" placeholder="" id="company"
                style="width:200% !important"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="company">Evidences</label><br><br>
              <input type="file" style="width:200px">
            </div>
          </div>
        </div>
      </div>


      <div class="infoBox">
        <div class="headerOfBox"> Assignment</div>
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="email">Assigned To</label><br><br>
              <select class="form-control"></select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Assigned On</label><br><br>
              <my-date-picker class="inputState1"></my-date-picker>
            </div>
          </div>
        </div>
      </div>

      <div class="infoBox">
          <div class="headerOfBox">Audit Findings</div>
        <div class="form-row">

          <textarea cols="156" [ngxSummernote]="" [ngxSummernoteDisabled]="" rows="7" id="patches"
             [name]="'policy_description'" maxlength="50000"
            > </textarea>
          <!--<div style="float:right">{{50000 - description.value.length}} characters left </div> -->
          <br>
         

        </div>
      </div>

      <div class="infoBox">
        <div class="headerOfBox">Antecedence</div>
        <div class="row">
          <div class="col-md-6">
            <label>Impact Analysis</label><br><br>
            <select class="form-control">
              <option>Very High</option>
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
              <option>Very Low</option>
            </select>
          </div>

          <div class="col-md-6">
            <label>Priority</label><br><br>
            <select class="form-control">

              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </div>

        </div>
      </div>

      <div class="infoBox">
        <div class="headerOfBox">Score</div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label>Weightage</label><br><br>
              <div class="col-md-3"><input type="number" name="weightN" class="form-control" placeholder=""
                  (change)="getNum()" [(ngModel)]="weightageN" id="first" style="width:200% !important"></div>
             
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label>Score</label><br><br>
              <div class="col-md-3"><input type="number" class="form-control" name="test" (change)="getRealScore()"
                  placeholder="" [(ngModel)]="scoreN" id="first" style="width:200% !important"></div>
              
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <label>Net score</label><br><br>
              <div class="col-md-3">
                <input type="number" class="form-control" name="realScore" [(ngModel)]="realScore" placeholder=""
                  id="first" style="width:200% !important">

              </div>
             
            </div>
          </div>
        </div>
      </div>




    </form>
  </div>
</div>

<div style="margin-right:5%">
  <button type="submit" form="myForm" [disabled]="!editForm.valid" class="submit btn btn-primary">Submit</button>
  <button type="cancel" class="cancel btn btn-primary" (click)=" backClicked()">Cancel</button>
</div>