<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Policy File</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <form #myFileForm="ngForm">
          <label class="input">
            <input type="file" name="file" ngModel file-model="attachment" data-btn-text="Select a File"
              accept=".pdf,.doc,.docx" #fileInput (change)="getFile($event)" required>

          </label>
        </form>
      </div>

    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    <button type="savebtn" [disabled]="!myFileForm.valid" class="btn btn-outline-dark"
      (click)="compareFile();c()">Compare</button>
  </div>
</ng-template>


<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Info</h4>
  </div>
  <div class="modal-body">
    <p>{{info}}</p>
  </div>
  <div class="modal-footer">
    <button *ngIf="!showButton" type="button" class="btn btn-outline-dark confbtn" (click)="c();redirect()">Ok</button>
    <button *ngIf="showButton" type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
  </div>
</ng-template>




<div>


  <div class="form-div">
    <form #myForm="ngForm">
      <fieldset [disabled]="showInitial">

        <div class="plus">


          <span class=" title elipsis pull-right" *ngIf="showEdit">
            <a>
              <fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa>
            </a>
          </span>

          <span *ngIf="showLegalBox" class=" title elipsis pull-right">
            <a (click)="saveAudit()" *ngIf="myForm.valid">
              <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
            </a>
          </span>

          <!-- <span class=" title elipsis pull-right">
              <a (click)="showHist()" title="Application audit history">
                <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
            </span> -->

          <span class=" title elipsis pull-right">

            <a (click)="showAudit()" title="Change to view mode. This reverts the changes">
              <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
            </a>
            <!-- <a (click)="showAudit()" title="Go back to audit section.">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
              </a> -->
          </span>


        </div>


        <div class="infoBox">
          <div class="headerOfBox">
            <h4>Audit Details</h4>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">

              <label for="inputState">Definitive Source<span class="asterisk">*</span></label>
              <input *ngIf="!showOriginal" type="text" class="form-control" name="auditName"
                [(ngModel)]="appAudit.auditTypeName" readonly>
              <select *ngIf="showOriginal" style="width:50%;" class="form-control" ngModel id="definitiveSource"
                required name="auditName" (change)="selectDefinitive($event.target.value)">
                <option value="">Choose...</option>
                <option *ngFor="let auditType of auditTypes" value="{{ auditType.auditTypeId }}">{{ auditType.auditTypeName
                }}</option>
              </select>
              <span class="asterisk">{{policyErr}}</span>
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Type/Policy<span class="asterisk">*</span></label>
              <input *ngIf="!showOriginal" type="text" class="form-control" name="policyId" [(ngModel)]="polName"
                readonly>
              <select *ngIf="showOriginal" style="width:50%;" class="form-control" ngModel id="typePolicy"
                name="policyId" required (change)="selectType($event.target.value)">
                <option value="">Choose...</option>
                <option *ngFor="let policyType of  policyTypes" value="{{ policyType.policyGrpId }}">{{ policyType.policyGrpName
                }}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="lastName">Audit Name<span class="asterisk">*</span></label>
              <input *ngIf="!showOriginal" type="text" class="form-control" id="lastName" name="auditType" value=""
                [(ngModel)]="appAudit.auditType" readonly>
              <input *ngIf="showOriginal" ngModel type="text" class="form-control" id="lastName" name="auditType"
                value="" [(ngModel)]="appAudit.auditType" required>
            </div>

            <div class="form-group col-md-6">
              <label for="lastName">Audit Date<span class="asterisk">*</span></label>
              <input *ngIf="!showOriginal" type="text" class="form-control" name="vauditDate" [(ngModel)]="vauditDate"
                readonly>
              <my-date-picker ngModel *ngIf="showOriginal" name="auditDate" id="auditDate" class="inputState1"
                (dateChanged)="getAuditDate($event)" [(ngModel)]="auditDate" required></my-date-picker>


            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dueDate">Next Audit Date<span class="asterisk">*</span></label>
              <my-date-picker name="nextDate" [options]="myDatePickerOptions" id="nextDate" class="inputState1" ngModel
                (dateChanged)="getDate($event)" [(ngModel)]="nextDate" required></my-date-picker>
            </div>
            <div class="form-group col-md-6">

              <label for="inputState">Overall Status<span class="asterisk">*</span></label>
              <input *ngIf="!showOriginal && showStatus1" type="text" class="form-control" name="overallStatus"
                [(ngModel)]="appAudit.status">
              <select *ngIf="showOriginal || showStatus" style="width:50%;" ngModel id="modelSolution"
                [(ngModel)]="appAudit.status" class="form-control" name="overallStatus"
                (change)="getNextDate($event.target.value)" required>
                <option value="">Choose...</option>
                <option value="Open">Open</option>
                <option value="Suspended">Suspended</option>
                <option value="Close">Close</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputState">Audit Level Score <span class="asterisk"></span></label>
              <input type="text" class="form-control" name="overallScore" [(ngModel)]="appAudit.overallScore"
                readonly />
            </div>

            <div class="form-group col-md-6">
              <label for="inputState">Risk Level <span class="asterisk"></span></label>
              <input type="text" class="form-control" name="riskLevel" [(ngModel)]="appAudit.overallRiskLevel"
                readonly />
            </div>
          </div>

          <div class="form-row">
            <table class="table table-striped table-hover table-bordere">
              <th>Open</th>
              <th>Close</th>
              <th>Evidences not submitted</th>
              <th>> 90</th>
              <th>75-89 </th>
              <th>
                < 74 </th> <th>Audit Findings
              </th>

              <tbody>
                <tr>
                  <td>
                    <a (click)="showOpen()">
                      {{appAudit.openCount}} </a>
                  </td>
                  <td>
                    <a (click)="showClose()">
                      {{appAudit.closeCount}} </a>
                  </td>
                  <td>
                    <a (click)="showEvidenceNotSubmittedCount()">
                      {{appAudit.evidenceNotSubmittedCount}} </a>
                  </td>
                  <td style="color:green">
                    <a (click)="show89()">
                      {{appAudit.scoreAbove89Count}} </a>
                  </td>
                  <td style="color:orange">
                    <a (click)="show74()">
                      {{appAudit.scoreAbove74Count}} </a>
                  </td>
                  <td style="color:tomato">
                    <a (click)="show50()">
                      {{appAudit.scoreAbove50Count}} </a>
                  </td>

                  <td>
                    {{appAudit.auditFindingsCount}}
                  </td>

                </tr>
              </tbody>

            </table>

          </div>

          <br>
          <table class="table table-bordered" *ngIf="showAbove89">
            <thead>
              <tr>
                <th sortable="controlNumber" (sort)="get89Sort($event)">Control Number</th>

                <th sortable="familyName" (sort)="get89Sort($event)">Family Name</th>

                <th sortable="policyName" (sort)="get89Sort($event)">Policy</th>

                <th sortable="priority" (sort)="get89Sort($event)">Priority</th>

                <th sortable="netScoreN" (sort)="get89Sort($event)">Score</th>

                <th sortable="status" (sort)="get89Sort($event)">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let policy of appAudit.auditsAbove89 | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalAudits}">

                <td>
                  <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
                </td>
                <td>{{ policy.familyName }}</td>
                <td>{{ policy.policyName }}</td>
                <td>{{ policy.priority }}</td>
                <td>{{policy.netScoreN}}</td>




                <td><i [ngClass]="{'primary':policy.status === 'true',
              'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
              </tr>
            </tbody>
          </table>

           <table class="table table-bordered" *ngIf="showAbove74">
            <thead>
              <tr>

                <th sortable="controlNumber" (sort)="get74Sort($event)">Control Number</th>

                <th sortable="familyName" (sort)="get74Sort($event)">Family Name</th>

                <th sortable="policyName" (sort)="get74Sort($event)">Policy</th>

                <th sortable="priority" (sort)="get74Sort($event)">Priority</th>

                <th sortable="netScoreN" (sort)="get74Sort($event)">Score</th>

                <th sortable="status" (sort)="get74Sort($event)">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let policy of appAudit.auditsAbove74 | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalAudits }">

                <td>
                  <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
                </td>
                <td>{{ policy.familyName }}</td>
                <td>{{ policy.policyName }}</td>
                <td>{{ policy.priority }}</td>
                <td>{{policy.netScoreN}}</td>




                <td><i [ngClass]="{'primary':policy.status === 'true',
              'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered" *ngIf="showAbove50">
            <thead>
              <tr>
                <th sortable="controlNumber" (sort)="getSort($event)">Control Number</th>
                <th sortable="familyName" (sort)="getSort($event)">Family Name</th>
                <th sortable="policyName" (sort)="getSort($event)">Policy</th>
                <th sortable="priority" (sort)="getSort($event)">Priority</th>
                <th sortable="netScoreN" (sort)="getSort($event)">Score</th>
                <th sortable="status" (sort)="getSort($event)">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let policy of appAudit.auditsAbove50 | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalAudits }">

                <td>
                  <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
                </td>
                <td>{{ policy.familyName }}</td>
                <td>{{ policy.policyName }}</td>
                <td>{{ policy.priority }}</td>
                <td>{{policy.netScoreN}}</td>




                <td><i [ngClass]="{'primary':policy.status === 'true',
              'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered" *ngIf="evNotList">
          <thead>
            <tr>
              <th sortable="controlNumber" (sort)="getEVSort($event)">Control Number</th>
              <th sortable="familyName" (sort)="getEVSort($event)">Family Name</th>
              <th sortable="policyName" (sort)="getEVSort($event)">Policy</th>
              <th sortable="priority" (sort)="getEVSort($event)">Priority</th>
              <th sortable="netScoreN" (sort)="getEVSort($event)">Score</th>
              <th sortable="status" (sort)="getEVSort($event)">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let policy of appAudit.evnAuditPolicies | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalAudits }">
  
              <td>
                <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
              </td>
               <td>{{ policy.familyName }}</td>
              <td>{{ policy.policyName }}</td>
              <td>{{ policy.priority }}</td>
              <td>{{policy.netScoreN}}</td>
            
            
  
  
              <td><i [ngClass]="{'primary':policy.status === 'true',
              'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
            </tr>
          </tbody>
        </table>

           <table class="table table-bordered" *ngIf="openList">
          <thead>
            <tr>
              <th sortable="controlNumber" (sort)="getOpenSort($event)">Control Number</th>
              <th sortable="familyName" (sort)="getOpenSort($event)">Family Name</th>
              <th sortable="policyName" (sort)="getOpenSort($event)">Policy</th>
              <th sortable="priority" (sort)="getOpenSort($event)">Priority</th>
              <th sortable="netScoreN" (sort)="getOpenSort($event)">Score</th>
              <th sortable="status" (sort)="getOpenSort($event)">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let policy of appAudit.openAuditPolicies | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalAudits }">
  
              <td>
                <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
              </td>
               <td>{{ policy.familyName }}</td>
              <td>{{ policy.policyName }}</td>
              <td>{{ policy.priority }}</td>
              <td>{{policy.netScoreN}}</td>
            
            
  
  
              <td><i [ngClass]="{'primary':policy.status === 'true',
              'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
            </tr>
          </tbody>
        </table>

           <table class="table table-bordered" *ngIf="closeList">
          <thead>
            <tr>
              <th sortable="controlNumber" (sort)="getCloseSort($event)">Control Number</th>
              <th sortable="familyName" (sort)="getCloseSort($event)">Family Name</th>
              <th sortable="policyName" (sort)="getCloseSort($event)">Policy</th>
              <th sortable="priority" (sort)="getCloseSort($event)">Priority</th>
              <th sortable="netScoreN" (sort)="getCloseSort($event)">Score</th>
              <th sortable="status" (sort)="getCloseSort($event)">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let policy of appAudit.closedAuditPolicies | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalAudits }">
  
              <td>
                <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
              </td>
               <td>{{ policy.familyName }}</td>
              <td>{{ policy.policyName }}</td>
              <td>{{ policy.priority }}</td>
              <td>{{policy.netScoreN}}</td>
            
            
  
  
              <td><i [ngClass]="{'primary':policy.status === 'true',
              'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
            </tr>
          </tbody>
        </table>

          <pagination-controls *ngIf="showPagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </fieldset>

    </form>
  </div>
</div>