<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Policy File</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <form #myFileForm="ngForm">
        <label class="input">
          <input type="file" name="file" ngModel file-model="attachment" data-btn-text="Select a File" accept=".pdf,.doc,.docx" #fileInput (change)="getFile($event)"
            required>

        </label>
        </form>
      </div>

    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    <button type="savebtn" [disabled]="!myFileForm.valid" class="btn btn-outline-dark" (click)="compareFile();c()">Compare</button>
  </div>
</ng-template>


<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Info</h4>
  </div>
  <div class="modal-body">
    <p>{{info}}</p>
  </div>
  <div class="modal-footer">
    <button  *ngIf="!showButton" type="button" class="btn btn-outline-dark confbtn" (click)="c();redirect()">Ok</button>
    <button  *ngIf="showButton" type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
  </div>
</ng-template>




<div>


  <div class="form-div">
    <form #myForm="ngForm">
      <fieldset [disabled]="showInitial">

          <div class="plus">


            <span class=" title elipsis pull-right" *ngIf="showEdit">
              <a><fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa></a>
            </span>

            <span *ngIf="showLegalBox" class=" title elipsis pull-right">
              <a (click)="saveAudit()" *ngIf="myForm.valid">
                <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
            </span>

            <!-- <span class=" title elipsis pull-right">
              <a (click)="showHist()" title="Application audit history">
                <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
            </span> -->

            <span class=" title elipsis pull-right">

              <a (click)="showAudit()" title="Change to view mode. This reverts the changes">
                <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
              <!-- <a (click)="showAudit()" title="Go back to audit section.">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
              </a> -->
            </span>


          </div>
          

          <div class="infoBox">
              <div class="headerOfBox">
                <h4>Audit Details</h4>
              </div>

             <div class="form-row">
          <div class="form-group col-md-6">

            <label for="inputState">Definitive Source<span class="asterisk">*</span></label>
            <input *ngIf="!showOriginal" type="text" class="form-control" name="auditName" [(ngModel)]="appAudit.auditTypeName" readonly>
            <select *ngIf="showOriginal" style="width:50%;" class="form-control" ngModel id="definitiveSource" required name="auditName" (change)="selectDefinitive($event.target.value)">
              <option value="">Choose...</option>
              <option *ngFor="let auditType of auditTypes" value="{{ auditType.auditTypeId }}">{{ auditType.auditTypeName
                }}</option>
            </select>
            <span class="asterisk">{{policyErr}}</span>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Type/Policy<span class="asterisk">*</span></label>
            <input *ngIf="!showOriginal" type="text" class="form-control" name="policyId" [(ngModel)]="polName" readonly>
            <select *ngIf="showOriginal" style="width:50%;" class="form-control" ngModel id="typePolicy" name="policyId" required (change)="selectType($event.target.value)">
              <option value="">Choose...</option>
              <option *ngFor="let policyType of  policyTypes" value="{{ policyType.policyGrpId }}">{{ policyType.policyGrpName
                }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Audit Name<span class="asterisk">*</span></label>
            <input *ngIf="!showOriginal" type="text" class="form-control" id="lastName" name="auditType" value="" [(ngModel)]="appAudit.auditType"
              readonly>
            <input *ngIf="showOriginal" ngModel type="text" class="form-control" id="lastName" name="auditType" value="" [(ngModel)]="appAudit.auditType" required>
          </div>

          <div class="form-group col-md-6">
            <label for="lastName">Audit Date<span class="asterisk">*</span></label>
            <input *ngIf="!showOriginal" type="text" class="form-control" name="vauditDate" [(ngModel)]="vauditDate" readonly>
            <my-date-picker ngModel *ngIf="showOriginal" name="auditDate" id="auditDate" class="inputState1" (dateChanged)="getAuditDate($event)" [(ngModel)]="auditDate" required></my-date-picker>
            

          </div>

          <div class="form-group col-md-6">
            <label for="dueDate">Next Audit Date<span class="asterisk">*</span></label>
            <my-date-picker name="nextDate" [options]="myDatePickerOptions" id="nextDate" class="inputState1" ngModel (dateChanged)="getDate($event)" [(ngModel)]="nextDate" required></my-date-picker>
          </div>
          <div class="form-group col-md-6">

            <label for="inputState">Overall Status<span class="asterisk">*</span></label>
            <input *ngIf="!showOriginal && showStatus1" type="text" class="form-control" name="overallStatus" [(ngModel)]="appAudit.status">
            <select *ngIf="showOriginal || showStatus" style="width:50%;" ngModel id="modelSolution" [(ngModel)]="appAudit.status" class="form-control" name="overallStatus" (change)="getNextDate($event.target.value)" required>
              <option value="">Choose...</option>
              <option value="Open">Open</option>
              <option value="Suspended">Suspended</option>
              <option value="Close">Close</option>
            </select>
          </div>
        </div>
      </div>
      </fieldset>

    </form>
  </div>
</div>
