<div>
		<div>
				<h3 class="pageTitle">Policies</h3>
				<hr>
    </div>
	<div id="form1">
		<div class="disclaimer"></div>
		<div class="infoBox">
			<div class="headerOfBox">
				<h4>Overview</h4>
			</div>
		<form class="forms">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="definitiveSource"><b>Definitive Source</b><span class="asterisk">*</span></label>
					<select class="form-control" style="width:50%;" name="definiteSource" [(ngModel)]="auditTypeId" required (change)="selectDefinitive($event.target.value)">
						<option value="">Choose...</option>
						<option *ngFor="let auditType of auditTypes" value="{{ auditType.auditTypeId }}">{{ auditType.auditTypeName }}</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="typePolicy"><b>Type/Policy</b><span class="asterisk">*</span></label>
					<select class="form-control" style="width:50%;" name="type" required [(ngModel)]="policyGrpId" (change)="selectType($event.target.value)">
						<option value="">Choose...</option>
						<option *ngFor="let policyType of  policyTypes" value="{{ policyType.policyGrpId }}">{{ policyType.policyGrpName
							}}</option>
					</select>
				</div>

			</div>

		</form>
	</div>
		<div class="forms" *ngIf="definitive == true && policy == true ">
			<div class="policy-section">
				<div>
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<!-- <a class="nav-link active" routerLinkActive="active" routerLink="policyDetails" [routerLinkActiveOptions]="{exact: true}"><fa class="help" [name]="'info-circle'"></fa>Policy Details</a> -->
							<a class="nav-link active" routerLinkActive="active" routerLink="policyDetails" [routerLinkActiveOptions]="{exact: true}">
								<fa class="help" [name]="'info-circle'"></fa>Policy Details
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" routerLinkActive="active" routerLink="review">
								<fa class="file-signature help" [name]="'briefcase'"></fa>Review Section
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" routerLinkActive="active" routerLink="documents">
								<fa class="file-alt help" [name]="'book'"></fa>Documents
							</a>
						</li>
						<!-- <li class="nav-item">
							<a class="nav-link" routerLinkActive="active" routerLink="applications">
								<fa class="mobile-android help" [name]="'cubes'"></fa>Applications
							</a>
						</li> -->
					</ul>
				</div>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
<!-- <ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" routerLinkActive="active" routerLink="policyDetails" [routerLinkActiveOptions]="{exact: true}"><fa class="help" [name]="'info-circle'"></fa>Policy Details</a>
		    <a class="nav-link active" routerLinkActive="active" routerLink="policyDetails/{{ policyDropDownId }}" [routerLinkActiveOptions]="{exact: true}"><fa class="help" [name]="'info-circle'"></fa>Policy Details</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" routerLinkActive="active" routerLink="review"><fa class="file-signature help" [name]="'info-circle'"></fa>Review Section</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" routerLinkActive="active" routerLink="documents"><fa class="file-alt help" [name]="'info-circle'"></fa>Documents</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" routerLinkActive="active" routerLink="applications"><fa class="mobile-android help" [name]="'info-circle'"></fa>Applications</a>
		  </li>
		</ul> -->