

.navigate{
    margin: 15px;
    padding: 5px;
}



.form-options{
    margin-right: 15px;
    margin-top: -15px;
    padding: 5px;
}

.home-back{
	float: left;
}

.save-edit{
	float: right;
}

a{
	text-decoration: none;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}


.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.policies{
	margin-top: 15px;
}

input[readonly] {
	background-color: #ffffff;
	}


.ban{
	color: #D91E18;
}

.hover-icon{
	visibility: hidden;
}

.hover-icon:hover{
	visibility: visible;
}

.help{
	font-size: 15px;
	color: black;
	margin-right: 5px;
}

.nav-link{
	color: black;
	margin-left: 10px;
}

#form {
	background-color: #FFF;
	height: 600px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px;
	text-align:center;
   }
   label {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #333;
	height: 20px;
	width: 200px;
	margin-top: 2px;
	margin-left: 10px;
	
	clear: both;
	float:left;
	margin-right:15px;
   }
   input {
	
	border: 1px solid #000;
	margin-top: 2px;
	float: left;
   
   
	box-sizing: border-box;
	width: 50%;
	line-height: 2em;
	border: 1px solid #AAA;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
   }
   input[type=button] {
	float:none;
   }
   

   
