<app-navigation-component></app-navigation-component>
<div class="sidebar" data-color="danger" data-background-color="white">
  <app-newsidebar></app-newsidebar>
</div>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="newmainpanel">
  <div [ngClass]="!sideNavService.hideSideNav?'contentWidthMain':'contentWidth'">
    <div class="categoryGrid">
      <div class="clearfix wrap">
        <div>
          <h2 class="headerFix">Asset Details</h2>
        </div>
        <mat-sidenav-container class="example-sidenav-container" style="min-height: 100%;background-color: inherit;">
          <mat-sidenav-content>
            <mat-grid-list cols="10" rowHeight="100px">
              <mat-grid-tile [colspan]="10" [rowspan]="1">

                <div class="newtestITpm">
                  <div class="entryTitle">Overview </div>
                  <p class="definationText">This defines all the Information Technology Portfolio Manager.</p>


                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-sidenav-content>
        </mat-sidenav-container>


        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Incident</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Testing-tab" data-toggle="tab" href="#Testing" role="tab" aria-controls="Testing"
              aria-selected="false">Testing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Compliance-tab" data-toggle="tab" href="#Compliance" role="tab"
              aria-controls="Compliance" aria-selected="false">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Dependent-tab" data-toggle="tab" href="#Dependent" role="tab"
              aria-controls="Dependent" aria-selected="false">Dependent Systems</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <app-assetinformation [deviceId]="deviceId"></app-assetinformation>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-md-12">
              <table class="policyTable">
                <thead>
                  <tr>
                    <th scope="col" sortable="acronym" (sort)="getSort($event)">Incident Name

                    </th>

                    <th scope="col" sortable="systemOwnerNameDoe" (sort)="getSort($event)">
                      Severity
                    </th>
                    <th scope="col" sortable="updatedBy" (sort)="getSort($event)">Reported By
                    </th>
                    <th scope="col" sortable="updatedTs" (sort)="getSort($event)">Created On
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let incident of incidents | paginate: { itemsPerPage: 10, currentPage: p }">

                    <td><a id="anchor"
                        (click)="goToIncident(incident)">{{incident.shortDescription}}</a>
                    </td>
                    <td>{{incident.severity}}</td>
                    <td>{{incident.reportedBy}}</td>
                    <td>{{incident.createdOn | filter}}</td>
                  </tr>
                </tbody>

              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Testing</div>
          <div class="tab-pane fade" id="Compliance" role="tabpanel" aria-labelledby="Compliance-tab">Compliance</div>
          <div class="tab-pane fade" id="Dependent" role="tabpanel" aria-labelledby="Dependent-tab">
            <div class="col-md-12">
              <table class="policyTable">
                <thead>
                  <tr>
                    <th scope="col" sortable="acronym" (sort)="getSort($event)">System Name

                    </th>

                    <th scope="col" sortable="systemOwnerNameDoe" (sort)="getSort($event)">
                      Sensitivity
                    </th>
                    <th scope="col" sortable="updatedBy" (sort)="getSort($event)">Business Owner
                    </th>
                    <th scope="col" sortable="updatedTs" (sort)="getSort($event)">System Owner
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let application of applications | paginate: { itemsPerPage: 10, currentPage: p }">

                    <td><a id="anchor"
                        (click)="goTo(application)">{{application.acronym}}</a>
                    </td>
                    <td>{{application.systemSensitivityStr}}</td>
                    <td>{{application.businessOwnerName}}</td>
                    <td>{{application.systemOwnerName}}</td>
                  </tr>
                </tbody>

              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>