.form{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    /* background-color: #EEEEEE; */
    overflow: hidden;
}

.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.review{
	margin-top: 15px;
}

.policy-edit{
	float: right;
}

.sorting{
	margin-left: 5px;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

.edit-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.plus-icon{
	color: #3A539B;
}

table{
	background-color: #ffffff;
	text-align: center;
	border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
	border: 1px solid black;
}

tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
}

table thead tr th{
	font-weight: 500;
	color: black;
	border: 1px solid black;
	background-color: #cecfd5;
}

table thead tr td{
	color: black;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

.add{
	margin-bottom: 10px;
}

.modal-header{
	background-color: #3A539B;
	color: #ffffff;
}

.btn{
	background-color: #3A539B;
	border-color: #3A539B;
}

.review-btn{
	float: right;
}

#form {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
   }
   label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
   }
   input {
    
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
   
   
    box-sizing: border-box;
    width: 50%;
    line-height: 2em;
    border: 1px solid #AAA;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
   }
   input[type=button] {
    float:none;
   }
   
   #inputState{
    
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 50%;
    line-height: 2em;
    border: 1px solid #AAA;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
   
   }

   .inputState1 {
    margin-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 50%;
    line-height: 2em;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
}
   
   
   
   .line {
   margin:  0.5rem 0 0.5em;
    line-height:1.5em;
    padding:0;
    color:rgb(0, 0, 0);
    font-weight: 100;
    font-size:20px;
    position:relative;
    overflow:hidden;
    text-align:center;
   }
   .line:before,.line:after {
    content:" ";
    position:absolute;
    top:50%;
    margin-left:-999em;
    height:2px;
    width:998em;
    border-top:1px solid rgb(0, 0, 17);
    background:rgba(0,0,0,0.2);
   
   }
   .line:after {
    left:auto;
    width:999em;
    margin:0 0 0 1em;
   }
   
   #colorWhite{
    color:white;
   }
