<div class="form-div">
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" id="navtab" routerLinkActive="active" routerLink="/system/tab2/info">
                    <fa class="help" [name]="'info-circle'"></fa> &nbsp;Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/system/tab2/legal">
                    <fa class="help" [name]="'gavel'"></fa> &nbsp;Legal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/system/tab2/Audit">
                    <fa class="help" [name]="'book'"></fa> &nbsp;Audit/Compliance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/system/tab2/assessment">
                    <fa class="help" [name]="'check-circle'"></fa> &nbsp;Assessment
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" routerLink="/system/tab2/rmf">
                        <fa class="help" [name]="'check-circle'"></fa> &nbsp;RMF
                    </a>
                </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/system/tab2/technical">
                    <fa class="help" [name]="'check-circle'"></fa> &nbsp;Technical
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/system/tab2/business">
                    <fa class="help" [name]="'check-circle'"></fa> &nbsp;Business
                </a>
            </li>

        </ul>
    </div>
    <router-outlet></router-outlet>
</div>