.navigate{
    margin: 15px;
    padding: 5px;
}


.form-options{
    margin-right: 15px;
    margin-top: -15px;
    padding: 5px;
}

.home-back{
	float: left;
}

.save-edit{
	float: right;
}

a{
	text-decoration: none;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

.home-icon{
    color: #3A539B;
}



.edit-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.left-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.save-icon{
    color: #3A539B;
}

.download-icon{
	 color: #3A539B;
}


table{
	background-color: #ffffff;
	text-align: center;
	border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
	border: 1px solid black;
}

tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
}

table thead tr th{
	font-weight: 500;
	color: black;
	border: 1px solid black;
	
}
th{
	background-color: #cecfd5;
}

table thead tr td{
	color: black;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}
