<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Info</h4>
	</div>
	<div class="modal-body">
		<p>{{info}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
	</div>
</ng-template>
<div class="form-div">

	<form #myForm="ngForm" >
			<br>
            <br>
            <div class="infoBox">
                    <div class="headerOfBox">
                      <h4>General Information</h4>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
            
                        <label for="inputState">Name<span class="asterisk">*</span></label>
                        <input type="text" class="form-control" id="lastName" value="{{mainData}}" readonly="readonly">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="lastName"> Updated By</label>
                        <input type="text" class="form-control" id="lastName" value={{updatedBy}} readonly="readonly">
                      </div>
                    </div>
                    <div class="form-row">
                   
                      <div class="form-group col-md-6">
                        <label for="lastUpdatedAt"> Updated Date</label>
                        <input type="text" class="form-control" id="email" value="{{updatedTime}}" readonly="readonly">
                      </div>
                    </div>
                  </div>

		<div class="plus">
			<span class=" title elipsis pull-right" *ngIf="showEdit">
				<a>
					<fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa>
				</a>
			</span>
			<span class=" title elipsis pull-right">
				<a *ngIf="!showForm" (click)="saveLessons()" title="Save Audit" class="ng-hide">
					<i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
				</a>
			</span>
			<!-- <span class=" title elipsis pull-right">
					<a>
						<fa class="edit-icon icons" [name]="'edit'"></fa>
					</a>
				</span> -->
			<!-- <span class=" title elipsis pull-right">
				<a title="Application audit history">
					<i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
				</a>
			</span> -->
			<span class=" title elipsis pull-right">
				<a (click)="showAudit()" title="Change to view mode. This reverts the changes">
					<i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
				</a>
				<!-- <a (click)="showAudit()" title="Go back to audit section.">
					<i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
				</a> -->
			</span>


		</div>
		
		<div class="infoBox">
			<div class="headerOfBox">
			<h4>Lessons Learned</h4>
			</div>
			<fieldset [disabled]="showForm">
				<div class="form-row">
					<div class="form-group col-md-6">

						<label for="inputState">Entered by</label>
						<input type="text" class="form-control" name="enteredBy" id="enteredBy" [(ngModel)]="appAudit.lessonsEnteredBy">
						<!-- <my-date-picker name="startDate"  (dateChanged)="getEnteredBy($event)" [(ngModel)]="startDate"></my-date-picker> -->
					</div>
					<div class="form-group col-md-6">

						<label for="inputState">Entered date</label>
						<my-date-picker name="startDate" [disabled]='showForm' class="inputState1" (dateChanged)="getEnteredDate($event)" [(ngModel)]="endDate"></my-date-picker>
					</div>

				</div>

				<div class="form-row">


					<h5>Description</h5>

					<textarea name="description" id="" rows="10" class="form-control1" [(ngModel)]="appAudit.lessonsLearnedDescription" maxlength="50000" #lessonsLearnedDescription="ngModel"> </textarea><!--<div style="float:right">{{50000 - lessonsLearnedDescription.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="lessonsLearnedDescription.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 

				</div>
			</fieldset>
		</div>
	</form>
</div>