<div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Info</h4>
        </div>
        <div class="modal-body">
            <p>Vendor has been added</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark confbtn" (click)="c();redirect()">Close</button>
        </div>
    </ng-template>
    <div>
        <div>
            <h3 class="pageTitle">Vendors</h3>
            <hr>
        </div>
    
        <form [formGroup]="editVendorForm" id="myForm" (ngSubmit)="createVendor(editVendorForm.value)">
    
            <div id="form1">
                <div class="disclaimer"><span style="float:left">Please use this screen to add certified vendors
                        only</span>&nbsp;&nbsp;&nbsp;
                    <span style="float:right">
                        <font color=red>*</font> marked fields are mandatory
                    </span> </div>
                <div class="infoBox">
                    <div class="form-row headerOfBox">
                        <h4>Vendor Information</h4>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="vendorName"><b>Vendor Name</b>
                                <font color=red>*</font>
                            </label>
                            <input type="text" class="form-control" id="vendorName" placeholder="Vendor Name"
                                formControlName="name">
                        </div>
                    </div>
                </div>
    
                <div class="infoBox">
                    <div formGroupName="vendorContact">
                        <div class="form-row headerOfBox">
                            <h4>Contact Person</h4>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name<font color=red>*</font></label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                    formControlName="firstName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name<font color=red>*</font></label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                    formControlName="lastName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-row">
                                    <label for="email">Email ID<font color=red>*</font></label>
                                    <input type="email" class="form-control"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email"
                                        placeholder="Email ID" formControlName="emailId">
                                </div>
                                <div class="form-row">
                                    <div style="color:red;padding-left: 43%;" *ngIf="editVendorForm.controls.vendorContact.get('emailId').dirty && editVendorForm.controls.vendorContact.get('emailId').errors?.required">
                                      
                                            Email is required
                                        
                                    </div>
                                    <div class="help-block" style="color:red;padding-left: 43%;"
                                        *ngIf="editVendorForm.controls.vendorContact.get('emailId').errors?.pattern">
                                        format: example@email.com
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-row">
                                <label for="phone">Phone Number<font color=red>*</font></label>
                                <input type="tel" class="form-control" placeholder="xxx-xxx-xxxx"
                                    (keydown)="getPhoneNumber($event,$event.target.value)" minlength="12" maxlength="12"
                                    pattern="^\d{3}[-]\d{3}[-]\d{4}$" id="phonenumber"
                                    (change)="getNumber($event.target.value)" required formControlName="phoneNumber"
                                    onlyInteger autocomplete="off">
                                </div>
                                <div class="form-row">
                                <div style="color:red;padding-left:43%" *ngIf="editVendorForm.controls.vendorContact.get('phoneNumber').dirty && editVendorForm.controls.vendorContact.get('phoneNumber').errors?.required">
                                  
                                        Phone Number is required
                                
                                </div>
                                </div>
                                <div class="form-row">
                                <div style="color:red;padding-left:43%"  *ngIf="editVendorForm.controls.vendorContact.get('phoneNumber').errors?.pattern">
                                    
                                        Example: 123-456-7890
                            
                                </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="infoBox">
                    <div formGroupName="vendorAddress">
                        <div class="form-row headerOfBox">
                            <h4>Address</h4>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Street Name<font color=red>*</font></label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Street Name"
                                    formControlName="streetName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="city">City<font color=red>*</font></label>
                                <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">State<font color=red>*</font></label>
                                <select id="inputState" class="form-control" formControlName="state">
                                    <option value="" selected>Choose...</option>
                                    <option value="AL">Alabama (AL)</option>
                                    <option value="AK">Alaska (AK)</option>
                                    <option value="AZ">Arizona (AZ)</option>
                                    <option value="AR">Arkansas (AR)</option>
                                    <option value="CA">California (CA)</option>
                                    <option value="CO">Colorado (CO)</option>
                                    <option value="CT">Connecticut (CT)</option>
                                    <option value="DE">Delaware (DE)</option>
                                    <option value="DC">District Of Columbia (DC)</option>
                                    <option value="FL">Florida (FL)</option>
                                    <option value="GA">Georgia (GA)</option>
                                    <option value="HI">Hawaii (HI)</option>
                                    <option value="ID">Idaho (ID)</option>
                                    <option value="IL">Illinois (IL)</option>
                                    <option value="IN">Indiana (IN)</option>
                                    <option value="IA">Iowa (IA)</option>
                                    <option value="KS">Kansas (KS)</option>
                                    <option value="KY">Kentucky (KY)</option>
                                    <option value="LA">Louisiana (LA)</option>
                                    <option value="ME">Maine (ME)</option>
                                    <option value="MD">Maryland (MD)</option>
                                    <option value="MA">Massachusetts (MA)</option>
                                    <option value="MI">Michigan (MI)</option>
                                    <option value="MN">Minnesota (MN)</option>
                                    <option value="MS">Mississippi (MS)</option>
                                    <option value="MO">Missouri (MO)</option>
                                    <option value="MT">Montana (MT)</option>
                                    <option value="NE">Nebraska (NE)</option>
                                    <option value="NV">Nevada (NV)</option>
                                    <option value="NH">New Hampshire (NH)</option>
                                    <option value="NJ">New Jersey (NJ)</option>
                                    <option value="NM">New Mexico (NM)</option>
                                    <option value="NY">New York (NY)</option>
                                    <option value="NC">North Carolina (NC)</option>
                                    <option value="ND">North Dakota (ND)</option>
                                    <option value="OH">Ohio (OH)</option>
                                    <option value="OK">Oklahoma (OK)</option>
                                    <option value="OR">Oregon (OR)</option>
                                    <option value="PA">Pennsylvania (PA)</option>
                                    <option value="RI">Rhode Island (RI)</option>
                                    <option value="SC">South Carolina (SC)</option>
                                    <option value="SD">South Dakota (SD)</option>
                                    <option value="TN">Tennessee (TN)</option>
                                    <option value="TX">Texas (TX)</option>
                                    <option value="UT">Utah (UT)</option>
                                    <option value="VT">Vermont (VT)</option>
                                    <option value="VA">Virginia (VA)</option>
                                    <option value="WA">Washington (WA)</option>
                                    <option value="WV">West Virginia (WV)</option>
                                    <option value="WI">Wisconsin (WI)</option>
                                    <option value="WY">Wyoming (WY)</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Zip Code<font color=red>*</font></label>
                                <input type="text" class="form-control" maxlength=5 minlength=5 placeholder="00000"
                                    id="inputZip" formControlName="zipcode" appOnlyInteger>
    
                                <div style="color:red;padding-left: 43%;"
                                    *ngIf="editVendorForm.controls.vendorAddress.get('zipcode').errors && editVendorForm.controls.vendorAddress.get('zipcode').dirty">
                                    Enter 5 digit valid zip code
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="buttons" style="margin-right:5%;">
            <button type="submit" class="btn btn-primary" form="myForm" [disabled]="editVendorForm.invalid">Submit</button>
            <button type="cancel" class="btn btn-primary" (click)="cancelButton($event)">Cancel</button>
    
    
        </div>
    
    </div>