.forms{
   
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 10px;
    /* background-color: #EEEEEE; */
    
}

.page-description{
    text-align: center;
    /*padding: 2%;*/
    margin-top: 0px;
   
}

@keyframes slideInFromCenter {
  0% {
    transform: scale(0,1);
  }
  100% {
    transform: scale(1,1);
  }
}

.after-heading{
	width: 10%;
	margin: auto;
	background-color: black;
	animation: 1s ease-out 0s 1 slideInFromCenter;
}

/*.after-heading:hover{
	transform: scale(1, 1);
	transition: right 0.5s;
}*/

.tip{
    width: 100%;
}

.tip-text{
    background-color: #F8FFAE;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    color:  black;
}

.light-bulb{
    margin-right: 3px;
    padding: 2px;
    margin-left: 3px;
    color:  black;
}

.buttons{
	float: right;
}

.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.btn{
	margin-left: 3px;
	background-color: black;
	border-color: black;
}

/*hr{
	margin: 30px -20px 20px;
    border: 0;
    border-top: 1px solid black;
}*/

#form {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
   }
   label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
   }
   input {
    
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 50%;
    line-height: 2em;
    border: 1px solid #AAA;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
   }
   input[type=button] {
    float:none;
   }

   
   
   
   .line {
   margin:  0.5rem 0 0.5em;
    line-height:1.5em;
    padding:0;
    color:rgb(0, 0, 0);
    font-weight: 100;
    font-size:20px;
    position:relative;
    overflow:hidden;
    text-align:center;
   }
   .line:before,.line:after {
    content:" ";
    position:absolute;
    top:50%;
    margin-left:-999em;
    height:2px;
    width:998em;
    border-top:1px solid rgb(0, 0, 17);
    background:rgba(0,0,0,0.2);
   
   }
   .line:after {
    left:auto;
    width:999em;
    margin:0 0 0 1em;
   }
   
   #colorWhite{
    color:white;
   }

   hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top: 1px solid rgba(0,0,0,.1);
   }

   .disclaimer{
    margin-top: -4%;
   }