.p-4{
    background-color: #2C3E50;
    border-top: 1px solid #ECF0F1;
}

nav{
    background-color: black;
    text-align: center;
    position: relative;
}

.heading{
    color: white;
    text-align: center;
}

img{
    width: 10%;
}

section{
    display:inline-block
}

.login{
	color: white;
	font-size: 10px;
	margin-top: 15px;
	margin-right: 8px;
}

h1{
    color: white;
}

.dashboard{

    margin-top: 50px;
    margin-left: 12%;
  
}

.card{
    float: left;
    margin-left: 5px;
    margin-bottom: 15px;
}

.card-heading{
    background-color: black;
    border-radius: 6%;
}

.card-title{
    padding: 4%;
    color: white;
}

.card-body{
    background-color: #ECF0F1;
}

.card-link{
    color: black;
}

.card-link:hover{
    color: white;
    background-color: #00B16A;
    padding: 3%;
}

.view-edit{
    margin-left: 20px;
}

/*.second-row{
    margin-top: 20px;
}

.third-row{
    
}*/

.skills {
    width: 80%;
    max-width: 960px;
    height: auto;
    margin: auto;
    position: relative;
  }
  
  .line {
    height: inherit;
    width: 100%;
    position: absolute;
   background-color:transparent;
  }
  .line.l--0 {
    left: 0;
  }
  .line.l--25 {
    left: 25%;
  }
  .line.l--50 {
    left: 50%;
  }
  .line.l--75 {
    left: 75%;
  }
  .line.l--100 {
    left: calc(100% - 1px);
  }
  
  .line__label {
    display: block;
    width: 100px;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: -50px;
  }
  .line__label.title {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .chart {
    margin: 30px 0 0;
  }
  .chart:first-child {
    margin: 0;
  }
  
  .chart__title {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  .chart--prod .chart__title {
    animation-delay: 3.3s;
  }
  .chart--design .chart__title {
    animation-delay: 4.5s;
  }
  
  .chart--horiz {
    overflow: hidden;
  }
  
  .chart__bar {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  .chart--dev .chart__bar:nth-of-type(11) {
    animation-delay: 2.7s;
  }
  .chart--dev .chart__bar:nth-of-type(10) {
    animation-delay: 2.5s;
  }
  .chart--dev .chart__bar:nth-of-type(9) {
    animation-delay: 2.3s;
  }
  .chart--dev .chart__bar:nth-of-type(8) {
    animation-delay: 2.1s;
  }
  .chart--dev .chart__bar:nth-of-type(7) {
    animation-delay: 1.9s;
  }
  .chart--dev .chart__bar:nth-of-type(6) {
    animation-delay: 1.7s;
  }
  .chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s;
  }
  .chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s;
  }
  .chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s;
  }
  .chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s;
  }
  .chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s;
  }
  .chart--prod .chart__bar:nth-of-type(2) {
    animation-delay: 4.2s;
  }
  .chart--prod .chart__bar:nth-of-type(1) {
    animation-delay: 4s;
  }
  .chart--design .chart__bar:nth-of-type(3) {
    animation-delay: 5.6s;
  }
  .chart--design .chart__bar:nth-of-type(2) {
    animation-delay: 5.4s;
  }
  .chart--design .chart__bar:nth-of-type(1) {
    animation-delay: 5.2s;
  }
  
  .chart__label {
    padding-left: 10px;
    line-height: 30px;
    color: white;
  }
  
  @keyframes anim-lightspeed-in {
    0% {
      transform: translateX(-200%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .wrapper {
    width: 400px;
    height: 400px;
    background: #fc5b3f;
    margin: 100px auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    -webkit-transform: rotate(108deg);
            transform: rotate(108deg);
  }
  .wrapper .d1 {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -200px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .wrapper .d1 div {
    width: 800px;
    height: 800px;
  }
  .wrapper .d1 div:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #fc5b3f;
    position: relative;
    -webkit-transform: scaleX(-3.07768);
            transform: scaleX(-3.07768);
  }
  .wrapper .d1 div span {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 34%;
    font-size: 12px;
    text-align: center;
    z-index: 100;
    color: #fff;
    -webkit-transform: rotate(-108deg);
            transform: rotate(-108deg);
  }
  .wrapper .d2 {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -200px;
    -webkit-transform: rotate(147.6deg);
            transform: rotate(147.6deg);
  }
  .wrapper .d2 div {
    width: 800px;
    height: 800px;
  }
  .wrapper .d2 div:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #fcb03c;
    position: relative;
    -webkit-transform: scaleX(0.82727);
            transform: scaleX(0.82727);
  }
  .wrapper .d2 div span {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 34%;
    font-size: 12px;
    text-align: center;
    z-index: 100;
    color: #fff;
    -webkit-transform: rotate(-255.6deg);
            transform: rotate(-255.6deg);
  }
  .wrapper .d3 {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -200px;
    -webkit-transform: rotate(201.6deg);
            transform: rotate(201.6deg);
  }
  .wrapper .d3 div {
    width: 800px;
    height: 800px;
  }
  .wrapper .d3 div:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #6fb07f;
    position: relative;
    -webkit-transform: scaleX(0.25676);
            transform: scaleX(0.25676);
  }
  .wrapper .d3 div span {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 34%;
    font-size: 12px;
    text-align: center;
    z-index: 100;
    color: #fff;
    -webkit-transform: rotate(-309.6deg);
            transform: rotate(-309.6deg);
  }
  .wrapper .d4 {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -200px;
    -webkit-transform: rotate(228.6deg);
            transform: rotate(228.6deg);
  }
  .wrapper .d4 div {
    width: 800px;
    height: 800px;
  }
  .wrapper .d4 div:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #068587;
    position: relative;
    -webkit-transform: scaleX(0.22353);
            transform: scaleX(0.22353);
  }
  .wrapper .d4 div span {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 34%;
    font-size: 12px;
    text-align: center;
    z-index: 100;
    color: #fff;
    -webkit-transform: rotate(-336.6deg);
            transform: rotate(-336.6deg);
  }
  .wrapper .d5 {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -200px;
    left: -200px;
    -webkit-transform: rotate(246.6deg);
            transform: rotate(246.6deg);
  }
  .wrapper .d5 div {
    width: 800px;
    height: 800px;
  }
  .wrapper .d5 div:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border: solid transparent;
    border-width: 400px;
    border-top-color: #1a4f63;
    position: relative;
    -webkit-transform: scaleX(0.09453);
            transform: scaleX(0.09453);
  }
  .wrapper .d5 div span {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 34%;
    font-size: 12px;
    text-align: center;
    z-index: 100;
    color: #fff;
    -webkit-transform: rotate(-354.6deg);
            transform: rotate(-354.6deg);
  }

  .pie {
    position:absolute;
    width:100px;
    height:200px;
    overflow:hidden;
    left:150px;
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    -webkit-transform-origin:left center;
    transform-origin:left center;
}
/*
unless the piece represents more than 50% of the whole chart.
then make it a square, and ensure the transform origin is
back in the center.

NOTE: since this is only ever a single piece, you could
move this to a piece specific rule and remove the extra class
*/
.pie.big {
    width:200px;
    height:200px;
    left:50px;
    -moz-transform-origin:center center;
    -ms-transform-origin:center center;
    -o-transform-origin:center center;
    -webkit-transform-origin:center center;
    transform-origin:center center;
}
/*
this is the actual visible part of the pie. 
Give it the same dimensions as the regular piece.
Use border radius make it a half circle.
move transform origin to the middle of the right side.
Push it out to the left of the containing box.
*/
.pie:BEFORE {
    content:"";
    position:absolute;
    width:100px;
    height:200px;
    left:-100px;
    border-radius:100px 0 0 100px;
    -moz-transform-origin:right center;
    -ms-transform-origin:right center;
    -o-transform-origin:right center;
    -webkit-transform-origin:right center;
    transform-origin:right center;
    
}
/* if it's part of a big piece, bring it back into the square */
.pie.big:BEFORE {
    left:0px;
}
/* 
big pieces will also need a second semicircle, pointed in the
opposite direction to hide the first part behind.
*/
.pie.big:AFTER {
    content:"";
    position:absolute;
    width:100px;
    height:200px;
    left:100px;
    border-radius:0 100px 100px 0;
}
/*
add colour to each piece.
*/
.pie:nth-of-type(1):BEFORE,
.pie:nth-of-type(1):AFTER {
    background-color:blue;	
}
.pie:nth-of-type(2):AFTER,
.pie:nth-of-type(2):BEFORE {
    background-color:green;	
}
.pie:nth-of-type(3):AFTER,
.pie:nth-of-type(3):BEFORE {
    background-color:red;	
}
.pie:nth-of-type(4):AFTER,
.pie:nth-of-type(4):BEFORE {
    background-color:orange;	
}
/*
now rotate each piece based on their cumulative starting
position
*/
.pie[data-start="30"] {
    -moz-transform: rotate(30deg); /* Firefox */
    -ms-transform: rotate(30deg); /* IE */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    -o-transform: rotate(30deg); /* Opera */
    transform:rotate(30deg);
}
.pie[data-start="60"] {
    -moz-transform: rotate(60deg); /* Firefox */
    -ms-transform: rotate(60deg); /* IE */
    -webkit-transform: rotate(60deg); /* Safari and Chrome */
    -o-transform: rotate(60deg); /* Opera */
    transform:rotate(60deg);
}
.pie[data-start="100"] {
    -moz-transform: rotate(100deg); /* Firefox */
    -ms-transform: rotate(100deg); /* IE */
    -webkit-transform: rotate(100deg); /* Safari and Chrome */
    -o-transform: rotate(100deg); /* Opera */
    transform:rotate(100deg);
}
/*
and rotate the amount of the pie that's showing.

NOTE: add an extra degree to all but the final piece, 
to fill in unsightly gaps.
*/
.pie[data-value="30"]:BEFORE {
    -moz-transform: rotate(31deg); /* Firefox */
    -ms-transform: rotate(31deg); /* IE */
    -webkit-transform: rotate(31deg); /* Safari and Chrome */
    -o-transform: rotate(31deg); /* Opera */
    transform:rotate(31deg);
}
.pie[data-value="40"]:BEFORE {
    -moz-transform: rotate(41deg); /* Firefox */
    -ms-transform: rotate(41deg); /* IE */
    -webkit-transform: rotate(41deg); /* Safari and Chrome */
    -o-transform: rotate(41deg); /* Opera */
    transform:rotate(41deg);
}
.pie[data-value="260"]:BEFORE {
    -moz-transform: rotate(260deg); /* Firefox */
    -ms-transform: rotate(260deg); /* IE */
    -webkit-transform: rotate(260deg); /* Safari and Chrome */
    -o-transform: rotate(260deg); /* Opera */
    transform:rotate(260deg);
}
/*
NOTE: you could also apply custom classes (i.e. .s0 .v30)
but if the CSS3 attr() function proposal ever gets implemented,
then all the above custom piece rules could be replaced with
the following:

.pie[data-start] {
transform:rotate(attr(data-start,deg,0);
}
.pie[data-value]:BEFORE {
transform:rotate(attr(data-value,deg,0);
}
*/
  
#first {
   
    float:left;
  }
  #second {
   
    float:left;
  }
  #third {
   
    float:left;
  }

  .center{
      text-align: center;
  }

  table{
    background-color: #ffffff;
    text-align: center;
    border: 1px solid black;
  }
  
  .table-bordered tbody tr:nth-of-type(odd){
    background-color: #EEEEEE !important;
    border: 1px solid black;
  }
  
  tbody tr:nth-of-type(odd){
    background-color: #EEEEEE !important;
  }
  
  table thead tr th{  white-space: pre-wrap;
    font-weight: 500;
    color: black;
    border: 1px solid black;
    background-color: #cecfd5;
  }
  
  table thead tr td{ word-wrap: break-word;
    color: black;
  }
  
  .table-bordered td, .table-bordered th {
      border: 1px solid black;
  }
  

  
 
  
  .navigate{
    margin: 15px;
    padding: 5px;
  }
  
  .form-options{
    float: left;
    margin-right: 15px;
    margin-top: -15px;
    padding: 5px;
  }
  
  .icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
  }
  
  .home-icon{
    color: black;
  }
  
  .edit-icon{
    /*margin-left: 10px;*/
    color: black;
  }
  
  .left-icon{
    /*margin-left: 10px;*/
    color: black;
  }
  
  .save-icon{
    color: black;
  }

  .center{
    margin: auto;


  }
  