<div class="pos-f-t">
          <nav class="navbar">
            <img src="assets/img/logo.png">
            <h2 class="heading">Application and Audit Manager</h2>
            <!-- <p class="user">Sunny Singh<fa [name]="'chevron-down'"></fa></p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <fa class="navigate-toggle hg" [name]="'align-justify'"></fa>
            </button> -->
            <h4 style="margin-right: -15%;color: #fff;">Welcome {{userName}}</h4>
            <a (click)="signOut()" style="cursor: pointer;">
            
                <i class="fa fa-sign-out" aria-hidden="true" style="color:#fff;font-size: 1.5vw;"></i>
            </a>

          </nav>
          <!-- <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4">
              <button type="button" class="btn btn-light">Dashboard (Index)</button>
              <button type="button" class="btn btn-light">Create an Application</button>
              <button type="button" class="btn btn-light">Reports (report)</button>
              <button type="button" class="btn btn-light">Manage Policies</button>
              <button type="button" class="btn btn-light">Vendors</button>
              <button type="button" class="btn btn-light">Solutions</button>
              <button type="button" class="btn btn-light">Add Device</button>
            </div>
          </div> -->
    </div>