.p-4{
    background-color: #2C3E50;
    border-top: 1px solid #ECF0F1;
}

nav{
    background-color: currentColor;
    text-align: center;
    position: relative;
}

.navbar1{

flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: .1rem 1rem;
overflow: hidden;
}


.heading{
    color: white;
}

img{
    width: 10%;
}

.user{
    position: absolute;
    font-size: 10px;
    color: white;
    right: 50px;
    margin-right: 10px;
}

.down-icon{
    font-size: 10px;
    margin-left: 3px;
    color: white;
}

.navigate-toggle{
    color: white;
}

.btn{
    margin-left: 30px;
}

h1{
    color: white;
}

.collapse-div{
    background-color: #59ABE3;
}

.logInName{
    float: right;
    color: lightgrey;
    right: 0%;
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.homeButton{
    color: lightgrey;
    float: left;
    font-size: 1.5rem;
    margin-left: 2%;
}
