<div class="pos-f-t">
          <nav class="navbar1 fixedHeader">
            <img src="assets/img/logo1.png"  style="float: left">
            &nbsp;
            <a *ngIf="currentURL1">
              <fa class="left-icons home-icon fontSizeEm icons" (click)="goTo()" data-toggle="tooltip" data-placement="right" title="Home"
                  data-animation="true" data-delay="0" [name]="'home'" class="homeButton"></fa>
          </a>

            <a (click)="signOut()" style="cursor: pointer;">
                <i class="fa fa-sign-out" aria-hidden="true" title="Logout" style="float: right; color:lightgrey; right: 0%;font-size: 1.5vw; margin-top:0.5rem;margin-right: 10px;"></i>
            </a>
            <h5 style="float: right"  class="logInName">Logged in as: {{userName}} &nbsp; </h5>
            
          </nav>
    </div>