<app-navigation-component></app-navigation-component>
<app-option-list></app-option-list>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Info</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p>Device has been Added</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark confbtn" (click)="c();redirect()">Close</button>
  </div>
</ng-template>

<div>
    <div>
        <h3 class="pageTitle">Devices</h3>
    </div>
  <form  (ngSubmit)="submitDevice()" id="myForm" enctype="multipart/form-data" #editForm="ngForm">
    <div id="form1" >
        <div class="disclaimer"><span style="float:left">Please use this screen to add/ view devices</span>&nbsp;&nbsp;&nbsp;
          <span style="float:right">
            <font color=red>*</font> marked fields are mandatory
          </span> </div>
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Device Information</h4>
        </div>
        
        <div class=" form-row">
          <div class="form-group col-md-6">
            <label for="hostName">Host Name<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" [(ngModel)]="device.hostName" ngModel name="host" required>
          </div>
          <div class="form-group col-md-6">
            <label for="systemTag">System Tag<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" [(ngModel)]="device.systemTag" ngModel name="system" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="responsibleDivision/unitName">Responsible Division/Unit Name<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" [(ngModel)]="serverContact.divisionName" ngModel name="division"
              required>
          </div>

          <div class="form-group col-md-6">
            <label for="hostName">Type of Server<font color=red>*</font></label><br><br>
           <select class="form-control" id="inputState" name="serverType" required  ngModel (change)="getServerData($event.target.value)" required>
							<option value="" selected>Choose...</option>
							<option *ngFor="let serverType of serverTypes" value="{{ serverType.serverTypeId }}">{{ serverType.name }}</option>
						</select>
          </div>
        </div>
      </div>
  
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Primary Contact</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" [(ngModel)]="serverContact.firstName" ngModel name="firstname"
              required>

          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" [(ngModel)]="serverContact.lastName" ngModel name="lastname"
              required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email ID<font color=red>*</font></label><br><br>
            <input type="email" class="form-control" [email]="serverContact.emailId!==''" name="email" [(ngModel)]="serverContact.emailId"
              #email="ngModel" required><br><br>
            <span class="help-block" style="color:red;padding-left: 43%;" *ngIf="email.errors?.required && email.touched">
              Email is required
            </span>
            <span class="help-block" style="color:red;padding-left: 43%;" *ngIf="email.errors?.email && email.dirty">
              Email is invalid
            </span>
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Phone Number<font color=red>*</font></label><br><br>
            <input type="tel" class="form-control" ngModel name="phoneNumber" placeholder="xxx-xxx-xxxx" (keydown)="getPhoneNumber($event,$event.target.value)"
              [ngModel]="serverContact.phoneNumber" required maxlength="12" minlength="12" (change)="getNumber($event.target.value)"
              onlyInteger>
          </div>
        </div>

      </div>
     
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Secondary Contact</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="serverContact1.firstName" ngModel name="firstname"
              [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name<font color=red>*</font></label><br><br>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="serverContact1.lastName" ngModel name="lnum"
              [ngModelOptions]="{standalone: true}" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email ID<font color=red>*</font></label><br><br>
            <input id="email1" type="email" class="form-control" [email]="serverContact1.emailId!==''" name="email1"
              [(ngModel)]="serverContact1.emailId" #email1="ngModel" required> <br><br>
            <div style="color:red;padding-left: 43%;" *ngIf="email1.errors?.required && email1.touched">
             Email is required
            </div>
            <div style="color:red;padding-left: 43%;" *ngIf="email1.errors?.email && email1.dirty">
              Email is invalid
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Phone Number<font color=red>*</font></label><br><br>
            <input type="tel" class="form-control" ngModel name="phoneNumb" placeholder="xxx-xxx-xxxx" (keydown)="getPhoneNumber1($event,$event.target.value)"
              [ngModel]="serverContact1.phoneNumber" required maxlength="12" minlength="12" (change)="getNumber1($event.target.value)"
              onlyInteger>

          </div>

        </div>
      </div>
      
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Licensed Information</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="licenceStartDate">License Start Date</label><br><br>
            <my-date-picker class="inputState1" name="myname" placeholder="mm/dd/yyyy" [(ngModel)]="startDate"
              (dateChanged)="getStartDate($event)"></my-date-picker>
          </div>
          <div class="form-group col-md-6">
            <label for="licenseEndDate">License End Date</label><br><br>

            <my-date-picker name="myname" class="inputState1" name="lnew" placeholder="mm/dd/yyyy" [(ngModel)]="endDate"
              (dateChanged)="getEndDate($event)"></my-date-picker>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="licenceRenewalDate">License Renewal Date<font color="red">*</font></label><br><br>
            <my-date-picker ngModel class="inputState1" name="lrenew" [(ngModel)]="renDate" placeholder="mm/dd/yyyy"
              (dateChanged)="getRenDate($event)" required></my-date-picker>
          </div>

          <div class="form-group col-md-6">
            <label for="vendorName">Vendor Name</label><br><br>
            <input type="text" class="form-control" id="vendorName" name="'vname'" [(ngModel)]="device.vendorName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="productName">Product Name<font color="red">*</font></label><br><br>
            <input type="text" class="form-control" id="productName" [(ngModel)]="device.productName" ngModel name="product"
              required>
          </div>

        
            <div class="form-group col-md-6">
                <label for="costField">Cost Field<font color="red">*</font></label><br><br>
                <!-- <div class="dollar"><input type="number" class="form-control" [(ngModel)]="serverContact.cost" ngModel name="cost"
                    required></div> -->
                    <div class="input-group col-md-6">
              
                        <div class="input-group-prepend">
                          <span class="input-group-text dol">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="serverContact.cost" ngModel name="cost" required currencyMask [options]="{ prefix:'', thousands:',', decimal:'.',align:'left',allowNegative:false,nullable:true}">
                      </div>
      
      
      
              </div>
      
        </div>
      </div>
    
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Configuration</h4>
        </div>
        <div class=" form-row">
          <div class="form-group col-md-6">
            <label for="hardware">Hardware</label><br><br>
            <input type="text" class="form-control" id="hardware" [(ngModel)]="device.hardware" name="hardware">
          </div>
          <div class="form-group col-md-6">
            <label for="updateLevel">Control Name</label><br><br>
            <input type="text" class="form-control" name="controlName" [(ngModel)]="device.controlName" id="updateLevel">
          </div>
          <div class="form-group col-md-6">
            <label for="clockFrequency">Clock Frequency</label><br><br>
            <input type="text" class="form-control" id="clockFrequency" [(ngModel)]="device.clockFrequency" name="clock">
          </div>
          <div class="form-group col-md-6">
            <label for="memory">Memory</label><br><br>
            <input type="text" class="form-control" id="memory" [(ngModel)]="device.memorySize" name="memory">
          </div>
          <div class="form-group col-md-6">
            <label for="diskSpace">Disk Space</label><br><br>
            <input type="text" class="form-control" id="diskSpace" [(ngModel)]="device.localDiskSpace" name="space">
          </div>
          <div class="form-group col-md-6">
            <label for="cpuCount">CPU Count</label><br><br>
            <input type="text" class="form-control" id="cpuCount" [(ngModel)]="device.cpuCount" name="cpu">
          </div>
          <div class="form-group col-md-6">
            <label for="physicalCpuCount">Physical CPU Count</label><br><br>
            <input type="text" class="form-control" id="physicalCpuCount" [(ngModel)]="device.physicalCpuCount" name="physical">
          </div>
          <div class="form-group col-md-6">
            <label for="logicalCpuCount">Logical CPU Count</label><br><br>
            <input type="text" class="form-control" id="logicalCpuCount" [(ngModel)]="device.logicalCpuCount" name="logical">
          </div>
          <div class="form-group col-md-6">
            <label for="ipAddress">IP Address</label><br><br>
            <input type="text" class="form-control" id="ipAddress" [(ngModel)]="device.ipAddress" name="ipaddress">
          </div>
        </div>
      </div>
    
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Operating System</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="operatingSystem">Operating System</label><br><br>
            <input type="text" class="form-control" name="opeartingSystem" [(ngModel)]="device.operatingSystem" id="operatingSystem">
          </div>
          <div class="form-group col-md-6">
            <label for="version">Version</label><br><br>
            <input type="text" class="form-control" id="version" [(ngModel)]="device.osVersion" name="osversion">
          </div>
        </div>
      </div>
      
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Database Server</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="db/AppServerName">DB/APP Server Name</label><br><br>
            <input type="text" class="form-control" id="db/AppServerName" [(ngModel)]="device.dbServer" name="dbserver">
          </div>
        
          <div class="form-group col-md-6">
            <label for="serverName">Server Name</label><br><br>
            <input type="text" class="form-control" id="serverName" [(ngModel)]="device.serverName" name="servername">
          </div>
        </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="version">Version</label><br><br>
            <input type="text" class="form-control" id="version" [(ngModel)]="device.dbVersion" name="dbversion">
          </div>
          <div class="form-group col-md-6">
            <label for="sizeGb">Size GB</label><br><br>
            <input type="text" class="form-control" id="sizeGb" [(ngModel)]="device.sizeGb" name="sizegb">
          </div>
          </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="archiveLogMode">Archive Log Mode</label><br><br>
            <input type="text" class="form-control" id="archiveLogMode" [(ngModel)]="device.archiveLogMode" name="db_version">
          </div>
          </div>
        </div>
   
      <div class="infoBox">
        <div class="form-row headerOfBox">
          <h4>Purpose</h4>
        </div>
        <div class="form-row">

          <textarea cols="156" rows="7" id="ngxSummernote" name="purpose" [ngxSummernote]="config" [(ngModel)]="device.purpose" maxlength="500" #purpose="ngModel"> </textarea><!--<div style="float:right">{{50000 - purpose.value.length}} characters left </div> -->
					 <br>
					 <div style="float:right"  *ngIf="purpose.errors?.maxlength">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 
          
        </div>

  
      </div>
    </div>
  </form>
  <button routerLink="/devicetab" style="margin-left: 10%;" type="button" class="showList btn btn-outline-dark">Show
    List</button>
    <div style="margin-right:5%">
  <button type="submit" class="submit btn btn-primary" form="myForm"  [disabled]="!editForm.valid">Submit</button>
  <button type="cancel" class="cancel btn btn-primary" routerLink="/dashboard">Cancel</button>
</div>
</div>