.disabled>a, .disabled>a:focus, .disabled>a:hover, .disabled>span, .disabled>span:focus, .disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  /* background-color: #fff;
border-color: #ddd; */
}

html {
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

.modal-header {
  background-color: #3A539B;
  color: #ffffff;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #A9A9A9 !important;
  border-color: #A9A9A9 !important;
  color: #000 !important;
}

.confbtn {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
}

.ngx-pagination::before, .ngx-pagination::after {
  content: ' ';
  display: table;
}

.ngx-pagination::after {
  clear: both;
}

.ngx-pagination li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: 0.0625rem;
  border-radius: 0;
}

.ngx-pagination li {
  display: inline-block;
}

.ngx-pagination a, .ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #e6e6e6;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2199e8;
  color: #fefefe;
  cursor: default;
}

.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #cacaca;
  cursor: not-allowed !important;
}

.ngx-pagination .disabled:hover {
  background: transparent;
}

.ngx-pagination a, .ngx-pagination button {
  cursor: pointer;
  border: 1px solid #ddd !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
  content: none !important;
  display: inline-block;
  margin-right: 0.5rem;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
  content: none !important;
  display: inline-block;
  margin-left: 0.5rem;
}

.ngx-pagination .show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.ngx-pagination .small-screen {
  display: none;
}

@media screen and (max-width: 601px) {
  .ngx-pagination.responsive .small-screen {
    display: inline-block;
  }
  .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto !important;
  outline: 0;
}

.modal-backdrop.show {
  opacity: .2 !important;
}

.confbtn {
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #3A539B;
  border-color: #3A539B;
}

.btn1 {
  float: right;
  margin-top: 25px;
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
  padding: 10px 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}

.badge {
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: red;
}

.badge2 {
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: green;
}

.tableForSigned {
  width: 100%;
  text-align: center;
  border: 0px solid black;
  background:inherit;
}

.after-heading{
	width: 10%;
	margin: auto;
	background-color: #3A539B;
	animation: 1s ease-out 0s 1 slideInFromCenter;
}