.disabled>a, .disabled>a:focus, .disabled>a:hover, .disabled>span, .disabled>span:focus, .disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  /* background-color: #fff;
border-color: #ddd; */
}

html {
  overflow-x: hidden;
  overflow: visible;
}

.nav-link.disabled {
  color: #eee !important;
  pointer-events: none;
  cursor: default;
}

body.modal-open {
  overflow: hidden;
}

.mce-tinymce {
  visibility: inherit !important;
  position: relative;
  width: 100% !important;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

table {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
  border: 1px solid black;
}

tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
}

table thead tr th {
  white-space: pre-wrap;
  font-weight: 500;
  color: black;
  border: 1px solid black;
  background-color: #cecfd5;
}

table thead tr td {
  word-wrap: break-word;
  color: black;
}

table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
  float: left;
  border-bottom-width: 0;
}

.table-bordered td, .table-bordered th {
  border: 1px solid black;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #000;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #000 !important;
}

.modal-title {
  margin-bottom: 0;
  line-height: 0.3 !important;
}

.modal-header {
  background-color: black;
  color: #ffffff;
  height: 5vh !important;
}

.form-options {
  float: left;
  margin-right: 15px;
  margin-top: -15px;
  padding: 5px;
}

.navigate {
  margin: 15px;
  padding: 5px;
}

.icons {
  color: black;
  vertical-align: middle;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 2px;
  margin-right: 20px;
}

h4 {
  font-size: 1.2rem !important;
}

.edit-icon {
  /*margin-left: 10px;*/
  color: black;
}

.modal-header {
  background-color: black;
  color: #ffffff;
}

.asterisk {
  display: inline;
  color: red;
  margin-left: 2px;
}

.confbtn {
  margin-left: auto;
  margin-right: auto;
}

#lineSpace {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

#solPopup {
  width: 100% !important;
}

.polwidth {
  width: 80%;
}

.text {
  text-align: left;
}

.plusbtn {
  float: right;
  padding-bottom: 1vw;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #A9A9A9 !important;
  border-color: #A9A9A9 !important;
  color: #000 !important;
}

.primary {
  color: green !important;
}

.secondary {
  color: red !important;
}

.confbtn {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
}

.ngx-pagination::before, .ngx-pagination::after {
  content: ' ';
  display: table;
}

.ngx-pagination::after {
  clear: both;
}

.ngx-pagination li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: 0.0625rem;
  border-radius: 0;
}

.ngx-pagination li {
  display: inline-block;
}

.ngx-pagination a, .ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #e6e6e6;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2199e8;
  color: #fefefe;
  cursor: default;
}

.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #cacaca;
  cursor: not-allowed !important;
}

.ngx-pagination .disabled:hover {
  background: transparent;
}

.ngx-pagination a, .ngx-pagination button {
  cursor: pointer;
  border: 1px solid #ddd !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
  content: none !important;
  display: inline-block;
  margin-right: 0.5rem;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
  content: none !important;
  display: inline-block;
  margin-left: 0.5rem;
}

.ngx-pagination .show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.ngx-pagination .small-screen {
  display: none;
}

@media screen and (max-width: 601px) {
  .ngx-pagination.responsive .small-screen {
    display: inline-block;
  }
  .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto !important;
  outline: 0;
}

.modal-backdrop.show {
  opacity: .2 !important;
}

.confbtn {
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn1 {
  margin-top: 25px;
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
  padding: 10px 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
  margin-right: 4px;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}

.testColor {
  color: #fff !important;
}

.badge {
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: red;
}

.badge2 {
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: green;
}

#fixBox {
  margin-top: -6%;
  margin-left: -1%;
  width: 110%;
  z-index: -2;
}

.tableForSigned {
  width: 100%;
  text-align: center;
  border: 0px solid black;
  background: inherit;
}

.after-heading {
  width: 10%;
  margin: auto;
  background-color: black;
  animation: 1s ease-out 0s 1 slideInFromCenter;
}

body {
  background-image: url(../img/greyjpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); */
}

#form1 {
  border-radius: 10px;
  margin: 0% 5% 0% 5%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 4%;
}

.infoBox {
  padding: 3%;
  border-radius: 7px;
  padding-top: 0;
  margin: 1.5%;
  min-width: 102%;
  display: inline-block;
  background: rgb(255, 255, 255);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
  -moz-box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
  box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
}

.headerOfBox {
  margin-bottom: 2%;
  margin-left: -3.2% !important;
  margin-right: -3.2% !important;
  color: white;
  /* background: rgb(30, 87, 153);

  background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);

  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);

  background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%); */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: rgb(125, 126, 125);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
  /* IE6-9 */
  padding-left: 2%;
  box-sizing: border-box;
  border-radius: 7px;
  padding-bottom: 1px;
  font-size: 1.2rem;
}

.btn {
  /* background-color: black;
  border-color: black;
  border-radius: 20px;
  box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1); */
  background-color: black;
  border-color: black;
  color: white;
  padding: 10px 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
}

.line {
  margin: 0.5rem 0 0.5em;
  line-height: 1.5em;
  padding: 0;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px #000;
  font-size: 27px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: transparent;
}

.line:before, .line:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-left: -999em;
  height: 2px;
  width: 998em;
  border-top: 1px solid rgb(0, 0, 17);
  background: rgba(0, 0, 0, 0.2);
}

.line:after {
  left: auto;
  width: 999em;
  margin: 0 0 0 1em;
}

table {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid black;
  table-layout: fixed !important;
}

.table-bordered tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
  border: 1px solid black;
}

tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
}

table thead tr th {
  font-weight: 500;
  color: black;
  border: 1px solid black;
  background: rgb(76, 76, 76);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
}

th {
  text-align: center;
  background: rgb(76, 76, 76);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}

table thead tr td {
  color: black;
}

.table thead th {
  color: #fff !important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid black;
}

#colorWhite {
  color: white;
}

.mydp .weekdaytitle {
  background-color: #DDD;
  font-size: 11px;
  font-weight: 400;
  vertical-align: middle;
  max-width: 36px;
  background: #DDD;
}

.dol {
  height: 38px;
  margin-top: 29%;
}

.moveHeadingUp {
  margin-bottom: 1.8em;
}

.inputState1 {
  margin-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 44%;
  line-height: 2em;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

#form {
  background-color: #FFF;
  height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  text-align: center;
}

label {
  font: inherit;
  font-weight: 600;
  color: #333;
  height: 20px;
  width: 178px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}

.fam {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.businessTop {
  margin-top: 0px;
}

.lab1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-size: 18px;
  color: #333;
  height: 20px;
  width:0px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px; */
}

input {
  border: 1px solid #000;
  margin-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 44%;
  line-height: 2em;
  border: 1px solid #AAA;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

input[type=button] {
  float: none;
}

.rmfIcons {
  color: black;
  vertical-align: middle;
  font-size: 20px !important;
  padding: 2px;
  margin-right: 20px;
  cursor: pointer;
}

#inputState {
  border: 1px solid #000;
  margin-top: 10px;
  box-sizing: border-box;
  width: 44%;
  line-height: 2em;
  border: 1px solid #AAA;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

.wrapper1 {
  width: 250px;
  font-family: "Helvetica";
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: snow;
  padding: 13px;
  font-weight: 700;
  display: block;
  float: left;
}

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
  color: black
}

.StepProgress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}

.StepProgress-item {
  position: relative;
  counter-increment: list;
}

.disabled>a, .disabled>a:focus, .disabled>a:hover, .disabled>span, .disabled>span:focus, .disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  /* background-color: #fff;
border-color: #ddd; */
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}

.StepProgress-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.StepProgress-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -44px;
  width: 29px;
  height: 29px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.StepProgress-item.is-done::before {
  border-left: 2px solid green;
}

.StepProgress-item.is-done::after {
  content: "✔";
  font-size: 17px;
  color: #fff;
  text-align: center;
  border: 2px solid green;
  background-color: green;
}

.StepProgress-item.current::before {
  border-left: 2px solid green;
}

.StepProgress-item.current::after {
  content: counter(list);
  padding-top: 1px;
  width: 29px;
  height: 29px;
  top: -4px;
  left: -44px;
  font-size: 14px;
  text-align: center;
  color: green;
  border: 2px solid green;
  background-color: white;
}

.StepProgress strong {
  display: block;
}

#navtab {
  margin-left: 15vw;
}

.inputState1 {
  margin-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 44%;
  line-height: 2em;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

.former {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid;
  margin: 20px;
  background-color: #fff;
  box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
}

/* @media only screen and (min-width: 1280px) and (max-width: 1308px) {
  label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: auto !important;
    width: auto !important;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
  }
} */

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
  #navtab {
    margin-left: 9vw;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1500px) {
  #navtab {
    margin-left: 13vw;
  }
}

.note-editor.note-frame .note-editing-area .note-editable {
  padding: 10px;
  overflow: auto;
  color: #000;
  word-wrap: break-word;
  background-color: #fff;
  /* overflow: hidden; */
  width: 78vw;
}

.pageHeader {
  text-align: center;
  padding: 0.2rem;
}

.sticky-top {
  position: relative !important;
  top: 42px !important;
  z-index: 1020;
}

.modal-header {
  color: white;
  background: rgb(125, 126, 125);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
  /* IE6-9 */
}

.modal-title {
  color: white;
}

.b05_3d_roll {
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
}

.b05_3d_roll div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  pointer-events: none;
}

.b05_3d_roll div:nth-child(1) {
  color: #000000;
  background-color: transparent;
  transform: rotateX(91deg);
  -webkit-transform: rotateX(91deg);
  -moz-transform: rotateX(91deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform-origin: 50% 50% -25px;
  -webkit-transform-origin: 50% 50% -25px;
  -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll div:nth-child(2) {
  color: black;
  background-color: transparent;
  transform: rotateX(-1deg);
  -webkit-transform: rotateX(-1deg);
  -moz-transform: rotateX(-1deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform-origin: 50% 50% -25px;
  -webkit-transform-origin: 50% 50% -25px;
  -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll:hover div:nth-child(1) {
  color: black;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(-1deg);
  -moz-transform: rotateX(-1deg);
}

.b05_3d_roll:hover div:nth-child(2) {
  background-color: transparent;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform: rotateX(-91deg);
  -webkit-transform: rotateX(-91deg);
  -moz-transform: rotateX(-91deg);
}

.button_base {
  margin: 0;
  border: 0;
  font-size: 14px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: default;
}

.button_base:hover {
  cursor: pointer;
}

.forms {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 20px;
  background-color: #fff;
}

td {
  word-wrap: break-word !important;
  overflow: hidden;
  white-space: pre-wrap;
}

a {
  word-wrap: break-word !important;
}

.disclaimer {
  margin-top: -4%;
}

#myTable {
  border: none;
  width: 50%;
  table-layout: fixed !important;
}

#myTable tr td:first-child {
  width: 78%;
}

#myTable tr td:nth-child(2) {
  width: 22%;
}

#myTable tr th:first-child {
  width: 78%;
  table-layout: fixed !important;
}

#myTable tr th:nth-child(2) {
  width: 34%;
}

.plus {
  float: right;
  vertical-align: middle;
  font-size: 20px;
  padding: 2px;
  margin-left: 20px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.plus1 {
  float: right;
  vertical-align: middle;
  font-size: 20px;
  padding: 2px;
  margin-left: 20px;
  color: black;
  margin-top: 15px;
  margin-bottom: -15px;
}

.form-control {
  width: 44% !important;
}

.arrowBox {
  width: 200px;
  height: 42px;
  background-color: chocolate;
  border-radius: 5px;
  position: fixed;
  /* top: 3em; */
  /* left: 230px; */
  left: 28%;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #313333;
  text-align: center;
  /* margin-left: 156px; */
  margin-top: 66px;
}

.arrowBox2 {
  width: 200px;
  height: 30px;
  background-color: #ffc728;
  border-radius: 5px;
  position: fixed;
  float: right;
  margin-top: -188px;
  margin-left: 48%;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #313333;
  text-align: center;
}

.arr2 {
  width: 144px;
  height: 35px;
  background-color: wheat;
  position: sticky;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #313333;
  font-weight: bold;
  text-align: center;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 29px solid #555;
  border-bottom: 25px solid transparent;
  margin-left: 235px;
  margin-top: -67px;
}

.triangle-left1 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 27px solid #555;
  border-bottom: 25px solid transparent;
  margin-left: 235px;
  margin-top: -16px;
}

/* .arr2:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid #ffc728;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
} */

.rmftab {
  background-color: #fff !important;
}

#rmftab1 {
  background-color: #fff !important;
}

.arrowBox:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid chocolate;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}

.arrowBox2:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid #ffc728;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}

.basicContent {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 30px;
  font-size: 14px;
  line-height: 142px;
  text-align: center;
}

.arrowBox3 {
  width: 200px;
  height: 30px;
  background-color: #ffc728;
  border-radius: 5px;
  position: fixed;
  float: right;
  margin-top: -143px;
  margin-left: 48%;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #313333;
  text-align: center;
}

.arrowBox3:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid #ffc728;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}

.arrowBox4 {
  width: 200px;
  height: 30px;
  background-color: #ffc728;
  border-radius: 5px;
  position: fixed;
  float: right;
  margin-top: -98px;
  margin-left: 48%;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #313333;
  text-align: center;
}

.arrowBox4:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid #ffc728;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}

.arrowBox5 {
  width: 200px;
  height: 30px;
  background-color: #ffc728;
  border-radius: 5px;
  position: fixed;
  float: right;
  margin-top: -49px;
  margin-left: 48%;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #313333;
  text-align: center;
}

.arrowBox5:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid #ffc728;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}

.form-control1 {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

input {
  border: 1px solid #000;
  margin-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 44%;
  line-height: 2em;
  border: 1px solid #AAA;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

.sidebar {
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-wrapper {
  /* position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px; */
  position: fixed;
  height: calc(100% - 30px);
  left: 0;
  top: 38px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 272px;
  background-color: #fff;
}

.fixedHeader {
  position: fixed !important;
  display: block;
  width: 100%;
  /* padding: 6px; */
  height: 40px;
  z-index: 9997;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#form2 {
  border-radius: 10px;
  margin: 2vh 0% 0% 0%;
  /* background-color: white; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.sidebar .logo {
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 18px;
  color: #3C4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.sidebar .logo-img {
  width: 35px;
  display: block;
  max-height: 30px;
  margin-left: 13px;
  margin-right: 15px;
}

.sidebar, .main-panel, .sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: .2s, .2s, .35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.sidebar .nav {
  margin-top: 20px;
  display: block;
}

.sidebar[data-color="danger"] li.active>a {
  background-color: #f44336 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.sidebar .nav li.active>a, .sidebar .nav li.active>a i {
  color: red;
}

.sidebar .nav li:first-child>a {
  margin: 0 5px;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  margin: 6px 6px 0;
  border-radius: 3px;
  color: #3C4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 0px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.sidebar .nav li.active>a i {
  color: red;
}

.sidebar ul li a:hover {
  color: #000;
  background: whitesmoke;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar ul ul a {
  font-size: 16px !important;
  padding-left: 30px !important;
  background: #fff;
}

#navTest {
  background-color: inherit;
  text-align: center;
  position: relative;
}

.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 23px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

a .material-icons {
  vertical-align: middle;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl+.tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl+.tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl+.tgl-btn::selection {
  background: none;
}

.tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}

.tgl+.tgl-btn:after {
  left: 0;
}

.tgl+.tgl-btn:before {
  display: none;
}

.tgl:checked+.tgl-btn:after {
  left: 50%;
}

.tgl-flip+.tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
  perspective: 100px;
}

.tgl-flip+.tgl-btn:after, .tgl-flip+.tgl-btn:before {
  display: inline-block;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}

.tgl-flip+.tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.tgl-flip+.tgl-btn:before {
  background: gray;
  content: attr(data-tg-off);
}

.tgl-flip+.tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

.tgl-flip:checked+.tgl-btn:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tgl-flip:checked+.tgl-btn:after {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}

.tgl-flip:checked+.tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}

#formSame {
  border-radius: 10px;
  margin: 0% 1% 0% 1%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 4% 6% 1% 2%;
}

.newlist ul li a {
  padding: 8px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  top: 66px !important;
}

.newBackBtn {
  position: relative;
  top: 55px;
  z-index: 1020;
}

.newSticky {
  position: relative;
  top: 42px;
  z-index: 1020;
}

.mat-optgroup-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  width: 0;
  float: left;
  margin-right: 0;
  margin-left: 0px;
  margin-bottom: 0;
  margin-top: 0;
}