<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Audit</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Legal document has been updated{{name}}!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>

<div class="plus">
  <div class="save-edit" style="float: right" *ngIf="!showSigned">

    <fa class="edit-icon icons" [name]="'edit'" (click)="editClick()"></fa>
  </div>
</div>
<div>

  <div class="former">
    <div id="form1">
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>General Information</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">

            <label for="inputState">Name<span class="asterisk">*</span></label>
            <input type="text" class="form-control" id="lastName" value="{{acronym}}" readonly="readonly">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last updated by</label>
            <input type="text" class="form-control" id="lastName" value={{updatedBy}} readonly="readonly">
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-md-6">
          <label for="lastName">Name</label>
          <div class="asterisk">*</div>
          <input type="text" class="form-control" id="lastName" value="enter here">
        </div> -->
          <div class="form-group col-md-6">
            <label for="lastUpdatedAt">Last updated at</label>
            <input type="text" class="form-control" id="email" value="{{updatedTime}}" readonly="readonly">
          </div>
        </div>
      </div>
      <hr />
      <br>
      <span class="plusbtn">

        <i class="fa fa-plus-square-o" aria-hidden="true" style="float:right;" *ngIf="showSigned" (click)="createMOU()"></i>
      </span>
    
      <br>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Overview</h4>
        </div>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col" (click)="handleSort('name')">Name <i class="fa fa-arrow-down" *ngIf="!desc"></i> <i
                    class="fa fa-arrow-up" *ngIf="desc"></i></th>
                <th scope="col" (click)="handleSort1('signed')">Signed<i class="fa fa-arrow-down" *ngIf="!signed"></i>
                  <i class="fa fa-arrow-up" *ngIf="signed"></i></th>

                <th scope="col" (click)="handleSort2('recertificationDt')">Recertification Date<i class="fa fa-arrow-down"
                    *ngIf="!recertificationDt"></i>
                  <i class="fa fa-arrow-up" *ngIf="recertificationDt"></i></th>
                <th scope="col">Notify</th>
                <th scope="col" (click)="handleSort3('updatedBy')">Last Updated By<i class="fa fa-arrow-down"
                  *ngIf="!updtBy"></i>
                <i class="fa fa-arrow-up" *ngIf="updtBy"></i></th>
                <th scope="col" (click)="handleSort4('updatedTs')">Last Updated Date<i class="fa fa-arrow-down"
                  *ngIf="!updt"></i>
                <i class="fa fa-arrow-up" *ngIf="updt"></i></th>
              </tr>


            </thead>
            <tbody>


              <tr *ngFor="let appsolution of appMOUs |  paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                  <a class="box" (click)="getAppMOU(appsolution.mouId)" style="cursor: pointer;">{{ appsolution.name}}</a>
                </td>
                <td><i [ngClass]=" appsolution.signed ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td>
                <td>{{ appsolution.recertificationDt | filterDate }}</td>
                <td>
                  <a>
                    <i class="fa fa-envelope" style="color:#3A539B !important"></i>
                  </a>
                </td>
                <td>{{appsolution.updatedBy}}</td>
                <td>{{appsolution.updatedTs | filterDate | date:'MM/dd/yyyy'}}</td>

              </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="showPagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

  </div>
</div>
<!-- <router-outlet></router-outlet> -->