<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
        <p>{{info}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
    </div>
</ng-template>
<div class="form-div">
    <form #myForm="ngForm">

        <div class="plus1">
            <span class=" title elipsis pull-right" *ngIf="showEdit">
                <a>
                    <fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa>
                </a>
            </span>
            <span class=" title elipsis pull-right" *ngIf="!showForm">
                <a *ngIf="this.myForm.valid" (click)="saveActionPlan()" title="Save Audit" class="ng-hide">
                    <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
                </a>
            </span>
            <!-- <span class=" title elipsis pull-right">
                    <a>
                        <fa class="edit-icon icons" [name]="'edit'"></fa>
                    </a>
                </span> -->



          <!-- <span class=" title elipsis pull-right">
                <a title="Application audit history">
                    <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
                </a>
            </span> -->

            <span class=" title elipsis pull-right">

                <a (click)="showAudit()" title="Change to view mode. This reverts the changes">
                    <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
                </a>
              <!--   <a (click)="showAudit()" title="Go back to audit section.">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
                </a> -->
            </span>


        </div>


        <div class="infoBox">
            <div class="headerOfBox">
                <h4>Action Plan</h4>
            </div>

            <fieldset [disabled]="showForm">

                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputState">Start Date </label>

                        <my-date-picker name="startDate" class="inputState1" [disabled]='showForm' ngModel
                            (dateChanged)="getStartDate($event)" [(ngModel)]="startDate" required></my-date-picker>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">End Date </label>

                        <my-date-picker name="endDate" [disabled]='showForm' class="inputState1" ngModel (dateChanged)="getEndDate($event)"
                            [options]="myDatePickerOptions" [(ngModel)]="endDate" required></my-date-picker>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputState">Assigned To <span class="asterisk">*</span></label>

                        <!-- <input type="text" name="assignedTo" class="form-control" id="assignedTo" [(ngModel)]="appAudit.actionPlanAssignedTo"> -->
                        <select name="systemOwner" style="width:50%;" [(ngModel)]="appAudit.actionPlanAssignedTo" class="form-control" id="searchUsers"
            (change)="appAudit.actionPlanAssignedTo=$event.target.value" required>
                <option value="" selected>Choose...</option>
                <option *ngFor="let getUser of users" value="{{ getUser.firstName}} {{getUser.lastName }}">{{ getUser.firstName}} {{getUser.lastName }}</option>
            </select>
                    </div>

                </div>
                <div class="form-row">

                    <label for="inputState">Summary</label>
                    <br>
                    <textarea name="summary" id="" rows="10" class="form-control1" [(ngModel)]="appAudit.actionPlanSummary" maxlength="50000" #actionPlanSummary="ngModel"> </textarea><!--<div style="float:right">{{50000 - actionPlanSummary.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="actionPlanSummary.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 



                </div>
                <div class="form-row">


                    <label for="inputState">Tasks</label>
                    <textarea name="tasks" id="" rows="10" class="form-control1" [(ngModel)]="appAudit.actionPlanTasks" maxlength="50000" #actionPlanTasks="ngModel"> </textarea><!--<div style="float:right">{{50000 - actionPlanTasks.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="actionPlanTasks.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 



                </div>
                <div class="form-row">


                    <label for="inputState">Closeout Comments</label>
                    <textarea name="Comments" id="" rows="10" class="form-control" [(ngModel)]="appAudit.actionPlanCloseoutComments" maxlength="50000" #actionPlanCloseoutComments="ngModel"> </textarea><!--<div style="float:right">{{50000 - actionPlanCloseoutComments.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="actionPlanCloseoutComments.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 
                </div>



            </fieldset>





        </div>






    </form>
</div>