.forms{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}



.display{
	display: inline;
	margin-left: 2px;
}

.installation{
	padding: 1%;
}

.buttons{
	float: right;
}

.btn{
	background-color: black;
	border-color: black;
}

.modal-header{
	background-color:black !important;
	color:white;
}
