<div class="sidebar-wrapper">
  <ul class="nav">
    <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item"> -->
    <!-- <a class="nav-link" [routerLink]="[menuItem.path]">
              <i class="material-icons">{{menuItem.icon}}</i>
              <p>{{menuItem.title}}</p>
          </a> -->
    <!-- </li> -->
    <li class="nav-item" routerLinkActive="active">

      <a class="nav-link" routerLink="policySrt">
        <i class="material-icons">dashboard</i>
        <p>Select Policy</p>
      </a>

    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="sdetails">
        <!-- <i class="material-icons">person</i> -->
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Details
      </a>

    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="sreview">
        <!-- <i class="material-icons">content_paste</i> -->
        <i class="fa fa-user" aria-hidden="true"></i>
        Review Section
      </a>

    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="sdocuments">
        <!-- <i class="material-icons">content_paste</i> -->
        <i class="fa fa-file-text" aria-hidden="true"></i>
        Documents
      </a>

    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="sapplications">
        <!-- <i class="material-icons">content_paste</i> -->
        <i class="fa fa-user" aria-hidden="true"></i>
        Application
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/locality/map">
        <!-- <i class="material-icons">person</i> -->
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Families
      </a>

    </li>
  </ul>
</div>