
        <div class="form-row">
                <div class="form-group col-md-2.5">
                    <div class="wrapper1">
                    <ul class="StepProgress">
                        <li class="StepProgress-item current">
                            <a style="color:black"  routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/first" [routerLinkActiveOptions]="{exact: true}">Details</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                                <a style="color:black"  routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/auditControl" [routerLinkActiveOptions]="{exact: true}">Access Controls</a>
                            </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black"routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/find">Findings</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active"  routerLink="/system/tab2/Audit/Tab/recomendation">Recomendations</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black"routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/management">Management Response</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/action">Action Plan</a>
                        </li>
                        
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/brisk">Business Risk</a>
                        </li>
                         <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/srisk">Security Risk</a>
                        </li>
                         <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/budget">Budget</a>
                        </li>
                         <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/attachment">Attachments</a>
                        </li>
                        <li class="StepProgress-item current" [ngClass]="{disabled:disabled}">
                            <a style="color:black" routerLinkActive="active" routerLink="/system/tab2/Audit/Tab/lessons">Lessons Learned</a>
                        </li>
                    </ul>
                </div>
                </div>
            <div style="float: right" class="form-group col-md-9">
            <router-outlet></router-outlet>
        </div>
        </div>
            