<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="plus">

  <fa class="edit-icon icons" *ngIf="showEdit" [name]="'edit'" style="float:right;" (click)="showPlus()"></fa>

</div>

<div>
  <form>
    <div id="form1">
      <div class="disclaimer"></div>
      <span class="plusbtn" *ngIf="!showEdit">
        <i class="fa fa-plus-square-o" aria-hidden="true" style="float:right; font-size: 24px;" (click)="goTo()"></i>
      </span>
      <br>
      <div class="infoBox" *ngIf="show">

        <div class="headerOfBox">
          <h4>Overview</h4>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>


              <th scope="col" (click)="handleSort1('name')">RMF Name<i class="fa fa-arrow-down" *ngIf="!col1"></i>
                <i class="fa fa-arrow-up" *ngIf="col1"></i></th>
              <th scope="col" (click)="handleSort2('rmfTypeName')">RMF Type <i class="fa fa-arrow-down"
                  *ngIf="!col2"></i>
                <i class="fa fa-arrow-up" *ngIf="col2"></i></th>
              <th scope="col" (click)="handleSort3('reviewDate')">Review Date<i class="fa fa-arrow-down"
                  *ngIf="!col3"></i>
                <i class="fa fa-arrow-up" *ngIf="col3"></i></th>
              <th scope="col" (click)="handleSort4('nextReviewDate')">Next Review Date<i class="fa fa-arrow-down"
                  *ngIf="!col4"></i>
                <i class="fa fa-arrow-up" *ngIf="col4"></i></th>
              <th scope="col" (click)="handleSort5('status')">Status<i class="fa fa-arrow-down" *ngIf="!col5"></i>
                <i class="fa fa-arrow-up" *ngIf="col5"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let audit of rmf | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>
                <a (click)="getPicture(audit)" style="cursor:pointer;color:blue;">
                  {{audit.name }}
                </a>
              </td>
              <td>{{audit.rmfTypeName}}</td>
              <td>{{audit.reviewDate | filterDate | date:'MM/dd/yyyy'}}</td>
              <td>{{ audit.nextReviewDate | filterDate | date:'MM/dd/yyyy' }}</td>
              <td>{{ audit.status }}</td>

            </tr>
          </tbody>
        </table>
        <pagination-controls *ngIf="showPagination" (pageChange)="p = $event"></pagination-controls>
      </div>

      <div class="infoBox" *ngIf="!show">

        <div class="headerOfBox">
          <h4>Overview</h4>
        </div>
        <div style="float: right;cursor: pointer;" (click)="getBack()">
          Go Back
        </div>

        <!-- <div class="arrowBox" (click)="getAudit()" style="cursor: pointer;">
          {{rmfname}}<br><br>
          {{rmftype}}
        </div> -->
        <!-- <div class="basicContent" (click)="getAudit()" style="cursor: pointer;">
          {{sysname}}
        </div> -->
        <!-- <div class="arrowBox2" (click)="getFile()" style="cursor: pointer;">
          PoA&M
        </div> -->
        <!-- <div class="arrowBox3">
          score
        </div>
        <div class="arrowBox4">
          ssp
        </div>
        <div class="arrowBox5">
          Sars
        </div> -->

        <table style="border: none;
        margin-left: auto;
        margin-right: auto;">
          <tr id="rmftab1">
            <td>
              <div class="col-md-3">
                <div class="card" (click)="getAudit()" style="width: 16rem;height:14em;cursor: pointer;margin-right: auto;display: block;
                margin-left: -38%;background-color: cornsilk;">
                  <div class="card-body">
                    <div class="card-heading">
                      <h5 class="card-title">Apply RMF</h5>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-9 text" style="font-size:18px;
                      font-weight: bold;text-align: center;">
                        {{rmfname}}<br><br>
                        {{rmftype}}

                      </div>
                    </div>
                    <div class="triangle-left"></div>

                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="col-md-3">
                <div class="card" (click)="getAudit()" style="width: 16rem;height:14em;
                cursor: pointer;
                display: block;background-color:ghostwhite;margin-right: 12px;">
                  <div class="card-body">
                    <div class="card-heading">
                      <h5 class="card-title">System Under Review</h5>
                    </div>
                    <hr>
                    <div class="row">

                      <div class="col-sm-9 text" style="text-align: center;
                            font-size:18px;
                            font-weight: bold;">
                        {{sysname}}


                      </div>
                    </div>
                    <div class="triangle-left1"></div>

                  </div>
                </div>
              </div>
            </td>
            <td style="padding-left: 28px;">
          <tr id="rmftab1">
            <h5 style="padding-bottom: 4px;">Review Outcomes</h5>
          </tr>
          <tr id="rmftab1">
            <!-- <div class="col-md-3">
                        <div class="card"
                          style="width: 10rem;height:3em;cursor: pointer;margin-right: auto;display: block;">
                          <div class="card-body" (click)="getValue('devicetab')">
                            <div class="card-heading">
                              <h5 class="card-title">System</h5>
                            </div>
                          
                         
                
                          </div>
                        </div>
                      </div> -->
            <div class="arr2" (click)="getFile('poam')" style="cursor: pointer;max-width: 90%;margin-bottom: 6px;">
              POA&M
            </div>
          </tr>
          <tr id="rmftab1">
            <!-- <div class="col-md-3">
              <div class="card" style="width: 10rem;height:3em;cursor: pointer;margin-right: auto;display: block;">
                <div class="card-body" (click)="getValue('devicetab')">
                  <div class="card-heading">
                    <h5 class="card-title">System</h5>
                  </div>


                </div>
              </div>
            </div> -->

            <div class="arr2" style="cursor: pointer;max-width: 90%;margin-bottom: 6px;">
              Score
            </div>
          </tr>
          <tr id="rmftab1">
            <div class="arr2" (click)="getFile('ssp')" style="cursor: pointer;max-width: 90%;margin-bottom: 6px;">
              SSP
            </div>
            <!-- <div class="col-md-3">
              <div class="card" style="width: 10rem;height:3em;cursor: pointer;margin-right: auto;display: block;">
                <div class="card-body" (click)="getValue('devicetab')">
                  <div class="card-heading">
                    <h5 class="card-title">System</h5>
                  </div>


                </div>
              </div>
            </div> -->
          </tr>
          <tr id="rmftab1">
            <div class="arr2" (click)="getFile('sars')" style="cursor: pointer;max-width: 90%;margin-bottom: 6px;">
              SARs
            </div>
          </tr>

          </td>
          </tr>
        </table>
      </div>


    </div>
  </form>
</div>
<router-outlet></router-outlet>