<app-navigation-component></app-navigation-component>
<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<app-option-list></app-option-list>
<!-- <div class="navigate sticky-top">

	<div class="form-options">
		<div class="home-back">
			<a routerLink="/dashboard">
				<fa class="left-icons home-icon icons" data-toggle="tooltip" data-placement="right" title="Home" data-animation="true"
				 data-delay="0" [name]="'home'"></fa>
			</a>
			<a href="javascript:void(0)" (click)="backClicked()">
				<fa class="left-icons left-icon icons" data-toggle="tooltip" data-placement="right" title="Back" data-animation="true"
				 data-delay="0" [name]="'arrow-left'"></fa>
			</a>
		</div> -->

<!--  <fa class="edit-icon icons" [name]="'edit'"></fa> -->
<!-- </div>
</div> -->
<!--<div class="first-div">
        <div class="model"><p><b>Model/Solution: Democracy Suite</b></p></div>
        <div class="version"><p><b>Version: D-Suite 4.14-E System</b></p></div>
        </div>
        <hr />-->
<!--  <app-solutions-forms-component></app-solutions-forms-component> -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Success</h4>
	</div>
	<div class="modal-body">
		<p>Solution is Added</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c();redirect()">Close</button>
	</div>
</ng-template>
<form (ngSubmit)="createSolution()" enctype="multipart/form-data" #f="ngForm">
	<!-- <div class="page-description">
		<h3 class="line">Solutions</h3>
	</div> -->
	<br>
	<div id="form1">
		<div>
			<h3 class="">Solutions</h3>
			<hr class="after-heading">
		</div>
		<br>

		<div class="infoBox">
			<div class="headerOfBox">
				<h4>General Information</h4>
			</div>
			<div class="model-solution-row form-row">
				<div class="model form-group col-md-6">
					<label class="label-form" for="modelSolution"><b>Model/Solution</b><span class="asterisk">*</span></label>

					<!-- <input type="text" class="form-control" id="modelSolution" ngModel name="modelSolution" (change)="solution.name = $event.target.value" required> -->
					<input type="text" id="inputState" ngModel name="modelSolution" [(ngModel)]="solution.name" required>
				</div>
				<div class="version form-group col-md-6">
					<label class="label-form" for="version"><b>Version</b>
						<span class="asterisk">*</span>
					</label>

					<!-- <input type="text" class="form-control" name="versionNumber" id="version" ngModel name="version" (change)="solution.versionNumber = $event.target.value" required> -->
					<input type="text" name="versionNumber" id="inputState" ngModel name="version" [(ngModel)]="solution.versionNumber"
					 required>
				</div>
				<div class="form-group col-md-6">
					<label class="label-form" for="systemType"><b>System Type</b>
						<div class="asterisk">*</div>
					</label>

					<select id="inputState" class="form-control" ngModel name="systemType" (change)="solution.systemTypeDTO.systemTypeId = $event.target.value"
					 required>
					 <option value="" selected>Choose...</option>
						<option *ngFor="let systemType of systemTypeDTO" value="{{ systemType.systemTypeId }}">
							{{ systemType.name }}
						</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label class="label-form" for="equipmentType"><b>Equipment Type</b><span class="asterisk">*</span></label>

					<select id="inputState" class="form-control" ngModel name="equipmentType" (change)="solution.solutionType = $event.target.value"
					 required>
					 <option value="" selected>Choose...</option>
						<option *ngFor="let equipmentType of solutionType" value="{{ equipmentType.solutionTypeId }}">
							{{ equipmentType.typeName }}
					</select>
				</div>
				<div class="form-group col-md-6">
					<label class="label-form" for="vendor"><b>Vendor</b>
						<span class="asterisk">*</span>
					</label>

					<select id="inputState" class="form-control" ngModel name="vendor" (change)="solution.vendorId = $event.target.value"
					 required>
					 <option value="" selected>Choose...</option>
						<option *ngFor="let vendor of vendorDTO" value="{{ vendor.vendorId }}">
							{{ vendor.name }}

						</option>
					</select>

				</div>
				<div class="form-group col-md-6">
					<label for="modelSolution">Precinct Type<span class="asterisk">*</span></label>
					
					 <select id="inputState" class="form-control" ngModel name="precinct"
					 (change)="solution.precinctTypeId = $event.target.value" required>
						<option value="" selected>Choose...</option>
						<option *ngFor="let precinct of precinctTypes" value="{{ precinct.precinctTypeId }}">{{ precinct.typeName }}</option>

					</select>

				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<!-- <div class="second-row form-row">
            	<div class="form-group col-md-6">
            <label class="label-form" for="systemType"><b>System Type</b></label><div class="asterisk">*</div>
              <select class="form-control" id="systemType" required>
                <option selected>Choose...</option>
                <option value="1">EVS</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            	</div>
            	<div class="form-group col-md-6">
            		<label class="label-form" for="equipmentType"><b>Equipment Type</b></label><div class="asterisk">*</div>
		              <select class="form-control" id="equipmentType" required>
		                <option selected>Choose...</option>
		                <option value="1">Optical/Digital Scan</option>
		                <option value="2">Two</option>
		                <option value="3">Three</option>
		              </select>
            	</div>
            	<div class="form-group col-md-6">
            		<label class="label-form" for="vendor"><b>Vendor</b></label><div class="asterisk">*</div>
		              <select class="form-control" id="vendor" required>
		                <option selected>Choose...</option>
		                <option value="1">Dominion Voting</option>
		                <option value="2">Two</option>
		                <option value="3">Three</option>
		              </select>
            		
            	</div>
            </div> -->
		<div class="infoBox">
			<div class="headerOfBox">
				<h4>Installation and Hosting</h4>
			</div>

			<div class="installation form-group col-md-12">
				<label for="hostingType"><b>Hosting Type</b>
					<span class="asterisk">*</span>
				</label>

				<select id="inputState" class="form-control" ngModel name="hostingType" (change)="solution.hostingTypeDTO.hostingTypeId = $event.target.value"
				 required>
				 <option value="" selected>Choose...</option>
					<option *ngFor="let hostingType of hostingTypeDTO" value="{{ hostingType.hostingTypeId }}">
						{{ hostingType.name }}
					</option>
				</select>
			</div>
			<br>
			<br>
			<div class="installation form-group">

				<textarea cols="156" rows="7" [ngxSummernote]="config" id="ngxSummernote" [(ngModel)]="solution.hostingTypeNotes" name="hostingNotes" #hostingTypeNotes="ngModel" maxlength="50000"> </textarea><!--<div style="float:right">{{50000 - hostingTypeNotes.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="hostingTypeNotes.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 

			</div>

			<div class="attachments-div">

				<input type="file" #fileInput *ngIf="!showForm" (change)="createCertDTO($event,'hosting')">
				<div class="display-file">
					<br>
					<br>
					<br>
					<table border="1">

						<tr>
							<th>FileName</th>
							<th>Action</th>
						</tr>
						<tr *ngFor=" let certDocDTO of solution.certDocDTOs let i=index ">
							<td *ngIf="certDocDTO.section == 'hosting'" (click)="showFile(certDocDTO.certDocId)" style="cursor: pointer; color: blue;">{{certDocDTO.fileName}}</td>
							<td *ngIf="certDocDTO.section == 'hosting'" (click)="deleteFile(certDocDTO.certDocId,i)" style="cursor: pointer;"><i
								 class=" fa fa-trash" aria-hidden="true" style="font-size: 24px; color: black;"></i></td>


						</tr>
					</table>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<!-- <p><b>Hosting Notes</b></p>
            <textarea cols="100" rows="7" id="hostingNotes"> </textarea><!--<div style="float:right">{{50000 - notes.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="notes.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div>  -->
		<div class="infoBox">
			<div class="headerOfBox">
				<h4>Certification Information</h4>
			</div>

			<div class="certification-test form-row">
				<div class="form-group col-md-6">
					<label for="approvedDate"><b>DoEL Approved Date</b><span class="asterisk">*</span></label>
					<my-date-picker name="myname" ngModel class="inputState1" [(ngModel)]="approveDate" (dateChanged)="getApproveDt($event)" required></my-date-picker>
					<!-- <p style="color: red;font-weight: bold;">{{err1}}</p> -->
					<!-- <input type="date" class="form-control" id="approvedDate"> -->
				</div>
				<div class="form-group col-md-6">
					<label for="dueDate"><b>Renewal Due Date</b><span class="asterisk">*</span></label>
					<my-date-picker name="rename" ngModel class="inputState1" [(ngModel)]="renewalDate" (dateChanged)="getRenewDt($event)" required></my-date-picker>
					<!-- <p style="color: red;font-weight: bold;">{{err}}</p> -->
					<!-- <input type="date" class="form-control" id="dueDate"> -->
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>

		<div class="infoBox">
			<div class="headerOfBox">
				<h4>Voting System Test Laboratory - VSTL</h4>
			</div>

			<div class="certification-test form-group col-md-12">
				<label for="label-form labVendor"><b>Lab Vendor</b><span class="asterisk">*</span></label>

				<!--             <select class="form-control" id="labVendor" (change) = "solution.labVendorsDTO.labVendorId = $event.target.value"> -->
				<select id="inputState" class="form-control" ngModel name="labVendor" (change)="showLabVendor($event.target.value)"
				 required>
					<option>Choose</option>
					<option *ngFor="let lab of labVendorsDTO" value="{{ lab.labVendorId }}">
						{{ lab.name }}
					</option>
				</select>
			</div>
			<div class="contact" *ngIf="labForm"><br><br><br>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="firstName"><b>First Name</b></label>
						<input type="text" id="firstName" ngModel name="firstName" [(ngModel)]="labVendorsfirstName" [name]="'firstName'"
						 readonly>
					</div>
					<div class="form-group col-md-6">
						<label for="lastName"><b>Last Name</b></label>
						<input type="text" id="lastName" ngModel name="lastName" [(ngModel)]="labVendorslastName" [name]="'lastName'"
						 readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email"><b>Email Id</b></label>
						<input type="email" id="email inputState" name="email" [(ngModel)]="labVendorsemail" [name]="'emailId'"
						 readonly>
					</div>
					<div class="form-group col-md-6">
						<label for="phone"><b>Phone Number</b></label>
						<input type="text" id="phone inputState" name="phone" [(ngModel)]="labVendorsphoneNumber" [name]="'phoneNumber'"
						 readonly>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="certification-test form-row">
            <div class="form-group col-md-6">
                <label for="email"><b>Email Id</b></label><div class="asterisk">*</div>
                <input type="email" class="asterisk form-control" id="email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="phone"><b>Phone Number</b></label><div class="asterisk">*</div>
                <input type="text" class="asterisk form-control" id="phone" required>
            </div>
         </div> -->
	
	<br>
	<br>
	<br>
	<div class="infoBox">
		<div class="headerOfBox">
			<h4>Standard</h4>
		</div>

		<div class="installation form-group">

			<textarea cols="156" rows="7" [ngxSummernote]="config" id="ngxSummernote" [(ngModel)]="solution.certStadard" name="standardNotes" #certStadard="ngModel" maxlength="50000"> </textarea><!--<div style="float:right">{{50000 - certStadard.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="certStadard.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 

			<div class="attachments-div">
				<input type="file" #fileInput1 *ngIf="!showForm" (change)="createCertDTO($event,'standard')">
				<div class="display-file">
					<br>
					<br>
					<br>
					<table border="1">
						<tr>
							<th>FileName</th>
							<th>Action</th>
						</tr>
						<tr *ngFor=" let certDocDTO of solution.certDocDTOs let i=index ">
							<td *ngIf="certDocDTO.section == 'standard'" (click)="showFile(certDocDTO.certDocId)" style="cursor: pointer; color: blue;">{{certDocDTO.fileName}}</td>
							<td *ngIf="certDocDTO.section == 'standard'" (click)="deleteFile(certDocDTO.certDocId,i)" style="cursor: pointer;"><i
								 class=" fa fa-trash" aria-hidden="true" style="font-size: 24px; color: black;"></i></td>


						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="infoBox">
		<div class="headerOfBox">
			<h4>Patches</h4>
		</div>

		<div class="installation form-group">
			<textarea cols="156" rows="7" [ngxSummernote]="config" id="ngxSummernote" [(ngModel)]="solution.patches" [name]="'solution_patches'" #patches="ngModel" maxlength="50000"> </textarea><!--<div style="float:right">{{50000 - patches.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="patches.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 
			<div class="attachments-div">
				<p class="attachments">
					<b>Attachments</b>
				</p>
				<input type="file" #fileInput2 *ngIf="!showForm" (change)="createCertDTO($event,'patches')">
				<div class="display-file">
					<br>
					<br>
					<br>
					<table border="1">
						<tr>
							<th>FileName</th>
							<th>Action</th>
						</tr>
						<tr *ngFor=" let certDocDTO of solution.certDocDTOs let i=index ">
							<td *ngIf="certDocDTO.section == 'patches'" (click)="showFile(certDocDTO.certDocId)" style="cursor: pointer; color: blue;">{{certDocDTO.fileName}}</td>
							<td *ngIf="certDocDTO.section == 'patches'" (click)="deleteFile(certDocDTO.certDocId,i)" style="cursor: pointer;"><i
								 class=" fa fa-trash" aria-hidden="true" style="font-size: 24px; color: black;"></i></td>


						</tr>



					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br><br>
	<div>
		<div class="infoBox">
			<div class="headerOfBox">
				<h4>Notes</h4>
			</div>

			<div class="installation form-group">
				<textarea cols="156" rows="7" [ngxSummernote]="config" id="ngxSummernote" [(ngModel)]="solution.notes" [name]="'solution_notes'" #notes="ngModel" maxlength="50000"> </textarea><!--<div style="float:right">{{50000 - notes.value.length}} characters left </div> -->
					 <br>
					 <div *ngIf="notes.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 
				<div class="attachments-div">
					<p class="attachments">
						<b>Attachments</b>
					</p>
					<input type="file" #fileInput3 *ngIf="!showForm" (change)="createCertDTO($event,'solution')">
					<div class="display-file">
						<br>
						<br>
						<br>
						<table border="1">
							<tr>
								<th>FileName</th>
								<th>Action</th>
							</tr>
							<tr *ngFor=" let certDocDTO of solution.certDocDTOs let i=index ">
								<td *ngIf="certDocDTO.section == 'solution'" (click)="showFile(certDocDTO.certDocId)" style="cursor: pointer; color: blue;">{{certDocDTO.fileName}}</td>
								<td *ngIf="certDocDTO.section == 'solution'" (click)="deleteFile(certDocDTO.certDocId,i)" style="cursor: pointer;"><i
									 class=" fa fa-trash" aria-hidden="true" style="font-size: 24px; color: black;"></i></td>


							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<div class="buttons" style="margin-right:7%">
		<!-- <button type="submit" (click)="open(content)" [disabled]="!f.valid" class="submit btn btn-primary">Submit</button> -->
		<button type="submit" class="submit btn btn-primary" [disabled]="!f.valid">Submit</button>
		<button type="cancel" (click)="cancelButton($event)" class="cancel btn btn-primary">Cancel</button>
		<!-- <button type="submit" class="submit btn btn-primary" [disabled]="!form.valid">Submit</button> -->
	</div>
</form>