<!-- <div class="show" *ngIf="showHistory"> -->
<!-- <form id="former">
    <div class="form-row">
      <label for="inputState">Audit</label>
      <hr />
      <textarea name="" id="" rows="5" class="form-control"><button type="close" class="submit">Close</button> </textarea>
      <div style="float:right">{{50000 - notes.value.length}} characters left </div> -->
					 <!-- <br>
					 <div *ngIf="notes.errors?.maxlength" style="float:right">
						<span style="color:tomato"> 	Exceeded the character limit. </span>
					   </div> 
    </div> -->
  <!-- </form> --> 
  <ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
        <p>No controls to download.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
    </div>
</ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Policy File</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true" id="testColor">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-md-12">
        <label>
          Attachment
        </label>
        <form #myFileForm="ngForm">
            <input type="file" name="file" ngModel file-model="attachment" data-btn-text="Select a File" accept=".pdf,.doc,.docx"
              #fileInput (change)="getFile($event)" required>

          
        </form>
      </div>

    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    <button type="savebtn" [disabled]="!myFileForm.valid" class="btn btn-outline-dark" (click)="compareFile();c()">Compare</button>
  </div>
</ng-template>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<form class="former">
  <div class="form-row">
    <span style="color: red; font-weight: bold;">&nbsp;{{errorfile}}</span>
  </div>
  <div class="panel-heading">

    <span class="title elipsis pull-right">
      <a title="Compare policies">
        <i class="fa fa-exchange" aria-hidden="true" style="font-size: 24px;" (click)="open(content)"></i>
      </a>
      <a title="Send notifications">
        <i class="fa  fa-envelope-o" aria-hidden="true" style="font-size: 24px;"></i>
      </a>
      <a title="Download compared policies" (click)="downloadFile()">
        <i class="fa  fa-download" aria-hidden="true" style="font-size: 24px;"></i>
      </a>
    </span>
    <span class=" title elipsis pull-right">

        <a (click)="showAudit()" title="Change to view mode. This reverts the changes">
          <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        <a (click)="showAudit()" title="Go back to audit section.">
          <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
      </span>
  </div>
  <!-- <hr class=htag/> -->
  <div class="infoBox">
    <div class="headerOfBox">
      <h4>Policies</h4>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>

          <th scope="col" (click)="handleSort()">Control Number and Description
            <i class="fa fa-arrow-down testColor" *ngIf="!desc"></i> <i class="fa fa-arrow-up testColor" *ngIf="desc"></i>
          </th>
          <th scope="col" (click)="handleSort1('policyName')">Policy Name
            <i class="fa fa-arrow-down testColor" *ngIf="!policyName"></i> <i class="fa fa-arrow-up testColor" *ngIf="policyName"></i>
          </th>
          <th scope="col" (click)="handleSort2('priority')">Priority
            <i class="fa fa-arrow-down testColor" *ngIf="!priority"></i> <i class="fa fa-arrow-up testColor" *ngIf="priority"></i>
          </th>
          <th scope="col">Source Value</th>
          <!-- <th scope="col">Implemented Value</th>
              <th scope="col">Comparison results</th> -->
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
          <!-- <td>{{ policy.controlNumber }}</td> -->
          <td>
            <a routerLink="/accessCntrl/{{ policy.appAuditPolicyId }}" style="cursor:pointer;color:blue;">{{
              policy.controlNumber
              }}</a>
          </td>
          <td>{{ policy.policyName }}</td>
          <td>{{ policy.priority }}</td>
          <td>{{ policy.policyVal }}</td>
          <!-- <td><i [ngClass]=" policy.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td> -->
          <!-- <td><i [ngClass]=" policy.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td> -->
          <td><i [ngClass]="{'primary':policy.status === 'true',
            'secondary':policy.status === 'false'}" class="fa fa-check-circle"></i></td>
        </tr>
      </tbody>
    </table>

    <!-- <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link">2
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link">3</a>
          </li>
          <li class="page-item">
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav> -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>

</form>


<!-- </div> -->