<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #user let-c="close" let-d="dismiss">
  <form #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col-6">
          FirstName<span class="asterisk">*</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" style="width: 100% !important;" ngModel name="firstName"
            [(ngModel)]="applicationUserDTO.firstName" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          lastName<span class="asterisk">*</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" style="width: 100% !important;" ngModel name="lastName"
            [(ngModel)]="applicationUserDTO.lastName" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          Email<span class="asterisk">*</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" style="width: 100% !important;" ngModel name="email"
            [(ngModel)]="applicationUserDTO.emailId" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="!myForm.valid" class="btn btn-outline-dark"
        (click)="createUser();c()">Add</button>
      <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>


    </div>
  </form>
</ng-template>
<div class="save-edit" style="float: right;" *ngIf="showEdit">
  <fa class="edit-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true"
    data-delay="0" [name]="'edit'" (click)="editClick()"></fa>
</div>
<form #formName="ngForm" (ngSubmit)="createSystem()" enctype="multipart/form-data">


  <div id="form1">
    <div class="disclaimer"><span style="float:left">Please use this screen to add system
        information.</span>&nbsp;&nbsp;&nbsp;
      <span style="float:right">
        <span class="asterisk">*</span> marked fields are mandatory
      </span> </div>

    <fieldset [disabled]="showEdit">

      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Technical</h4>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">

            <label class="fam">System Acronym <span class="asterisk">*</span></label>

            <input type="text" class="form-control" id="lastName" value="{{acronym}}" readonly="readonly">
          </div>
          <div class="form-group col-md-6">
            <label class="fam">System Name <span class="asterisk">*</span></label>

            <input type="text" class="form-control" id="lastName" value="{{sysName}}" readonly>
          </div>


        </div>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label class="fam">Updated By</label>
            <input type="text" class="form-control" id="lastName" value="{{updatedBy}}" readonly="readonly">
          </div>
          <div class="form-group col-md-6">
            <label class="fam">Updated Date</label>
            <input type="text" class="form-control" id="updatedAt" value="{{updatedTime}}" readonly>
          </div>
        </div>

      </div>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Technology Current State</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <tinymce name="effort" name="technology" *ngIf="showEdit" disabled=true
              [(ngModel)]="system.technologyStatus" [config]="config3">
            </tinymce>
            <tinymce name="effort" name="technology" *ngIf="!showEdit" [(ngModel)]="system.technologyStatus"
              [config]="config3">
            </tinymce>
            remaining {{50000 -len3}}

          </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Technologies</h4>
        </div>
        <p>If you want add a new device.Please click on Add device from left panel</p>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Databases(s) </label><br><br>
              <select class="formOpt" name="data2" (change)="getDatabase($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let data of base" value="{{data.databaseId}}">
                  {{data.hostName}}</option>
              </select>

            </div>
            <div class="row">
              <div *ngIf="showTableBase" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.applicationDatabaseDTOs">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.hostName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteBase(temp.databaseId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="row">
              <label for="inputState">Server(s) </label><br><br>
              <select class="formOpt" name="server" (change)="getServers($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let server of app" value="{{server.databaseId}}">
                  {{server.hostName}}</option>
              </select>
            </div>
            <div class="row">
              <div *ngIf="showTableServer" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.applicationServerDTOs">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.hostName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteServer(temp.databaseId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Programming Languages</label><br><br>
              <select class="formOpt" name="technologys" (change)="setTrue($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let techUser1 of tech" value="{{techUser1.technologyId}}">
                  {{techUser1.name }} {{ techUser1.technologyVersion}}</option>
              </select>



            </div>
            <div class="row">
              <div *ngIf="showTableTech" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                  <th style="width:100%;">Below Are Selected Users</th>
                  <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.technologiesDTOs">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.name + temp.technologyVersion}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="hideMinus(temp.technologyId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Resources</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Technical Manager</label><br><br>

              <select class="formOpt" name="man" (change)="getTechManager($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let manage of manager" value="{{manage.userId}}">
                  {{manage.firstName}} {{ manage.lastName}}</option>
              </select>
              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('appTechnicalManagers')"><i
                  class="fa fa-plus-circle" aria-hidden="true"></i></span>
            </div>
            <div class="row">
              <div *ngIf="showTableManager" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.appTechnicalManagers">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteTechManager(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">System Administrator</label><br><br>

              <select class="formOpt" name="sys" (change)="getSystemAdmin($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let system of system1" value="{{system.userId}}">
                  {{system.firstName}} {{ system.lastName}}</option>
              </select>
              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('systemadmin')"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
            <div class="row">
              <div *ngIf="showTableSysAdmin" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.appSystemAdminsters">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteSystemAdmin(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>

            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Business Analysis</label><br><br>


              <select class="formOpt" name="analysis" (change)="getBusiness($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let busi of business" value="{{busi.userId}}">
                  {{busi.firstName }} {{ busi.lastName}}</option>
              </select>
              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('businessanalyst')"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
            <div class="row">

              <div *ngIf="showTableBusiness" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.appBusinessAnalysts">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteBusiness(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">DB Administrator</label><br><br>

              <select class="formOpt" name="admins" (change)="getDbAdmin($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let db of admin" value="{{db.userId}}">
                  {{db.firstName }} {{db.lastName}}</option>
              </select>

              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('dbAdministrator')"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
            <div class="row">
              <div *ngIf="showTableDBAdmin" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.appDBAdmins">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteDbAdmin(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Developers</label><br><br>
              <select class="formOpt" name="data1" (change)="getDevelopers($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let item5 of developer" value="{{item5.userId}}">
                  {{item5.firstName}} {{ item5.lastName}}</option>
              </select>
              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('developer')"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
            <div class="row">
              <div *ngIf="showTableDeveloper" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.developers">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteDeveloper(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>



          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Data Custodian</label><br><br>

              <select class="formOpt" name="data1" (change)="getDataCustodian($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let item2 of datac" value="{{item2.userId}}">
                  {{item2.firstName}} {{item2.lastName}}</option>
              </select>
              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('datacustodian')"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
            <div class="row">
              <div *ngIf="showTableData" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.appDataCustodians">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteCustodian(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="fam">Testers </label><br><br>
              <select class="formOpt" name="data1" (change)="getTesters($event.target.value)">
                <option class="form-control">Choose...</option>
                <option *ngFor="let item7 of tester" value="{{item7.userId}}">
                  {{item7.firstName}} {{ item7.lastName}}</option>
              </select>
              <span *ngIf="!showEdit" class="col-sm-2" (click)="addUser('tester')"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>

            <div class="row">
              <div *ngIf="showTableTest" style="width:233px; height:80px; overflow:auto;margin-left: 38%;margin-top: 1%;">
                <table style="border: none;">
                    <th style="width:100%;">Below Are Selected Users</th>
                    <th *ngIf="!showEdit"></th>
                  <tr *ngFor="let temp of system.testers">
                    <td style="width: 100%;" *ngIf="temp.active">{{temp.firstName}} {{ temp.lastName}}</td>
                    <td *ngIf="temp.active && !showEdit"> <i class="fa fa-minus-circle" style="color: red;"
                        aria-hidden="true" (click)="deleteTest(temp.userId)"></i></td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="infoBox">
        <div class="headerOfBox">Internal Interfaces</div>
        <div class="form-row">
          <div class="form-group col-md-6">

            <tinymce name="effort" *ngIf="showEdit" disabled=true name="internalInterfaces"
              [(ngModel)]="system.internalInterfaces" [config]="config1">
            </tinymce>
            <tinymce name="effort" *ngIf="!showEdit" name="internalInterfaces" [(ngModel)]="system.internalInterfaces"
              [config]="config1">
            </tinymce>
            remaining {{50000 -len1}}
          </div>

        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">External Interfaces</div>
        <div class="form-row">
          <div class="form-group col-md-6">

            <tinymce name="externalInterfaces" *ngIf="showEdit" disabled=true [(ngModel)]="system.externalInterfaces"
              [config]="config2"></tinymce>
            <tinymce name="externalInterfaces" *ngIf="!showEdit" [(ngModel)]="system.externalInterfaces"
              [config]="config2"></tinymce>
            remaining {{50000 -len2}}

          </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">Data Center Details</div>
        <div class="form-row">
          <div class="form-group col-md-6">

            <tinymce name="dataCenterDetails" *ngIf="showEdit" disabled=true [(ngModel)]="system.physicalLocation"
              [config]="config">
            </tinymce>
            <tinymce name="dataCenterDetails" *ngIf="!showEdit" [(ngModel)]="system.physicalLocation" [config]="config">
            </tinymce>
            remaining {{50000 -len}}

          </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">Documents</div>
        <input type="file" class="from-group" #myInput name="filename"
          accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint"
          required>
      </div>
      <br>
      <p>
        <button type="submit" class="btn btn-dark">Upload</button>
      </p>

    </fieldset>
  </div>
  <div class="buttons" style="margin-right:5%">

    <button type="submit" class="submit btn btn-primary" [disabled]="!formName.valid">Submit</button>
    <button type="button" class="cancel btn btn-primary">Cancel</button>
  </div>
</form>