<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #user let-c="close" let-d="dismiss">
  <form #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col-6">
          FirstName<span class="asterisk">*</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" style="width: 100% !important;" ngModel name="firstName"
            [(ngModel)]="applicationUserDTO.firstName" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          lastName<span class="asterisk">*</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" style="width: 100% !important;" ngModel name="lastName"
            [(ngModel)]="applicationUserDTO.lastName" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          Email<span class="asterisk">*</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <input type="text" class="form-control" style="width: 100% !important;" ngModel name="email"
            [(ngModel)]="applicationUserDTO.emailId" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="!myForm.valid" class="btn btn-outline-dark"
        (click)="createUser();c()">Add</button>
      <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>


    </div>
  </form>
</ng-template>
<form #formName="ngForm" (ngSubmit)="createSystem()" enctype="multipart/form-data">


  <div id="form1">
    <div class="disclaimer"><span style="float:left">Please use this screen to add system
        information.</span>&nbsp;&nbsp;&nbsp;
      <span style="float:right">
        <font color=red>*</font> marked fields are mandatory
      </span> </div>

    <fieldset [disabled]="editableForm">

      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Technical</h4>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
  
              <label class="fam">System Acronym <span class="asterisk">*</span></label>
  
              <input type="text" autofocus class="form-control" id="lastName" value="{{acronym}}" readonly="readonly">
            </div>
            <div class="form-group col-md-6">
              <label class="fam">System Name <span class="asterisk">*</span></label>
  
              <input type="text" class="form-control" id="lastName" value="{{sysName}}" readonly>
            </div>
  
          </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Technology Current State</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <tinymce name="effort" name="description" [config]="config3"></tinymce>
            remaining {{50000 -len3}}

          </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Technologies</h4>
        </div>
        <p>If you want add a new device.Please click on Add device from left panel</p>
        <div class="form-row">
          <div class="form-group col-md-6">
              <div class="row">
              <label class="fam">Databases(s) </label><br><br>
       
            <ng-select class="formOpt" [items]="base" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
              bindLabel="hostName" placeholder="Choose..." [(ngModel)]="system.applicationDatabaseDTOs" name="databaseServer"
              (change)="onDatabaseSelection($event)" (open)="checkvalue($event)" (change)="setT()">
              <ng-template ng-option-tmp  let-item="item" let-index="index">
                <div>{{ item.hostName }}</div>
              </ng-template>
            </ng-select>
          </div>
          </div>
          <div class="form-group col-md-6">
              <div class="row">
            <label for="inputState">Server(s) </label><br><br>
            <select class="formOpt">
      <option class="form-control">Choose...</option>
      <option *ngFor="let techUser1 of app" [ngValue]="techUser1.databaseId"  >{{techUser1.hostName}}</option>
    </select>
            <!-- <ng-select class="formOpt"
    [items]="app"
    [multiple]="true"
    [closeOnSelect]="false"
    [searchable]="false"
    bindLabel="hostName"
    placeholder="Choose..."
    [(ngModel)]="system.databaseDTOs" name="databaseDTOs">
    <ng-template ng-option-tmp let-item="item" let-index="index">
      <div>{{ item.hostName }}</div>
  </ng-template>
  </ng-select> -->
          </div>
          </div>
         
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
              <div class="row">
            <label class="fam">Programming Languages</label><br><br>
            <ng-select class="formOpt" [items]="tech" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
              bindLabel="name" placeholder="Choose..." [(ngModel)]="system.technologiesDTOs" (change)="setTrue()" name="technologiesDTOs">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.name + ' ' + item.technologyVersion }}</div>
              </ng-template>
            </ng-select>
          </div>
</div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Resources</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <div class="row">
                  <label class="fam">Technical Manager</label><br><br>
            <ng-select class="formOpt" [items]="manager" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
              bindLabel="firstName" placeholder="Choose..."  (change)="setTrue1()" [(ngModel)]="system.appTechnicalManagers"
              name="appTechnicalManagers">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>

            <span class="col-sm-2" (click)="addUser('appTechnicalManagers9')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
        </div>
          <div class="form-group col-md-6">
              <div class="row">
            <label for="inputState">System Administrator</label><br><br>
            <!-- <select class="form-control" name="sys" [(ngModel)]="sysID" (change)="selectSys()" >
         <option>Choose...</option> 
         <option *ngFor="let User1 of system1" [ngValue]="User1.userId" >{{User1.firstName}}{{User1.lastName}}</option>
       </select> -->
            <ng-select [items]="system1" class="formOpt" (change)="setTrue2()" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
              bindLabel="firstName" placeholder="Choose..." [(ngModel)]="system.appSystemAdminsters"
              name="appSystemAdminsters">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>
            <span class="col-sm-2" (click)="addUser('systemadmin')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
          </div>
          </div>
       
        <div class="form-row">
          <div class="form-group col-md-6">
              <div class="row">
                  <label class="fam">Business Analysis</label><br><br>

            <ng-select [items]="business" class="formOpt" (change)="setTrue3()"  [multiple]="true" [closeOnSelect]="false" [searchable]="false"
              bindLabel="firstName" placeholder="Choose..." [(ngModel)]="system.appBusinessAnalysts"
              name="appBusinessAnalysts">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>
        
            <span class="col-sm-2"  (click)="addUser('businessanalyst')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
        </div>
          <div class="form-group col-md-6">
              <div class="row">
                  <label class="fam">DB Administrator</label><br><br>
            <ng-select [items]="business" class="formOpt" (change)="setTrue4()"  [multiple]="true" [closeOnSelect]="false" [searchable]="false"
              bindLabel="firstName" placeholder="Choose..." [(ngModel)]="system.appDBAdmins" name="appDBAdmins">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>
            <span class="col-sm-2"  (click)="addUser('dbAdministrator')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <div class="row">
                  <label class="fam">Developers</label><br><br>
   
            <ng-select [items]="developer" class="formOpt" [multiple]="true" [closeOnSelect]="false"
              [searchable]="false" bindLabel="firstName" (change)="setTrue5()"  placeholder="Choose..." [(ngModel)]="system.developers"
              name="developers">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>
            <span class="col-sm-2"  (click)="addUser('developer')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
        </div>
          <div class="form-group col-md-6">
              <div class="row">
              <label class="fam">Data Custodian</label><br><br>
            <ng-select [items]="data" class="formOpt" [multiple]="true" (change)="setTrue6()"  [closeOnSelect]="false" [searchable]="false"
              bindLabel="firstName" placeholder="Choose..." [(ngModel)]="system.appDataCustodians"
              name="appDataCustodians">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>
            <span class="col-sm-2"  (click)="addUser('datacustodian')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <div class="row">
                  <label class="fam">Testers </label><br><br>
   
            <ng-select [items]="tester" class="formOpt" [multiple]="true"  (change)="setTrue7()"  [closeOnSelect]="false" [searchable]="false"
              bindLabel="firstName" placeholder="Choose..." [(ngModel)]="system.testers" name="testers">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div>{{ item.firstName + ' ' + item.lastName }}</div>
              </ng-template>
            </ng-select>
            <span class="col-sm-2" (click)="addUser('tester')"><i class="fa fa-plus-circle"
                aria-hidden="true"></i></span>
          </div>
</div>
        </div>
      </div>
      
      <div class="infoBox">
        <div class="headerOfBox">Internal Interfaces</div>
        <div class="form-row">
          <div class="form-group col-md-6">
             
            <tinymce name="effort" name="description" [(ngModel)]="system.internalInterfaces" [config]="config1">
            </tinymce>
            remaining {{50000 -len}}
          </div>
    
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">External Interfaces</div>
        <div class="form-row">
          <div class="form-group col-md-6">
             
            <tinymce name="effort1" [(ngModel)]="system.externalInterfaces" [config]="config2"></tinymce>
            remaining {{50000 -len2}}
       
        </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">Data Center Details</div>
        <div class="form-row">
          <div class="form-group col-md-6">
             
            <tinymce name="description" name="Physical" [(ngModel)]="system.physicalLocation" [config]="config">
            </tinymce>
            remaining {{50000 -len1}}
        
        </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="headerOfBox">Documents</div>
        <input type="file" class="from-group" #myInput name="filename"
          accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint"
          required>
      </div>
      <br>
      <p>
        <button type="submit" class="btn btn-dark">Upload</button>
      </p>

    </fieldset>
  </div>
  <div class="buttons" style="margin-right:5%">

    <button type="submit" class="submit btn btn-primary" [disabled]="!formName.valid">Submit</button>
    <button type="button" class="cancel btn btn-primary">Cancel</button>
  </div>
</form>