.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.policies{
	margin-top: 15px;
}

.policy-edit{
	float: right;
}

  .primary {
  color: green !important;
}
.secondary {
  color: red !important;
}
   


.sorting{
	margin-left: 5px;
}

.second{
	text-align: center;
	margin-left: 2px;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

a{
	text-decoration: none;
}

.download-icon{
	color: #3A539B;
}

.edit-icon{
	color: #3A539B;
}

.upload-icon{
	color: #3A539B;
}

.plus-icon{
	color: #3A539B;
}

.save-icon{
	color: #3A539B;
}

.close-icon{
	color: #3A539B;
}

input[readonly] {
	background-color: #ffffff;
	}

table{
	background-color: #ffffff;
	text-align: center;
	border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
	border: 1px solid black;
}

tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
}

table thead tr th{
	font-weight: 500;
	color: black;
	border: 1px solid black;
	background-color: #cecfd5;
}

table thead tr td{
	color: black;
}


.modal-header{
	background-color: #3A539B;
	color: #ffffff;
}

.btn{
	background-color: #3A539B;
	border-color: #3A539B;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
}


.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

.infoBox {
	padding: 3%;
	border: 2px solid;
	border-radius: 7px;
	padding-top: 0;
	margin: -1%;
	min-width: 102%;
	display: inline-block;
	background: rgb(255, 255, 255);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); */
	/* IE6-9 */
	/* -webkit-box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1); */
	/* -moz-box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1); */
	/* box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1); */
  }