<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>




<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Policy File</h4>
		<!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			      <span aria-hidden="true">&times;</span>
			    </button> -->
	</div>
	<div class="modal-body">
		<!-- <form (ngSubmit) = "uploadPolicyFile()"> -->
		<form>
			<div class="form-row">
				<div class="col-md-6">
					<!-- <label for="attachments"><b>Attachment</b></label><br><br> -->
					<input id="attachments" class="form-control1" type="file" (change)="createPolicyFile($event)" />
				</div>
			</div>
			<!-- <div class="form-row">
			    		<div class="form-group col-12">
			    			<label for="fileList"><b>Attachment</b></label><br><br>
			    		</div>
			    	</div> -->
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
				<button type="submit" class="btn btn-outline-dark"
					(click)="c('Save click');uploadPolicyFile()">Upload</button>
				<!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Upload</button> -->
			</div>
		</form>
	</div>
</ng-template>
<ng-template #content1 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Info</h4>
	</div>
	<div class="modal-body">
		<p>Policy has been updated</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
	</div>
</ng-template>

<div class="policy-edit" style="padding-bottom: 1%;">
	<fa (click)="downloadFile(policyDropDownId)" *ngIf="plus && showDownload" [name]="'download'"
		class="download-icon icons"></fa>
	<fa class="edit-icon icons" (click)="changeButton()" *ngIf="plus" data-toggle="tooltip" data-placement="right"
		title="Save" data-animation="true" data-delay="0" [name]="'edit'"></fa>
	<fa (click)="open(content)" *ngIf="!plus" [name]="'upload'" class="upload-icon icons"></fa>
	<!-- <fa *ngIf="!plus" [name]="'plus'" class="plus-icon icons"></fa> -->
	<a routerLink="/policyAdd">
		<fa *ngIf="!plus" [name]="'plus'" class="plus-icon icons"></fa>
	</a>
	<!-- <button type="submit"><fa *ngIf="!plus" class="save-icon icons" [name]="'save'"></fa></button> -->
	<a *ngIf="myForm.valid">
		<fa *ngIf="!plus" (click)="updatePolicyGrp()" class="save-icon icons" [name]="'save'"></fa>
	</a>
	<fa (click)="close()" *ngIf="!plus" class="close-icon icons" [name]="'times-circle'"></fa>
</div>
<div class="form1">
	<div class="infoBox">
		<div class="headerOfBox">
			<h4>Policies</h4>
		</div>
		<div class="description">
			<div class="model-solution-row form-row">

				<div class="form-group col-md-6">
					<label for="definitiveSource">Definitive Source</label><br><br>
					<input type="text" class="form-control" id="inputState" [(ngModel)]="policyGrpData.definitiveSource"
						[name]="'definitive_source'" readonly>
				</div>
				<div class="form-group col-md-6">
					<label for="typePolicy">Type/Policy</label><br><br>
					<input type="text" class="form-control" id="inputState" [(ngModel)]="policyGrpData.policyGrpName"
						[name]="'type_policy'" readonly>
				</div>
				<div class="version form-group col-md-6">
					<label class="label-form" for="updatedBy">Updated By</label><br><br>
					<!--  <input type="text" class="edit-disable form-control" id="updatedBy" readonly [(ngModel)] = "policyGrpData.updatedBy" [name] = "'updated_by'"> -->
					<input type="text" class="edit-disable form-control" id="inputState" readonly
						[(ngModel)]="policyGrpData.updatedBy" [name]="'updated_by'">
				</div>
				<div class="form-group col-md-6">
					<label class="label-form" for="updtedAt">Updated Date</label><br><br>
					<input type="text" name="updatedAt" id="inputState" [ngModel]="updatedAt" readonly>
					<!-- <my-date-picker name="myname" class="inputState1" [ngModel]="policyGrpData.updatedTs" [selDate]="displayUpdatedAt"></my-date-picker> -->
				</div>
			</div>
		</div>
	</div>

	
		<form (ngSubmit)="updatePolicyGrp()" #myForm="ngForm">

			<fieldset [disabled]='showForm'>

				<div class="infoBox">
					<div class="headerOfBox">Information</div>
					<div class="model-solution-row form-row">
						<div class="model form-group col-md-6">
							<label class="label-form" for="lastReviewDate">Last Review Date<span
									class="asterisk">*</span></label><br><br>
							<my-date-picker name="myname" class="inputState1" [(ngModel)]="lastReviewDate" ngModel
								[selDate]="displayLastReviewDate" required></my-date-picker>
						</div>
						<div class="version form-group col-md-6">
							<label class="label-form" for="nextReviewDate">Next Review Date<span
									class="asterisk">*</span></label><br><br>
							<my-date-picker name="myname" class="inputState1" [(ngModel)]="nextReviewDate" ngModel
								[selDate]="displayNextReviewDate" required></my-date-picker>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="label-form" for="owner">Owner<span class="asterisk">*</span></label><br><br>
							<select type="text" class="edit-disable form-control" [(ngModel)]="policyDisplay.owner"
								(change)="policyDisplay.owner = $event.target.value" [name]="'policy_owner'" required>
								<option value="" selected>Choose...</option>
								<option *ngFor="let getUser of  users"
									value="{{ getUser.firstName}} {{getUser.lastName }}">{{
									getUser.firstName}} {{getUser.lastName }} </option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label class="label-form" for="policyReviewTerm">Policy Review Term<span
									class="asterisk">*</span></label><br><br>
							<input type="text" id="inputState" class="edit-disable form-control" *ngIf="showForm"
								[(ngModel)]="policyDisplay.policyReviewTerm" [name]="'review_term'" readonly>
							<select class="form-control" style="width:50%;" id="priority" *ngIf="!showForm"
								[(ngModel)]="policyDisplay.policyReviewTerm" [name]="'review_term'"
								(change)="displayReview($event.target.value)" required>
								<option *ngFor="let review of policyReviewTerm" [value]="review.reviewTerm">
									{{review.reviewTerm}}</option>
								<!-- <option value="2">Half-Yearly</option>
											<option value="3">Quarterly</option> -->
							</select>
							<!-- <button class="btn btn-primary" (click)="displayReview(selectedReviewTerm.value)">Display</button> -->
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="label-form" for="status">Status<span class="asterisk">*</span></label><br><br>
							<input type="text" id="inputState" class="form-control"
								[ngModel]="policyDisplay.status | subControlPipe" [name]="'policy_status'"
								*ngIf="showForm" readonly>
							<select class="form-control" style="width:50%;" name="selectstatus"
								[(ngModel)]="policyDisplay.status" id="priority"
								(change)="policyDisplay.status = $event.target.value" *ngIf="!showForm" required>
								<option value="true">Open</option>
								<option value="false">Close</option>
							</select>
						</div>

					</div>


				</div>
				<div class="infoBox">
				<div class="headerOfBox">
					<h4>Description</h4>
				</div>
				<textarea id="description" [ngxSummernote]="config" cols="156" rows="7"
					[(ngModel)]="policyDisplay.description" [name]="'policy_description'"
					[ngxSummernoteDisabled]="showForm"></textarea>
				</div>
			</fieldset>

		</form>
	



	<div class="infoBox">
		<div class="headerOfBox">
			<h4>Controls</h4>
		</div>
		<div>
			<div class="row">
				<div class="col-md-12" *ngIf="showFamily">
					<label class="label-form" for="status"> Please choose a Family</label><br><br>
					<select class="form-control" style="width:50%;" id="priority"
						(change)="getFamily($event.target.value)">
						<option value="" selected>Choose...</option>
						<option value="all">All</option>
						<option *ngFor="let fam of families" value="{{fam}}">{{fam}}</option>
					</select>
				</div>
			</div>






			<div class="row">
				<div class="col-md-3">

					<div class="form-group">
						<label for="email">Assigned To</label><br><br>
						<select class="form-control"></select>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label for="email">Assigned On</label><br><br>
						<my-date-picker class="inputState1"></my-date-picker>
					</div>
				</div>

		
			
				<div class="col-md-3">
					<label>Priority</label><br><br>
					<select class="form-control">

						<option>High</option>
						<option>Medium</option>
						<option>Low</option>
					</select>
				</div>

				<div class="col-md-3">

					<label>Weightage</label><br><br>
					<div class="col-md-3"><input type="number" name="weightN" class="form-control" 
							(change)="getNum()" [(ngModel)]="weightageN" id="first" style="width:200% !important" maxlength="1" OnlyNumber1="true"
							oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" ></div>

				</div>
		</div>

		<div class="row">
				
						<label for="yes_no_radio">Is evidence required?</label>
						<div class="row">
						<input type="radio" name="yes_no" checked />Yes
						<input type="radio" name="yes_no" />No
						<input type="radio" name="yes_no" />Custom
						</div>
						<br>
						
					
		</div>

		<br>
		<br>


		<table class="table table-bordered">
			<thead>
				<tr>
					<!-- <th (click)="handleSort('familyName')" scope="col">Family Name <i class="sorting fa fa-arrow-down" *ngIf="!desc1"></i>
						<i class="sorting fa fa-arrow-up" *ngIf="desc1"></i></th> -->
					<th (click)="handleSort2('controlNumber')" scope="col">Control <i class="sorting fa fa-arrow-down"
							*ngIf="!desc2"></i>
						<i class="sorting fa fa-arrow-up" *ngIf="desc2"></i></th>
					<th (click)="handleSort3('policyName')" scope="col">Policy <i class="sorting fa fa-arrow-down"
							*ngIf="!desc3"></i>
						<i class="sorting fa fa-arrow-up" *ngIf="desc3"></i></th>
					<th (click)="handleSort4('priority')" scope="col">Priority<i class="second fa fa-arrow-down"
							*ngIf="!desc4"></i>
						<i class="second fa fa-arrow-up" *ngIf="desc4"></i></th>
					<th (click)="handleSort4('priority')" scope="col">Impact Analysis<i class="second fa fa-arrow-down"
							*ngIf="!desc4"></i>
						<i class="second fa fa-arrow-up" *ngIf="desc4"></i></th>
					<th (click)="handleSort4('priority')" scope="col">Score<i class="second fa fa-arrow-down"
							*ngIf="!desc4"></i>
						<i class="second fa fa-arrow-up" *ngIf="desc4"></i></th>
				


					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
					<!-- <td>{{policy.familyName}}</td> -->
					<td><a routerLink="/accessControl/{{ policy.policyId }}" style="cursor:pointer;color:blue;">{{
							policy.controlNumber
							}}</a></td>
					<td>{{ policy.policyName }}</td>
					<td>{{ policy.priority }}</td>
					<td>Low</td>
					<td>70/100</td>
					

					<td><i [ngClass]=" policy.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td>
				</tr>
			</tbody>
		</table>
		<br>
		<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>