<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>




<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Policy File</h4>

	</div>
	<div class="modal-body">

		<form>
			<div class="form-row">
				<div class="col-md-6">

					<input id="attachments" class="form-control1" type="file" (change)="createPolicyFile($event)" />
					<br><br>

				</div>
			</div>

			<div class="modal-footer" style="width: 100%;
			height: 3rem;
			padding-bottom: 0 !important;">
				<button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
				<button type="submit" class="btn btn-outline-dark" (click)="c();uploadPolicyFile()">Upload</button>
			</div>
		</form>
	</div>
</ng-template>
<ng-template #content1 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Info</h4>
	</div>
	<div class="modal-body">
		<p>Policy has been updated</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
	</div>
</ng-template>
<div class="form1" style="margin: 4vh 5% 0% 0%;">
	<div class="policy-edit" style="padding-top: 2%;
margin-bottom: -1%;">
		<fa (click)="downloadFile(policyDropDownId)" *ngIf="plus && showDownload" [name]="'download'"
			class="download-icon icons"></fa>
		<fa class="edit-icon icons" (click)="changeButton()" *ngIf="plus" data-toggle="tooltip" data-placement="right"
			title="Save" data-animation="true" data-delay="0" [name]="'edit'"></fa>
		<fa (click)="open(content)" *ngIf="!plus" [name]="'upload'" class="upload-icon icons"></fa>
		<!-- <fa *ngIf="!plus" [name]="'plus'" class="plus-icon icons"></fa> -->
		<a routerLink="/policyAdd">
			<fa *ngIf="!plus" [name]="'plus'" class="plus-icon icons"></fa>
		</a>
		<!-- <button type="submit"><fa *ngIf="!plus" class="save-icon icons" [name]="'save'"></fa></button> -->
		<a *ngIf="myForm.valid">
			<fa *ngIf="!plus" (click)="updatePolicyGrp()" class="save-icon icons" [name]="'save'"></fa>
		</a>
		<fa (click)="close()" *ngIf="!plus" class="close-icon icons" [name]="'times-circle'"></fa>
	</div>

	<div class="infoBox">
		<div class="headerOfBox">
			<h4>Policies</h4>
		</div>
		<div class="description">
			<div class="model-solution-row form-row">

				<div class="form-group col-md-6">
					<label class="fam">Definitive Source</label>
					<input type="text" class="form-control" id="inputState" [(ngModel)]="policyGrpData.definitiveSource"
						[name]="'definitive_source'" readonly>
				</div>
				<div class="form-group col-md-6">
					<label class="fam">Type/Policy</label>
					<input type="text" class="form-control" id="inputState" [(ngModel)]="policyGrpData.policyGrpName"
						[name]="'type_policy'" readonly>
				</div>
				<div class="version form-group col-md-6">
					<label class="fam">Updated By</label>
					<!--  <input type="text" class="edit-disable form-control" id="updatedBy" readonly [(ngModel)] = "policyGrpData.updatedBy" [name] = "'updated_by'"> -->
					<input type="text" class="edit-disable form-control" id="inputState" readonly
						[(ngModel)]="policyGrpData.updatedBy" [name]="'updated_by'">
				</div>
				<div class="form-group col-md-6">
					<label class="fam">Updated Date</label>
					<input type="text" name="updatedAt" id="inputState" [ngModel]="updatedAt" readonly>
					<!-- <my-date-picker name="myname" class="inputState1" [ngModel]="policyGrpData.updatedTs" [selDate]="displayUpdatedAt"></my-date-picker> -->
				</div>
			</div>
		</div>
	</div>


	<form (ngSubmit)="updatePolicyGrp()" #myForm="ngForm">

		<fieldset [disabled]='showForm'>

			<div class="infoBox">
				<div class="headerOfBox">Information</div>
				<div class="model-solution-row form-row">
					<div class="model form-group col-md-6">
						<label class="fam">Last Review Date<span class="asterisk">*</span></label>
						<my-date-picker name="myname" class="inputState1" [(ngModel)]="lastReviewDate" ngModel
							[selDate]="displayLastReviewDate" required></my-date-picker>
					</div>
					<div class="version form-group col-md-6">
						<label class="fam">Next Review Date<span class="asterisk">*</span></label>
						<my-date-picker name="myname" class="inputState1" [(ngModel)]="nextReviewDate" ngModel
							[selDate]="displayNextReviewDate" required></my-date-picker>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="fam">Owner<span class="asterisk">*</span></label>
						<select type="text" class="edit-disable form-control" [(ngModel)]="policyDisplay.owner"
							(change)="policyDisplay.owner = $event.target.value" [name]="'policy_owner'" required>
							<option value="" selected>Choose...</option>
							<option *ngFor="let getUser of  users" value="{{ getUser.firstName}} {{getUser.lastName }}">{{
									getUser.firstName}} {{getUser.lastName }} </option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label class="fam">Policy Review Term<span class="asterisk">*</span></label>
						<input type="text" id="inputState" class="edit-disable form-control" *ngIf="showForm"
							[(ngModel)]="policyDisplay.policyReviewTerm" [name]="'review_term'" readonly>
						<select class="form-control" style="width:50%;" id="priority" *ngIf="!showForm"
							[(ngModel)]="policyDisplay.policyReviewTerm" [name]="'review_term'"
							(change)="displayReview($event.target.value)" required>
							<option *ngFor="let review of policyReviewTerm" value="review.reviewTerm">
								{{review.reviewTerm}}</option>
							<!-- <option value="2">Half-Yearly</option>
											<option value="3">Quarterly</option> -->
						</select>
						<!-- <button class="btn btn-primary" (click)="displayReview(selectedReviewTerm.value)">Display</button> -->
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="fam">Status<span class="asterisk">*</span></label>
						<input type="text" id="inputState" class="form-control"
							[ngModel]="policyDisplay.status | subControlPipe" [name]="'policy_status'" *ngIf="showForm"
							readonly>
						<select class="form-control" style="width:50%;" name="selectstatus"
							[(ngModel)]="policyDisplay.status" id="priority"
							(change)="policyDisplay.status = $event.target.value" *ngIf="!showForm" required>
							<option value="true">Open</option>
							<option value="false">Close</option>
						</select>
					</div>

				</div>


			</div>
			<div class="infoBox" style="width: 80%">
				<div class="headerOfBox">
					<h4>Description</h4>
				</div>
				<!-- <textarea id="description" [ngxSummernote]="config" cols="156" rows="7"
					[(ngModel)]="policyDisplay.description" [name]="'policy_description'"
					[ngxSummernoteDisabled]="showForm"></textarea> -->
				<tinymce name="description" *ngIf="showForm" disabled=true [(ngModel)]="policyDisplay.description"
					[config]="config"></tinymce>
				<tinymce name="description" *ngIf="!showForm" [(ngModel)]="policyDisplay.description" [config]="config">
				</tinymce>
				remaining {{50000 -len}}
			</div>
		</fieldset>

	</form>




	<!-- <div class="infoBox">
		<div class="headerOfBox">
			<h4>Controls</h4>
		</div>
		<div>
			<div class="row">
				<div class="col-md-12" *ngIf="showFamily">
					<label class="fam"> Please choose a Family</label>
					<select class="form-control" style="width:50%;" id="priority"
						(change)="getFamily($event.target.value)">

						<option value="all" selected>All</option>
						<option *ngFor="let fam of families" value="{{fam.policyFamilyID}}">{{fam.familyName}}</option>
					</select>
				</div>
			</div>




			<br>

			<div class="row">
				<div class="col-md-6">

					<div class="form-group">
						<label class="fam">Assigned To</label>
						<input type="text" class="form-control" name="assignTo" [(ngModel)]="family.assignedTo">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="fam">Assigned On</label>
						<my-date-picker class="inputState1" (dateChanged)="getDateAssign($event)" [(ngModel)]="assignOn"
							name="assignOn"></my-date-picker>
					</div>
				</div>

			</div>
			<div class="row">

				<div class="col-md-6">
					<label class="fam">Priority</label>
					<select class="form-control" name="priority" (change)="family.priority = $event.target.value"
						[(ngModel)]="family.priority">

						<option value="high">High</option>
						<option value="medium">Medium</option>
						<option value="low">Low</option>
					</select>
				</div>

				<div class="col-md-6">

					<label class="fam">Weightage</label>
					<input type="number" name="Weightage" class="form-control" (change)="getNum()"
						[(ngModel)]="family.weightage" id="first" maxlength="1" OnlyNumber1="true"
						oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

				</div>
			</div>

		
			<br>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label class="fam">Is evidence required?</label>
				</div>
				<div class="form-group col-md-4">
					<ul class="tg-list">
						<li class="tg-list-item">

							<input class="tgl tgl-flip" id="cb7" name="electronicPollbook"
								[(ngModel)]="family.evidenceRequired" [checked]="family.evidenceRequired"
								type="checkbox" />
							<label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="cb7"></label>
						</li>
					</ul>
				</div>
			</div>
			<br>
			<div>
				<button type="button" class="btn btn-outline-dark confbtn" style="float:left"
					(click)="toggle()">{{buttonName}}</button>
				<button type="button" class="btn btn-outline-dark confbtn" style="float: right"
					(click)="overridePolicyFamily()">Submit</button>
			</div>
			<br>
			<br> -->

	<!-- <div *ngIf="showN">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th (click)="handleSort2('controlNumber')" scope="col">Control <i
									class="sorting fa fa-arrow-down" *ngIf="!desc2"></i>
								<i class="sorting fa fa-arrow-up" *ngIf="desc2"></i></th>
							<th (click)="handleSort2('controlNumber')" scope="col">Family <i
									class="sorting fa fa-arrow-down" *ngIf="!desc2"></i>
								<i class="sorting fa fa-arrow-up" *ngIf="desc2"></i></th>
							<th (click)="handleSort3('policyName')" scope="col">Policy <i
									class="sorting fa fa-arrow-down" *ngIf="!desc3"></i>
								<i class="sorting fa fa-arrow-up" *ngIf="desc3"></i></th>
							<th (click)="handleSort4('priority')" scope="col">Priority<i class="second fa fa-arrow-down"
									*ngIf="!desc4"></i>
								<i class="second fa fa-arrow-up" *ngIf="desc4"></i></th>
							<th (click)="handleSort5('priority')" scope="col">Weightage<i
									class="second fa fa-arrow-down" *ngIf="!desc5"></i>
								<i class="second fa fa-arrow-up" *ngIf="desc5"></i></th>

							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
							<td><a routerLink="/accessControl/{{ policy.policyId }}" style="cursor:pointer;color:blue;">{{
							policy.controlNumber
							}}</a></td>
							<td>{{policy.familyName}}</td>
							<td>{{ policy.policyName }}</td>
							<td>{{ policy.priority }}</td>
							<td>{{policy.weightageN}}</td>
							<td><i [ngClass]=" policy.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i>
							</td>
						</tr>
					</tbody>
				</table>

				<br>
				<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
			</div> -->
	<!-- </div>
	</div> -->
</div>