<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Success</h4>
		<!--   <button type="button" class="close" aria-label="Close" (click)="d()"> -->
		<!--     <span aria-hidden="true">&times;</span> -->
		<!--   </button> -->
	</div>
	<div class="modal-body">
		<p>{{contentData}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c();">Ok</button>
	</div>
</ng-template>
<div class="save-edit" style="float: right;" *ngIf="showEditButton">
	<fa class="edit-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0"
	 [name]="'edit'" (click)="editClick()"></fa>
</div>

<form #formName="ngForm" class="former clear-right" (ngSubmit)="createSystem()" enctype="multipart/form-data">
	<fieldset [disabled]="editableForm">


		<div class="tip">
			<p class="tip-text">
				<fa class="light-bulb" [name]="'lightbulb-o'"></fa>
				Tip:
			</p>
		</div>
		<h5>General Information</h5>

		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">System Acronym</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="acronym" [(ngModel)]="system.acronym" required>
			</div>
			<div class="form-group col-md-6">

				<label for="inputState">System Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="systemName" [(ngModel)]="system.name" required>
			</div>

		</div>
		<div *ngIf="!showSource" class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">Last Updated by</label>

				<input type="text" class="form-control">
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">Updated at</label>

				<input type="text" class="form-control" name="updatedTime" [(ngModel)]="updatedTime">
			</div>
		</div>


		<hr />
		<h5>Contact Information</h5>
		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">Business Owner</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="firstName" [(ngModel)]="system.businessOwnerNameDoe" required>
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">System Owner</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="lastName" [(ngModel)]="system.systemOwnerNameDoe" required>
			</div>
		</div>

		<hr />
		<h5>Other Information</h5>


		<hr />

		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="label-form" for="definitiveSource"><b>Definitive Source</b></label>
				<div class="asterisk">*</div>
				<input *ngIf="!showSource" type="text" class="form-control" ngModel name="sysSen" [(ngModel)]="system.systemSensitivityName"
				 required>
				<select *ngIf="showSource" class="form-control" [(ngModel)]="system.systemSensitivity" (change)="selectDefinitive($event.target.value)"
				 name="sysSen" required>
					<option value="1">High</option>
					<option value="2">Medium</option>
					<option value="3">Low</option>
				</select>
			</div>
		</div>

	</fieldset>
	<div class="buttons">

		<button *ngIf="!showEditButton" type="submit" class="submit btn btn-primary" [disabled]="!formName.valid">Submit</button>
		<button type="cancel" class="cancel btn btn-primary" (click)="goBack($event)">Cancel</button>
	</div>

</form>