<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Info</h4>
	
	</div>
	<div class="modal-body">
		<p>{{contentData}}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c();">Ok</button>
	</div>
</ng-template>
<div class="save-edit" style="float: right;" *ngIf="showEditButton && !isShow">
	<fa class="edit-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0"
	 [name]="'edit'" (click)="editClick()"></fa>
</div>

<form #formName="ngForm" (ngSubmit)="createSystem()" enctype="multipart/form-data">


	<div id="form1">
			<div class="disclaimer"><span style="float:left">Please use this screen to add system information.</span>&nbsp;&nbsp;&nbsp;
				<span style="float:right">
					<font color=red>*</font> marked fields are mandatory
				</span> </div>

		<fieldset [disabled]="editableForm">

				<div class="infoBox">
						<div class="headerOfBox"><h4>General Information</h4></div>

			<div class="form-row">
				<div class="form-group col-md-6">

					<label for="inputState">System Acronym <span class="asterisk">*</span></label><br><br>
					
					<input type="text" class="form-control" *ngIf="showBox"  name="acronym" [(ngModel)]="system.acronym" required>
					<input type="text" class="form-control" *ngIf="!showBox"  name="acronym" [(ngModel)]="system.acronym" required
					 readonly>
				</div>
				<div class="form-group col-md-6">

					<label for="inputState">System Name<span class="asterisk">*</span></label><br><br>
					
					<input type="text" class="form-control inputState"  name="systemName" [(ngModel)]="system.name" required>
				</div>

			</div>
			<div *ngIf="showEditButton" class="form-row">
				<div class="form-group col-md-6">

					<label for="inputState"> Updated By</label><br><br>

					<input type="text" class="form-control"  name="lastUpdatedBy" [(ngModel)]="system.updatedBy" readonly>
				</div>
				<div class="form-group col-md-6">
					<label for="lastName">  Updated Date</label><br><br>

					<input type="text" class="form-control"  name="updatedTime" [(ngModel)]="updatedTime" readonly>
				</div>
			</div>
		</div>
		
		<div class="infoBox">
				<div class="headerOfBox"><h4>Contact Information</h4></div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputState">Business Owner <span class="asterisk">*</span></label><br><br>
					<!-- <input type="text" class="form-control" name="firstName" [(ngModel)]="system.businessOwnerNameDoe" required> -->
					<select name="businessOwner" style="width:50%;" [(ngModel)]="system.businessOwnerNameDoe" class="form-control" id="searchUsers"
					(change)="system.businessOwnerNameDoe=$event.target.value" required>
						<option value="" selected>Choose...</option>
						<option *ngFor="let getUser of users" value="{{ getUser.firstName}} {{getUser.lastName }}">{{ getUser.firstName}} {{getUser.lastName }}</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="lastName">System Owner <span class="asterisk">*</span></label><br><br>
					<!-- <input type="text" class="form-control"  name="lastName" [(ngModel)]="system.systemOwnerNameDoe" required> -->
					<select name="systemOwner" style="width:50%;" [(ngModel)]="system.systemOwnerNameDoe" class="form-control" id="searchUsers"
					(change)="system.systemOwnerNameDoe=$event.target.value" required>
						<option value="" selected>Choose...</option>
						<option *ngFor="let getUser of users" value="{{ getUser.firstName}} {{getUser.lastName }}">{{ getUser.firstName}} {{getUser.lastName }}</option>
					</select>
				</div>
			</div>

		</div>
		
		<div class="infoBox">
				<div class="headerOfBox"><h4>Other Information</h4></div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="label-form" for="definitiveSource"><b>System Sensitivity</b> <span class="asterisk">*</span></label><br><br>
					
					<input *ngIf="!showSource" type="text" class="form-control"  ngModel name="sysSen" [(ngModel)]="system.systemSensitivityName"
					 required>
					<select *ngIf="showSource" class="form-control" style="width:50%;" [(ngModel)]="system.systemSensitivity" (change)="selectDefinitive($event.target.value)"
					 name="sysSen" required>
						<option value="1">High</option>
						<option value="2">Medium</option>
						<option value="3">Low</option>
					</select>
				</div>
			</div>
			<br>
			<br>
		</div>
		</fieldset>
	</div>
		<div class="buttons" style="margin-right:5%">

			<button *ngIf="isShow" type="submit" class="submit btn btn-primary" [disabled]="!formName.valid">Submit</button>
			<button type="cancel" class="cancel btn btn-primary" (click)="goBack($event)">Cancel</button>
		</div>
	
</form>