<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="plus" *ngIf="showEdit">

    <fa class="edit-icon icons" [name]="'edit'" style="float:right;" (click)="showPlus()"></fa>
</div>

<div>

    <form>
        <div id="form1">
            <br>
            <br>
            <div class="infoBox">
                <div class="headerOfBox">
                    <h4>General Information</h4>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputState">Name<span class="asterisk">*</span></label>
                        <input type="text" class="form-control" id="lastName" value="{{mainData}}" readonly="readonly">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName"> Updated By</label>
                        <input type="text" class="form-control" id="lastName" value={{updatedBy}} readonly="readonly">
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="lastUpdatedAt"> Updated Date</label>
                        <input type="text" class="form-control" id="email" value="{{updatedTime}}" readonly="readonly">
                    </div>
                </div>
            </div>
            <span class="plusbtn" *ngIf="showPlusButton">
                <i class="fa fa-plus-square-o" aria-hidden="true" style="float:right; font-size: 24px;"
                    (click)="goTo()"></i>
            </span>
            <br>

            <div class="infoBox">
                <div class="headerOfBox">Audit Table</div>
                <table class="table table-striped table-hover table-bordere">
                    <thead>
                        <tr>

                            <th scope="col" (click)="handleSort('auditName')">Audit Name<i class="fa fa-arrow-down"
                                    *ngIf="!desc"></i>
                                <i class="fa fa-arrow-up" *ngIf="desc"></i></th>
                            <th scope="col" (click)="handleSort1('auditType')">Audit Type <i class="fa fa-arrow-down"
                                    *ngIf="!auditType"></i>
                                <i class="fa fa-arrow-up" *ngIf="auditType"></i></th>


                                <th scope="col" (click)="handleSort5('updatedBy')"> Overall Score<i class="fa fa-arrow-down"
                                    *ngIf="!updtBy"></i>
                                <i class="fa fa-arrow-up" *ngIf="updtBy"></i></th>
                            <th scope="col" (click)="handleSort6('upadateTs')"> Risk Level<i class="fa fa-arrow-down"
                                    *ngIf="!updt"></i>
                                <i class="fa fa-arrow-up" *ngIf="updt"></i></th>   
                            <th scope="col" (click)="handleSort2('auditDate')">Audit Date<i class="fa fa-arrow-down"
                                    *ngIf="!auditDate"></i>
                                <i class="fa fa-arrow-up" *ngIf="auditDate"></i></th>
                            <th scope="col" (click)="handleSort3('nextAuditDate')">Next Audit Date<i
                                    class="fa fa-arrow-down" *ngIf="!nextAuditDate"></i>
                                <i class="fa fa-arrow-up" *ngIf="nextAuditDate"></i></th>
                            <th scope="col" (click)="handleSort4('status')">Status<i class="fa fa-arrow-down"
                                    *ngIf="!sts"></i>
                                <i class="fa fa-arrow-up" *ngIf="sts"></i></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let  audit of appAuditDTOs | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>
                                <a (click)="getAudit(audit.appAuditId)" style="cursor:pointer;color:blue;">{{
                                        audit.auditTypeName }}</a>
                            </td>
                            <td>{{audit.auditType}}</td>
                         
                            <td>{{ audit.overallScore }}</td>
                            <td>{{ audit.overallRiskLevel }}</td>
                            <td>{{audit.auditDate | filterDate | date:'MM/dd/yyyy'}}</td>
                            <td>{{ audit.nextAuditDate | filterDate | date:'MM/dd/yyyy' }}</td>
                            <td>{{ audit.status }}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- 
                    <div class="row" *ngFor="let  audit of appAuditDTOs" style="margin-top:11%">
                        <div class="infoBox">
                            <div class="headerOfBox"><a (click)="getAudit(audit.appAuditId)"
                                    style="cursor:pointer;color:white">{{
                                audit.auditTypeName }}</a></div>
    
    
                            <div class="row">
                                <div class="col-md-4">
                                    <fusioncharts 
                                    [width]="width" 
                                    [height]="height" 
                                    [type]="type" 
                                    [dataFormat]="dataFormat"
                                    [dataSource]="dataSource">
                                    </fusioncharts>
                                </div>
    
                                <div class="col-md-4">
                                        <fusioncharts 
                                        [width]="width" 
                                        [height]="height" 
                                        [type]="type" 
                                        [dataFormat]="dataFormat"
                                        [dataSource]="dataSource1">
                                        </fusioncharts>
                                    </div>
    
                                    <div class="col-md-4">
                                            <fusioncharts 
                                            [width]="width" 
                                            [height]="height" 
                                            [type]="type" 
                                            [dataFormat]="dataFormat"
                                            [dataSource]="dataSource2">
                                            </fusioncharts>
                                        </div>
                            </div>
                        </div>
    
    
                    </div> -->

        </div>


    </form>
</div>
<router-outlet></router-outlet>