.pull-right {
  float: right!important;
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

#middle div.panel-heading {
  color: #1E252D !important;
  height: 51px;
}

.panel-default>.panel-heading {
  padding: 15px 15px;
  background: #fff;
}

i.fa {
  text-decoration: none !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: large;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.htag {
  margin-top: 30px;
}

.modal-header {
  background-color: black !important;
  color: white;
}

.plus {
  color: black;
  vertical-align: middle;
  font-size: 20px;
  padding: 6px;
  margin-right: 20px;
}

th {
  font-weight: bold;
  color: black;
  text-align: left;
}

#searchtable table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  color: black;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

table {
  border: 1px solid black;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

tr {
  background-color: #cecfd5;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.forms {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 20px;
  background-color: #EEEEEE;
}

.clear-right {
  clear: right;
  overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
}

tbody tr:nth-of-type(odd) {
  background-color: #EEEEEE !important;
}

.former {
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin: 20px;
  background-color: inherit;
  box-shadow: none;
}

#form {
  background-color: #FFF;
  height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  text-align: center;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}

input {
  border: 1px solid #000;
  margin-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 50%;
  line-height: 2em;
  border: 1px solid #AAA;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

input[type=button] {
  float: none;
}

#inputState {
  border: 1px solid #000;
  margin-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 50%;
  line-height: 2em;
  border: 1px solid #AAA;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
}

.line {
  margin: 0.5rem 0 0.5em;
  line-height: 1.5em;
  padding: 0;
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.line:before, .line:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-left: -999em;
  height: 2px;
  width: 998em;
  border-top: 1px solid rgb(0, 0, 17);
  background: rgba(0, 0, 0, 0.2);
}

.line:after {
  left: auto;
  width: 999em;
  margin: 0 0 0 1em;
}

#colorWhite {
  color: white;
}

.set-size {
  font-size: 10em;
  text-align: center;
  display: inline-block
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}

.pie-wrapper:nth-child(3n+1) {
  clear: both;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}

.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}

.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}

.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}

.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}

.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}

.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}

.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}

.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}

.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}

.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}

.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}

.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}

.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}

.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}

.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}

.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}

.pie-wrapper--solid .label {
  background: transparent;
}

.pie-wrapper--solid.progress-65 {
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  transform: rotate(126deg);
}

.pie-wrapper--solid.progress-25 {
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  transform: rotate(-270deg);
}

.pie-wrapper--solid.progress-88 {
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  transform: rotate(43.2deg);
}