<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="plus">
        <div class="save-edit" style="float: right" *ngIf="!showSigned">
      
          <fa class="edit-icon icons" [name]="'edit'" (click)="editClick()"></fa>
        </div>
      </div>
<div>
    <div >
        <div id=form1>
                <div class="disclaimer" ><span style="float:left">Please use this screen to view solutions.</span>&nbsp;&nbsp;&nbsp;
                    </div>
            <div class="infoBox">
                <div class="headerOfBox">
                    <h4>General Information</h4>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputState">Name</label>
                        <input type="text" class="form-control" id="lastName" value="{{acronym}}" readonly="readonly">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Updated by</label>
                        <input type="text" class="form-control" value="{{updatedBy}}" id="lastName" readonly="readonly">
                    </div>
                </div>



                <div class="form-row">
                    <!-- <div class="form-group col-md-6">
            <label for="lastName">Name</label>
            <div class="asterisk">*</div>
            <input type="text" class="form-control" id="lastName" value="enter here">
        </div> -->
                    <div class="form-group col-md-6">
                        <label for="updatedAt">Last updated at</label>
                        <input type="text" class="form-control" id="lastUpdatedAt" value="{{updatedTime}}" readonly>
                    </div>
                </div>

            </div>
           


            <span class="plusbtn">
                <i class="fa fa-plus-square-o" *ngIf="showSigned" aria-hidden="true" style="font-size: 24px;" (click)="selectLocality()"></i>
            </span>
            
         
            <div class="infoBox clear-right">
                <div class="headerOfBox">
                    <h4>Overview</h4>
                </div>
                <table class="table table-striped table-hover table-bordere">
                    <thead>
                        <tr>

                            <th scope="col" (click)="handleSort()" style="width:15%;">Solution  <i class="fa fa-arrow-down" *ngIf="!desc"></i>
                                <i class="fa fa-arrow-up" *ngIf="desc"></i></th>
                            <th scope="col" style="width:14%;" (click)="handleSorted()">Vendor<i class="fa fa-arrow-down" *ngIf="!des"></i>
                                <i class="fa fa-arrow-up" *ngIf="des"></i></th>
                            <th scope="col" (click)="handleSorting()">Equipment Type<i class="fa fa-arrow-down" *ngIf="!dec"></i>
                                <i class="fa fa-arrow-up" *ngIf="dec"></i></th>
                            <th scope="col" (click)="handleSorting1()">Precinct Type
                                <i class="fa fa-arrow-down" *ngIf="!precinctType"></i>
                                <i class="fa fa-arrow-up" *ngIf="precinctType"></i>
                            </th>
                            <th style="width:16%;" (click)="handleSort2('updatedBy')">Updated By
                                    <i class="fa fa-arrow-down" *ngIf="!updtBy"></i>
                                    <i class="fa fa-arrow-up" *ngIf="updtBy"></i></th>
                            <th style="width:18%;" (click)="handleSort3('updatedTs')">Updated Date
                                    <i class="fa fa-arrow-down" *ngIf="!updt"></i>
                                    <i class="fa fa-arrow-up" *ngIf="updt"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr *ngFor="let appsolution of appSolutions | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td *ngIf="appsolution.archived === 0" (click)="showSolutionsPage(appsolution.appSolutionId)"><a class="box">{{
                                    appsolution.solutionsDTO.name}}</a></td>
                            <td *ngIf="appsolution.archived === 0"> {{ appsolution.solutionsDTO.vendor.name}}</td>
                            <td *ngIf="appsolution.archived === 0">{{ appsolution.solutionsDTO.solutionTypeName}}</td>
                            <td *ngIf="appsolution.archived === 0">{{ appsolution.solutionsDTO.precinctTypeName}}</td>
                            <td *ngIf="appsolution.archived === 0">{{ appsolution.updatedBy}}</td>
                            <td *ngIf="appsolution.archived === 0">{{appsolution.updatedTs | filterDate | date:'MM/dd/yyyy'}}</td>
                            <td *ngIf="appsolution.archived === 0"><i class=" fa fa-trash" aria-hidden="true" style="font-size: 24px;color: black; cursor: pointer;" (click)="archiveAppSolution(appsolution)"></i></td>
                        </tr>
                    </tbody>

                </table>
                <pagination-controls *ngIf="showPagination" (pageChange)="p = $event"></pagination-controls>
            </div>
          
            <div class="infoBox clear-right" *ngIf="show">
                <div class="headerOfBox">
                    <h4>Archived Solutions</h4>
                </div>
                <table class="table table-striped table-hover table-bordere">
                    <thead>
                        <tr>

                            <th scope="col" (click)="handleSort()" style="width:15%;">Solution Name <i class="fa fa-arrow-down" *ngIf="!desc"></i>
                                <i class="fa fa-arrow-up" *ngIf="desc"></i></th>
                            <th scope="col" style="width:14%;" (click)="handleSorted()">Vendor Name<i class="fa fa-arrow-down" *ngIf="!des"></i>
                                <i class="fa fa-arrow-up" *ngIf="des"></i></th>
                            <th scope="col" (click)="handleSorting()">Equipment Type<i class="fa fa-arrow-down" *ngIf="!dec"></i>
                                <i class="fa fa-arrow-up" *ngIf="dec"></i></th>
                            <th scope="col" (click)="handleSorting1()">Precinct Type
                                <i class="fa fa-arrow-down" *ngIf="!precinctType"></i>
                                <i class="fa fa-arrow-up" *ngIf="precinctType"></i>
                            </th>
                            <th style="width:16%;" (click)="handleSort2('updatedBy')">UpdatedBy
                                    <i class="fa fa-arrow-down" *ngIf="!updtBy"></i>
                                    <i class="fa fa-arrow-up" *ngIf="updtBy"></i></th>
                            <th style="width:18%;" (click)="handleSort3('updatedTs')">Updated Date
                                    <i class="fa fa-arrow-down" *ngIf="!updt"></i>
                                    <i class="fa fa-arrow-up" *ngIf="updt"></i></th>
                          
                        </tr>
                    </thead>
                    <tbody>


                        <tr *ngFor="let appsolution of appSolutions | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td *ngIf="appsolution.archived === 1" (click)="showSolutionsPage(appsolution.appSolutionId)"><a class="box">{{
                                    appsolution.solutionsDTO.name}}</a></td>
                            <td *ngIf="appsolution.archived === 1"> {{ appsolution.solutionsDTO.vendor.name}}</td>
                            <td *ngIf="appsolution.archived === 1">{{ appsolution.solutionsDTO.solutionTypeName}}</td>
                            <td *ngIf="appsolution.archived === 1">{{ appsolution.solutionsDTO.precinctTypeName}}</td>
                            <td *ngIf="appsolution.archived === 1">{{ appsolution.updatedBy}}</td>
                            <td *ngIf="appsolution.archived === 1">{{appsolution.updatedTs | filterDate | date:'MM/dd/yyyy'}}</td>  
                        </tr>
                    </tbody>

                </table>
                <pagination-controls *ngIf="showPagination" (pageChange)="p = $event"></pagination-controls>
            </div>


        </div>
    </div>
</div>