<app-navigation-component></app-navigation-component>
<div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
<app-option-list></app-option-list>
<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body">
            <p>The policy has been updated</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
        </div>
    </ng-template>
<div>
    <form (ngSubmit)="addSubPolicy()" id="myForm" enctype="multipart/form-data" #editForm="ngForm">
        <fieldset [disabled]='showForm'>
            <div id="form1">
                <div class="infoBox">
                    <div class="headerOfBox">
                        <h4>Control Information</h4>
                    </div>
                    <div class=" form-row">
                        <div class="form-group col-md-6">
                            <label for="controlNumber">Sub Control Number<div class="asterisk">*</div></label>
                            <input type="text" class="form-control" id="controlNumber" ngModel name="controlNumber"
                                [(ngModel)]="subControl1.subControlNumber" [name]="'control_number'" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="controlName"> Sub Control Name<div class="asterisk">*</div></label>
                            <input type="text" class="form-control" id="controlName" ngModel name="controlName"
                                [(ngModel)]="subControl1.subPolicyName" [name]="'class_type'" required>
                        </div>
                    </div>

                    <div class=" form-row">
                        <div class="form-group col-md-6">
                            <label for="assignTo">Assign To</label>
                            <input type="text" name="assignedTo" class="form-control" id="assignTo" [(ngModel)]="subControl1.assignedTo">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <my-date-picker class="inputState1" name="myname" (dateChanged)="getEndDate($event)" [(ngModel)]="endDate"></my-date-picker>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="status">Status</label>
                            <select class="form-control" name="status" id="inputState" (change)="subControl1.substatus = $event.target.value">
                                <option value="false">Open</option>
                                <option value="true">Close</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <br>
                        <br>
                        <div class="infoBox">
                            <div class="headerOfBox">
                                <h4>Procedures<font color="red">*</font>
                                </h4>
                            </div>

                            <textarea *ngIf="!showForm" cols="156" rows="7" id="patches" ngModel name="policyProcedure"
                                [(ngModel)]="subControl1.subprocedure" [name]="'policy_procedures'" required></textarea>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <br>
                        <br>
                        <div class="infoBox">
                            <div class="headerOfBox">
                                <h4>Guidelines</h4>
                            </div>
                            <textarea *ngIf="!showForm" cols="156" rows="7" id="patches" [(ngModel)]="subControl1.guidelines"
                                [name]="'policy_guidelines'"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>

        <!-- <button type="submit" (click)="open(content)" *ngIf="!showForm" class="submit btn btn-primary">Submit</button> -->

        <!-- <button type="submit" (click)="open(content)" *ngIf="!showForm" class="submit btn btn-primary">Submit</button> -->
    </form>
    <button type="submit" style="margin-right: 7%;" form="myForm" class="submit btn btn-primary" [disabled]="!editForm.valid">Submit</button>
    <button type="cancel" class="cancel btn btn-primary" (click)="goTo($event)">Cancel</button>
</div>