<app-navigation-component></app-navigation-component>

<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Success</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <!-- </div> -->

<div>
    <form (ngSubmit)="addSubPolicy()" enctype="multipart/form-data" #editForm="ngForm">
        <fieldset [disabled]='showForm'>
            <div id="form1">
               
                <div class="infoBox">
                    <div class="headerOfBox">
                        <h4>Control Information</h4>
                    </div>
                    <div class=" form-row">
                        <div class="form-group col-md-6">
                            <label for="controlNumber">Sub Control Number<div class="asterisk">*</div></label>
                            <input type="text" class="form-control" id="controlNumber" ngModel name="controlNumber" [(ngModel)]="subControl1.subControlNumber"
                             [name]="'control_number'" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="controlName"> Sub Control Name<div class="asterisk">*</div></label>
                            <input type="text" class="form-control" id="controlName" ngModel name="controlName" [(ngModel)]="subControl1.subPolicyName"
                             [name]="'class_type'" required>
                        </div>
                    </div>

                    <div class=" form-row">
                       

                        <div class="form-group col-md-6">
                            <label for="assignTo">Assign To</label>
                            <input type="text" name="assignedTo" class="form-control" id="assignTo" [(ngModel)]="subControl1.assignedTo">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <my-date-picker name="myname" id="inputState"></my-date-picker>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="status">Status</label>
                            <!-- <select class="form-control" id="inputState">
                                <option>{{subControl1.status}}</option>
                            </select> -->
                            <select class="form-control" name="status" id="inputState" (change)="subControl1.status = $event.target.value">
                                <option value="false">Open</option>
                                <option value="true">Close</option>
                            </select>
                        </div>

                        
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <br>
                        <br>
                        <div class="infoBox">
                            <div class="headerOfBox">
                                <h4>Procedures <div class="asterisk">*</div>
                                </h4>
                            </div>
                            <p *ngIf="showForm">{{subControl.procedure}}</p>
                            <textarea class="textAreaCSS"></textarea>
                            <textarea *ngIf="!showForm" cols="156" rows="7" id="patches" ngModel name="policyProcedure" [(ngModel)]="subControl1.procedure"
                             [name]="'policy_procedures'" required></textarea>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <br>
                        <br>
                        <div class="infoBox">
                            <div class="headerOfBox">
                                <h4>Guidelines</h4>
                            </div>

                            <p *ngIf="showForm">{{ subControl.guidelines }}</p>
                            <textarea class="textAreaCSS"></textarea>
                            <textarea *ngIf="!showForm" cols="156" rows="7" id="patches" [(ngModel)]="subControl1.guidelines" [name]="'policy_guidelines'"></textarea>
                        </div>
                    </div>
                </div>

            

               

                <br>
        
            </div>
        </fieldset>
        <hr />
        <!-- <button type="submit" (click)="open(content)" *ngIf="!showForm" class="submit btn btn-primary">Submit</button> -->
        <button type="submit"  class="submit btn btn-primary">Submit</button>
        <button type="cancel" class="cancel btn btn-primary" (click)="goTo($event)">Cancel</button>
        <!-- <button type="submit" (click)="open(content)" *ngIf="!showForm" class="submit btn btn-primary">Submit</button> -->
    </form>
</div>
