<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Policy File</h4>
    </div>
    <div class="modal-body">
      <div class="form-row">
       
        <div class="col-md-12">
          <label>Attachment</label>
          <form #myFileForm="ngForm">
              <input type="file" name="file" ngModel file-model="attachment" data-btn-text="Select a File" accept=".pdf,.doc,.docx"
                #fileInput (change)="getFile($event)" required>
          </form>
        </div>
  
      </div>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
      <button type="savebtn" [disabled]="!myFileForm.valid" class="btn btn-outline-dark" (click)="compareFile();c()">Compare</button>
    </div>
  </ng-template>
<div class="show">
  <form class="former">
    <!-- <div class="form-row">
         <p>
          <b>POLICIES</b>
        </p> 
        <span style="color: red; font-weight: bold;">&nbsp;{{errorfile}}</span>
      </div> -->
    <div class="plus">

      <span class="title elipsis pull-right">
        <a title="Compare policies">
          <i class="fa fa-exchange" aria-hidden="true" style="font-size: 24px;" (click)="open(content)"></i>
        </a>
        <a title="Send notifications">
          <i class="fa  fa-envelope-o" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        <a title="Download compared policies" (click)="downloadFile()">
          <i class="fa  fa-download" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
      </span>
      <span class=" title elipsis pull-right">

          <a (click)="showAudit()" title="Change to view mode. This reverts the changes">
            <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
          <a (click)="showAudit()" title="Go back to audit section.">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
        </span>
    </div>
    <!-- <hr class=htag/> -->
    <div class="infoBox">
      <div class="headerOfBox">
        <h4>Policies</h4>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <th scope="col" (click)="handleSort('controlNumber')">Control Number and Description<i class="fa fa-arrow-down testColor"
              *ngIf="!desc"></i>
            <i class="fa fa-arrow-up testColor" *ngIf="desc"></i></th>
          <th scope="col" (click)="handleSortPol('policyName')">Policy Name<i class="fa fa-arrow-down testColor" *ngIf="!descpolname"></i>
            <i class="fa fa-arrow-up testColor" *ngIf="descpolname"></i></th>
          <th scope="col">Priority</th>
          <th scope="col">Source Value</th>
          <th scope="col">Status</th>

        </thead>
        <tbody *ngIf="!showRow">

          <tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
            <!-- <td>{{ policy.controlNumber }}</td> -->
            <td>
              <a routerLink="/accessCntrl1/{{ policy.assessmentPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.policyDTO.controlNumber
                }}</a>
            </td>
            <td>{{ policy.policyDTO.policyName }}</td>
            <td>{{ policy.policyDTO.priority }}</td>
            <td>{{ policy.policyDTO.policyVal }}</td>
            <td><i [ngClass]=" policy.policyDTO.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td>
          </tr>
        </tbody>
        <tbody *ngIf="showRow">
          <tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
            <!-- <td>{{ policy.controlNumber }}</td> -->
            <td>
              <a routerLink="/accessCntrl1/{{ policy.assessmentPolicyId }}" style="cursor:pointer;color:blue;">{{
                policy.controlNumber
                }}</a>
            </td>
            <td>{{ policy.policyName }}</td>
            <td>{{ policy.priority }}</td>
            <td>{{ policy.policyVal }}</td>
            <td><i [ngClass]=" policy.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td>

          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </form>


</div>