<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="show">
    <form class="former">
      <!-- <div class="form-row">
         <p>
          <b>POLICIES</b>
        </p> 
        <span style="color: red; font-weight: bold;">&nbsp;{{errorfile}}</span>
      </div> -->
      <div class="plus">
  
        <span class="title elipsis pull-right">
          <a title="Compare policies">
            <i class="fa fa-exchange" aria-hidden="true" style="font-size: 24px;" (click)="open(content)"></i>
          </a>
          <a title="Send notifications">
            <i class="fa  fa-envelope-o" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
          <a title="Download compared policies" (click)="downloadFile()">
            <i class="fa  fa-download" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
        </span>
      </div>
      <!-- <hr class=htag/> -->
      <div class="infoBox">
        <div class="headerOfBox">
          <h4>Policies</h4>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
  
              <th scope="col" (click)="handleSort('controlNumber')">Control Number and Description<i class="fa fa-arrow-down"
                  *ngIf="!desc"></i>
                <i class="fa fa-arrow-up" *ngIf="desc"></i></th>
              <th scope="col" (click)="handleSortPol('policyName')">Policy Name<i class="fa fa-arrow-down" *ngIf="!descpolname"></i>
                <i class="fa fa-arrow-up" *ngIf="descpolname"></i></th>
              <th scope="col">Priority</th>
              <th scope="col">Source Value</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="!showRow">
  
            <tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
              <!-- <td>{{ policy.controlNumber }}</td> -->
              <td>
                <a routerLink="/accessControl/{{ policy.policyDTO.policyId }}" style="cursor:pointer;color:blue;">{{
                  policy.policyDTO.controlNumber
                  }}</a>
              </td>
              <td>{{ policy.policyDTO.policyName }}</td>
              <td>{{ policy.policyDTO.priority }}</td>
              <td>{{ policy.policyDTO.policyVal }}</td>
              <td>{{policy.status}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="showRow">
            <tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
              <!-- <td>{{ policy.controlNumber }}</td> -->
              <td>
                <a routerLink="/accessControl/{{ policy.policyId }}" style="cursor:pointer;color:blue;">{{
                  policy.controlNumber
                  }}</a>
              </td>
              <td>{{ policy.policyName }}</td>
              <td>{{ policy.priority }}</td>
              <td>{{ policy.policyVal }}</td>
              <td><i [ngClass]=" policy.status ? 'primary' : 'secondary'" class="fa fa-check-circle"></i></td>
  
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  
    </form>
  
  
  </div>