<app-navigation-component></app-navigation-component>
<div class="sidebar" data-color="danger" data-background-color="white">
  <app-newsidebar></app-newsidebar>
</div>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="newmainpanel">
  <div [ngClass]="!sideNavService.hideSideNav?'contentWidthMain':'contentWidth'">
    <div class="categoryGrid">
      <div class="clearfix wrap">
        <div>
          <h2 class="headerFix">Infrastructure Details - {{serverType=='Database Server'?'Databases':serverType=='Application Server'?'Applications':'All Others'}}</h2>
        </div>
        <mat-sidenav-container class="example-sidenav-container" style="min-height: 100%;background-color: inherit;">
          <mat-sidenav-content>
            <mat-grid-list cols="10" rowHeight="100px">
              <mat-grid-tile [colspan]="5" [rowspan]="3">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Total Assests ({{assetTotal}})
                  </div>
                 
                  <div class="col-md-4 pull-left" style="outline: none;cursor: pointer;" (click) = "getServerDetails('Application Server')">
                    <span class="dot redDot" style="display: none;">{{appServers}}</span>
                    <i class="fa fa-server" aria-hidden="true" style="font-size: 94px;color: coral;"></i>
                    <p style="text-align: center;">App Servers ({{infraDashboardDTO.appServers}})</p>
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;cursor: pointer;"  (click) = "getServerDetails('Database Server')">
                    <span class="dot orangeDot" style="display: none;">{{dBServers}}</span>
                    <i class="fa fa-database" aria-hidden="true" style="
    font-size: 95px;color: cadetblue;
"></i>
                    <p style="text-align: center;">DB Servers ({{infraDashboardDTO.dBServers}})</p>
                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;cursor: pointer;" (click) = "getServerDetails('Others')">
                    <span class="dot greenDot" style="display: none;">{{otherServers}}</span>
                    <i class="fa fa-desktop" aria-hidden="true" style="font-size:95px;color: yellowgreen;"></i>

                    <p style="text-align: center;">All Others ({{infraDashboardDTO.otherServers}})</p>
                  </div>

                  <!-- <div class="stacked-bar-graph">
                            <span style="width:20%" class="bar-1 barClass">20%</span>
                            <span style="width:15%" class="bar-2 barClass" >15%</span>
                            <span style="width:30%" class="bar-3 barClass">30%</span>
                          </div> -->

                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" [rowspan]="3">

                <div class="newtestITpm">
                  <p class="definationText">This screen shows you the following information for {{serverType}}:</p>
                  <ul style="text-align: left;">
                    <li>Renewal Status</li>
                    <li>By Vendors</li>
                    <li>Compliance check</li>
                    <li>Testing results</li>
                    <li>Impacted Assets Due To Open Incidents</li>
                  </ul>
                  <div style="text-align: left;">
                    <span>Note: To see information for other asset types, please click an icon on the left.</span>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Renewal Status
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot redDot">{{infraStructureDTO.renewalCount}}</span>
                    <!-- <p style="text-align: center;">App Servers</p> -->
                    <p style="text-align: center;">Expired</p>
                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">

                  </div>


                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot greenDot">{{infraStructureDTO.renewalExpiredCount}}</span>
                    <!-- <p style="text-align: center;">All Others</p> -->
                    <p style="text-align: center;">Not-Expired</p>
                  </div>

                </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan]="4" [rowspan]="2">

                <div class="newtestITpm">
                  <div class="entryTitle"> By Vendors </div>


                  <div class="col-md-12" *ngIf="showGraph">
                    <div style="display: block; width: 100%; height:9rem; background-color: #fff;">
                      <canvas baseChart [datasets]="lineChartDataAudits" [labels]="lineChartLabelsAudits"
                        chartType="bar" [legend]="true" (chartClick)="chartClicked($event)"
                        [options]="chartOptionAudits" [colors]="chartColorsAudits"></canvas>
                    </div>


                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Version Status
                  </div>
                  <div class="col-md-6 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="adsquare adsquarecolor">0</span>
                    <p style="text-align: center;">Out-of-Version</p>
                  </div>

                  <div class="col-md-6 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="adsquare adsquarecolor">0</span>
                    <p style="text-align: center;">In-Version</p>
                  </div>


                </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Testing results
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot redDot">{{infraStructureDTO.highTestResultsCount}}</span>

                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot orangeDot">{{infraStructureDTO.medTestResultsCount}}</span>

                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot greenDot">{{infraStructureDTO.lowTestResultsCount}}</span>

                  </div>

                  <!-- <div class="stacked-bar-graph">
                                <span style="width:20%" class="bar-1 barClass">20%</span>
                                <span style="width:15%" class="bar-2 barClass" >15%</span>
                                <span style="width:30%" class="bar-3 barClass">30%</span>
                              </div> -->

                </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" [rowspan]="2">
                <div class="newtestITpm">
                  <div class="entryTitle">
                    Impacted assets due to open incidents
                  </div>
                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot redDot">{{infraStructureDTO.highIncidentsCount}}</span>

                  </div>

                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot orangeDot">{{infraStructureDTO.medIncidentsCount}}</span>

                  </div>


                  <div class="col-md-4 pull-left" style="outline: none;" routerLink="/system/map">
                    <span class="dot greenDot">{{infraStructureDTO.lowIncidentsCount}}</span>

                  </div>

                </div>

              </mat-grid-tile>
              <mat-grid-tile [colspan]="10" [rowspan]="7">
                <div class="newtestITpm">
                  <div class="form-group form-inline">
                    Search on Table: <input class="ml-2" style="width: 20% !important;outline: none;" type="text"
                      name="searchTerm" [(ngModel)]="searchTerm" (keyup)="getData1($event.target.value)" />
                  </div>
                  <table class="policyTable">
                    <thead>
                      <tr>
                        <th scope="col" sortable="acronym" (sort)="getSort($event)">Asset Name

                        </th>

                        <!--  <th scope="col" sortable="businessOwnerNameDoe"
                                          (sort)="getSort($event)">Host Name
                                      </th> -->


                        <th scope="col" sortable="systemOwnerNameDoe" (sort)="getSort($event)">
                          Vendor Name
                        </th>
                        <th scope="col" sortable="updatedBy" (sort)="getSort($event)">Primary Contact
                        </th>
                        <th scope="col" sortable="updatedTs" (sort)="getSort($event)">License Renew Date

                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let infraStructure of infraStructureDTO.servers | paginate: { itemsPerPage: 10, currentPage: p }">

                        <td><a class="anchor"
                            routerLink="/assetDetails/{{infraStructure.databaseId}}">{{infraStructure.hostName}}</a>
                        </td>
                        <td>{{infraStructure.vendorName}}</td>
                        <td>{{infraStructure.primaryContact}}</td>
                        <td>{{infraStructure.licenseRenewDt | filter}}</td>
                      </tr>

                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-sidenav-content>


        </mat-sidenav-container>
      </div>
    </div>
  </div>
</div>