<div>
    <form class="former">
        <div id="form1">
            <div class="infoBox">
                <div class="headerOfBox">
                    <h4>General Information</h4>
                </div>
                <div style="text-align: center;">
                    <div style="display: inline-block;">


                        <button type="button" class="btn btn-outline-dark">Sample questions</button>
                        <button type="button" class="btn btn-outline-dark">Create your own questions</button>
                        <button type="button" class="btn btn-outline-dark" (click)="goToAudit()">Policy</button>

                    </div>
                </div>

            </div>

        </div>
    </form>
</div>