<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<app-navigation-component></app-navigation-component>

<div class="navigate sticky-top">
	<!--<div class="home">
                <i class="fas fa-home home-icon icons"></i>
                < class="fas fa-arrow-left left-icon icons"></i>
            </div>-->
	<div class="form-options">
		<div class="home-back">
			<!-- <a routerLink="/dashboard">
				<fa class="left-icons home-icon icons" data-toggle="tooltip" data-placement="right" title="Home" data-animation="true"
				 data-delay="0" [name]="'home'"></fa>
			</a> -->
			<a href="javascript:void(0)" routerLink="/dashboard">
				<fa class="left-icons left-icon icons" data-toggle="tooltip" data-placement="right" title="Back"
					data-animation="true" data-delay="0" [name]="'arrow-left'"></fa>
			</a>
		</div>

		<!--  <fa class="edit-icon icons" [name]="'edit'"></fa> -->
	</div>
</div>







<div>













	<div>
		<h3 class="pageTitle">Infrastructure Manager</h3>
		<hr>
	</div>
	<br>

	<form class="form">
		<table class="table table-bordered" style="text-align: center">
			<thead>
				<tr>
					<th scope="col" (click)="handleSort()">Host Name
						<i class="fa fa-arrow-down testColor" *ngIf="!desc"></i> <i class="fa fa-arrow-up testColor"
							*ngIf="desc"></i></th>
					<th scope="col" (click)="handleSorting()">Product Name
						<i class="fa fa-arrow-down testColor" *ngIf="!des"></i> <i class="fa fa-arrow-up testColor"
							*ngIf="des"></i></th>

					<th scope="col" (click)="handleSort2('createdTs')">Create Date<i class="fa fa-arrow-down testColor"
							*ngIf="!crtdt"></i>
						<i class="fa fa-arrow-up testColor" *ngIf="crtdt"></i></th>
					
					<th scope="col" (click)="handleSort4('licenseRenewDt')">Renewal date<i
							class="fa fa-arrow-down testColor" *ngIf="!rendt"></i>
						<i class="fa fa-arrow-up testColor" *ngIf="rendt"></i></th>
					<th scope="col" (click)="handleSort5('updatedBy')"> Updated By<i class="fa fa-arrow-down testColor"
							*ngIf="!updtBy"></i>
						<i class="fa fa-arrow-up testColor" *ngIf="updtBy"></i></th>
					<th scope="col" (click)="handleSort3('updatedTs')"> Updated Date<i
							class="fa fa-arrow-down testColor" *ngIf="!modifiedDt"></i>
						<i class="fa fa-arrow-up testColor" *ngIf="modifiedDt"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let appDevice of displayDevices|paginate: { itemsPerPage: 10, currentPage: p }">

					<td><a class="box" routerLink="/updateDevice/{{appDevice.databaseId}}"
							(click)="getDatabases(appDevice.databaseId)"
							style="cursor: pointer;">{{ appDevice.hostName}}</a></td>
					<td>{{appDevice.productName}}</td>
					<!--      <td>{{appDevice}}</td> -->
					<td>{{appDevice.createdTs|filter}}</td>
					

					<td>{{appDevice.licenseRenewDt|filter}}</td>
					<td>{{ appDevice.updatedBy }}</td>
					<td>{{ appDevice.updatedTs | filterDate | date:'MM/dd/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
		<button type="button" class="btn btn-outline-dark" routerLink="/deviceInventory">Add</button>
	</form>
</div>