.p-4 {
    background-color: #2C3E50;
    border-top: 1px solid #ECF0F1;
}

.confbtn {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-color: black
}

nav {
    background-color: black;
    text-align: center;
    position: relative;
}

.heading {
    color: white;
    text-align: center;
}

img {
    width: 10%;
}

.login {
    color: white;
    font-size: 10px;
    margin-top: 15px;
    margin-right: 8px;
}

h1 {
    color: white;
}

.dashboard {
    width: 100%;
    margin-top: 24px;
    margin-left: 24px;
    /* margin-left: 5%; */
    /*position: absolute;
    top: 25%;
    left: 5%;*/
}

.card {
    float: left;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 18rem;
    height: 14rem;
}

.card-heading {
    background-color: #ECF0F1;
    border-radius: 6%;
}

.card-title {
    text-align: center;
    color: black;
}

.card-body {
    background-color: #ECF0F1;
}

.card-link {
    color: darkblue;
}

.view-edit {
    margin-left: 20px;
    color: darkblue !important;
}

.modal-header {
    background-color: black;
}

.card-link:hover {
    color: black;
}

.onHover {
    content: Add;
}

a {
    cursor: pointer;
}

a:hover a.view-edit {
    content: Add;
}

hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#form2 {
    border-radius: 10px;
    margin: 0% 4% 0% 4%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 4%;
    text-align: center;
    padding-left: 6%;
}