<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #insta let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Solution</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>{{contentData}}!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
	</div>
</ng-template>

<ng-template #box let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Solution</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>{{contentData}}!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Close</button>
	</div>
</ng-template>

<div class="plus">
	<i class="fa fa-edit" *ngIf="!isClick" (click)="editClicked()" aria-hidden="true" style="font-size: 24px;"></i> <a>
		<fa (click)="backClicked()" class="left-icons left-icon icons" [name]="'arrow-left'"></fa>
	</a>
</div>
<div class="former clear-right">


	<div class="form-row">
		<div class="form-group col-md-6">

			<label for="inputState">Acronym</label>
			<div class="asterisk">*</div>
			<input type="text" class="form-control" id="lastName" value="{{acronym}}" readonly="readonly">
		</div>
		<div class="form-group col-md-6">
			<label for="lastName">Last updated by</label>
			<input type="text" class="form-control" id="lastName" readonly="readonly">
		</div>
	</div>



	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="lastName">Name</label>
			<div class="asterisk">*</div>
			<input type="text" class="form-control" id="lastName" value="enter here">
		</div>
		<div class="form-group col-md-6">
			<label for="email">Updated at</label>
			<input type="email" class="form-control" id="email" value="{{updatedTime}}">
		</div>
	</div>


</div>











<form #formName="ngForm" class="former  clear-right" (ngSubmit)="saveAppSolution()">
	<fieldset [disabled]="editableForm">
		<p>
			<b>APPLICATION SOLUTIONS</b>
		</p>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="modelSolution">Precinct Type</label>
				<div class="asterisk">*</div>
				<input type="text" [(ngModel)]="applicationSolution.solutionsDTO.precinctTypeName" class="form-control" *ngIf="!isAddNewSolution"
				  name="name" required readonly>
				<select id="modelSolution" [(ngModel)]="applicationSolution.solutionsDTO.precinctTypeId" *ngIf="isAddNewSolution" class="form-control"
				 (change)="applicationSolution.solutionsDTO.precinctTypeId = $event.target.value"
				 ngModel name="name" required>
					<option *ngFor="let precinct of precinctTypes" value="{{ precinct.precinctTypeId }}">{{precinct.typeName}}</option>

				</select>
			</div>




			<div class="form-group col-md-6">
				<label for="modelSolution">System Type</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="system" *ngIf="!isAddNewSolution" [(ngModel)]="applicationSolution.solutionsDTO.systemTypeDTO.name" name="system"
				 required readonly>
				<select id="modelSolution" [(ngModel)]="applicationSolution.solutionsDTO.systemTypeDTO.systemTypeId" *ngIf="isAddNewSolution" class="form-control" (change)="selectSystemType($event.target.value);applicationSolution.solutionsDTO.systemTypeDTO.systemTypeId = $event.target.value"
				 ngModel name="system" required>
					<option *ngFor="let systemType of systemTypes" value="{{ systemType.systemTypeId }}">{{systemType.name}}</option>

				</select>
			</div>
		</div>




		<!-- 	 <input type="text"  -->
		<!--  					class="form-control" *ngIf="!isAddNewSolution" name="name"  -->
		<!-- 				[(ngModel)]="applicationSolution.solutionsDTO.name"> -->
		<div>
			<div class="form-row">
				<div class="form-group col-12">
					<label for="lastName">Model/Solution</label>
					<div class="asterisk">*</div>
					<input type="text" class="form-control" *ngIf="!isAddNewSolution" ngModel name="modelSname" [(ngModel)]="applicationSolution.solutionsDTO.name"
					 required readonly>
					<select *ngIf="isAddNewSolution" [(ngModel)]="applicationSolution.solutionsDTO.solutionId" id="inputState" class="form-control" (change)="selectModSolution($event.target.value);applicationSolution.solutionsDTO.solutionId = $event.target.value"
					 name="modelSname" ngModel required>
						
						<option *ngFor="let name of names" value="{{name.solutionId}}">{{name.name}}</option>

					</select>
				</div>
			</div>

			<div *ngIf="showInnerForm">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="lastName">Version</label>
						<div class="asterisk">*</div>
						<input type="text" class="form-control" ngModel name="versionNumber" required [(ngModel)]="applicationSolution.solutionsDTO.versionNumber"
						 readonly>
					</div>

					<div class="form-group col-md-6">
						<label for="lastName">Equipment Type</label>
						<div class="asterisk">*</div> <input type="text" class="form-control" ngModel name="solutionTypeName" required
						 [(ngModel)]="applicationSolution.solutionsDTO.solutionTypeName" readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="lastName">Vendor</label>
						<div class="asterisk">*</div> <input type="text" class="form-control" ngModel name="vendors" required [(ngModel)]="applicationSolution.solutionsDTO.vendor.name"
						 readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="lastName">Hosting Type</label>
						<div class="asterisk">*</div>
						<!-- <input type="text"  class="form-control" ngModel name="hostingTypeId" required
						 [(ngModel)]="applicationSolution.solutionsDTO.hostingTypeDTO.name" readonly> -->
						<input type="text" class="form-control" name="hostingTypeId" required [(ngModel)]="hostType" readonly>
						<!-- <select id="inputState" *ngIf="isAddNewSolution" class="form-control" ngModel name="modelHname" required
						 (change)="getHostingType($event.target.value)" required>
							<option>Choose...</option>
							<option value="4">Not Applicable</option>
							<option value="1">Wireless - Cloud</option>
							<option value="2">Wireless - OnPrem</option>
							<option value="3">Both</option>

						</select> -->


					</div>
				</div>

				<!-- <hr /> -->
				<div class="form-row" *ngIf="isVisible">
					<div class="form-group col-md-6">
						<label for="units">Add Unit</label>
						<div class="plus" *ngIf="showPlus">


							<!-- 							 [ngClass]="{disabled: editableForm}" -->
							<i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 24px;" (click)="open1()"></i>

						</div>
						<table class="table table-striped table-hover table-bordere">
							<thead>
								<tr>

									<th scope="col">Model #</th>
									<th scope="col">Serial #</th>
									<th scope="col">Next due date</th>
									<th scope="col">Overall status</th>
								</tr>
							</thead>
							<tbody>

								<tr *ngFor="let table of devices">
									<td *ngIf="showPlus"><a class="box" (click)="open2(table)">{{
											table.modelNumber }}</a></td>
									<td *ngIf="!showPlus">{{table.modelNumber }}</td>
									<td>{{ table.serialNumber }}</td>
									<td>{{ table.nextScanningDt | filterDate }}</td>
									<td>{{ table.overallStatus }}</td>

								</tr>

							</tbody>
						</table>
					</div>

				</div>



			</div>

			<button type="submit" class="btn btn-primary" [disabled]="!formName.valid" *ngIf="isClick">Submit</button>
			<button type="submit" class="btn btn-primary" (click)="close($event)">Cancel</button>


		</div>
	</fieldset>

</form>