/* You can add global styles to this file, and also import other style files */

.former {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    background-color: #EEEEEE;
}

.asterisk {
    display: inline;
    color: red;
    margin-left: 2px;
}

th, td {
    text-align: center!important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control[_ngcontent-c7]:disabled, .form-control[readonly][_ngcontent-c7] {
    background-color: #e9ecef;
}

.btn {
    float: right;
    margin-top: 25px;
    background-color: #3A539B;
    border-color: #3A539B;
    color: white;
    padding: 10px 10px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3px;
}

label {
    font-weight: bolder;
}

h5 {
    font-weight: bolder;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #3A539B;
    border-color: #3A539B;
}

.btn1 {
    float: right;
    margin-top: 25px;
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    padding: 10px 10px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3px;
}