<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<!-- <div class="plus" style="float:right">
  <i *ngIf="showEditButton" class="fa fa-edit" data-delay="0" style="font-size: 24px;"
    (click)="editClick()"></i>
</div> -->




<!-- <div class="disclaimer"><span>Please use this screen to add information.</span>&nbsp;&nbsp;&nbsp;
      <span style="float:right">
        <font color=red>*</font> marked fields are mandatory
      </span> </div> -->

<div class="newTestBox">
    <div class="plus" style="float:right">
        <i *ngIf="showEditButton" class="fa fa-edit" data-delay="0" style="font-size: 24px;"
          (click)="editClick()"></i>
    </div>
  <form #formName="ngForm" enctype="multipart/form-data">
    <fieldset [disabled]="showEditButton">
      <div class="headerOfBox">
        <h4>General Information</h4>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label class="newLabel">Submitted By<span class="asterisk">*</span></label>
          <input type="text" name="submittedBy" [(ngModel)]="imResolutionDTO.submittedBy" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="newLabel">Submitted On<span class="asterisk">*</span></label>
          <my-date-picker ngModel class="newInputIncident" name="submittedOn" (dateChanged)="getRenDate($event)"
            required>
          </my-date-picker>
        </div>
      </div>
      <div class="form-row">
        <span style="font-weight: bold;">Summary</span>
        <div class="col-md-12">
          <tinymce name="impact" [(ngModel)]="imResolutionDTO.summary" *ngIf="showEditButton" disabled=true
            [config]="config">
          </tinymce>
          <tinymce name="impact" [(ngModel)]="imResolutionDTO.summary" *ngIf="!showEditButton" [config]="config">
          </tinymce>
          <div style="text-align: left;">remaining {{50000 -len}}</div>

        </div>
      </div>

      <div class="form-row">
        <span style="font-weight: bold;">Comments</span>
        <div class="col-md-12">
          <tinymce name="resolution" [(ngModel)]="imResolutionDTO.comment" *ngIf="showEditButton" disabled=true
            [config]="config1">
          </tinymce>
          <tinymce name="resolution" [(ngModel)]="imResolutionDTO.comment" *ngIf="!showEditButton" [config]="config1">
          </tinymce>
          <div style="text-align: left">remaining {{50000 -len1}}</div>

        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12">

          <table class="policyTable">
            <thead>
              <tr>
                <th style="width:80%;text-align: left !important;">Summary</th>
                <th>SubmittedBy</th>
                <th>Submitted On</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of businessDTOs">
                <td><span [innerHTML]="data.summary"></span></td>
                <td>{{data.submittedBy}}</td>
                <td>{{data.submittedOn | filter}}</td>

              </tr>





            </tbody>
          </table>
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>-->


        </div>

      </div>
    </fieldset>
  </form>

</div>



<div class="d-flex justify-content-between p-2">
  <button type="button" class="cancel btn btn-primary" (click)="backClicked()">
    Cancel
  </button>
  <button type="button" class="cancel btn btn-primary" (click)="saveBusinessRisk()" [disabled]="!formName.valid">
    Submit
  </button>

</div>