<app-navigation-component></app-navigation-component>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div>
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-navbar></app-navbar>
  </div>
  <div class="main-panel">

    <div id="form2">

      <div class="categoryGrid">
        <div class="clearfix wrap">
          <nav id="navTest">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link disabled">
                <span style="font-weight: bold;">Dashboards -></span>
              </a>
              <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="true">My Dashboard</a>
              <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="false">Locations</a>

              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Policies</a>
              <a class="nav-item nav-link" id="nav-audit-tab" data-toggle="tab" href="#nav-audit" role="tab"
                aria-controls="nav-audit" aria-selected="false">Audit</a>
              <a class="nav-item nav-link" id="nav-assess-tab" data-toggle="tab" href="#nav-assess" role="tab"
                aria-controls="nav-assess" aria-selected="false">Assesment</a>
              <a class="nav-item nav-link" id="nav-solution-tab" data-toggle="tab" href="#nav-solution" role="tab"
                aria-controls="nav-solution" aria-selected="false">Solutions</a>
              <a class="nav-item nav-link" id="nav-devices-tab" data-toggle="tab" href="#nav-devices" role="tab"
                aria-controls="nav-devices" aria-selected="false">Devices</a>
            </div>
          </nav>
          <br>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="row">
                <div class="col-md-6">
                  <div class="chart">

                    <div style="display: block;width: 70vh; height: 45vh;margin-left: 0vw;background-color: #fff;">
                      <canvas baseChart [datasets]="barChartData" [labels]="lineChartLabelsLocalities" [legend]="true"
                        chartType="bar" [options]="chartOption" [colors]="chartColorsLocalities"
                        (chartClick)="getDataLocalities($event)"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 1vw;padding-top: 3vh;">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                      (chartClick)="chartClicked($event)" [options]="pieChartOptions" [colors]="pieChartColor"></canvas>

                  </div>


                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6" *ngIf="showRecert">
                  <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData7" [labels]="pieChartLabels7" [chartType]="pieChartType"
                      (chartClick)="chartClicked7($event)" [options]="pieChartOptions7"
                      [colors]="pieChartColor7"></canvas>

                  </div>
                </div>
                <div class="col-md-6" *ngIf="showLoc">
                  <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 1vw;">

                    <canvas baseChart [data]="pieChartData5" [labels]="pieChartLabels5" chartType="pie"
                      [options]="pieChartOptions5" [colors]="pieChartColor5"
                      (chartClick)="chartClicked5($event)"></canvas>

                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="chart">

                    <div style="display: block;width: 70vh; height: 45vh;margin-left: 0vw;background-color: #fff;">
                      <canvas baseChart [datasets]="barChartData2" [labels]="lineChartLabelsLocalities" [legend]="true"
                        chartType="bar" [options]="chartOption2" [colors]="chartColorsLocalities2"
                        (chartClick)="getDataLocalities($event)"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="chart">

                    <div style="display: block;width: 70vh; height: 45vh;margin-left: 0vw;background-color: #fff;">
                      <canvas baseChart [datasets]="lineChartDataSystems" [labels]="lineChartLabelsSystems"
                        chartType="bar" [legend]="true" (chartClick)="chartClickedSystems($event)"
                        [options]="chartOption1" [colors]="chartColorsSystems"></canvas>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">

                  <div
                    style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 1vw;padding-top: 3vh;">
                    <canvas baseChart [data]="pieChartData1" [labels]="pieChartLabels1" chartType="pie"
                      [options]="pieChartOptions1" [colors]="pieChartColor1"
                      (chartClick)="chartClicked1($event)"></canvas>

                  </div>


                </div>
              </div>
              <br>
              <div class="row">

                <div class="col-md-6" *ngIf="showSystem">
                  <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData6" [labels]="pieChartLabels6" [chartType]="pieChartType"
                      (chartClick)="chartClicked6($event)" [options]="pieChartOptions6"
                      [colors]="pieChartColor6"></canvas>

                  </div>

                </div>


                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 1vw;">
                    <canvas baseChart [data]="pieChartDataTask" [labels]="pieChartLabelsTask" [chartType]="pieChartType"
                      (chartClick)="chartClickedTask($event)" [options]="pieChartOptionsTask"
                      [colors]="pieChartColorTask"></canvas>

                  </div>

                </div>




              </div>
            </div>

            <div class="tab-pane fade show" id="nav-contact" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <div class="col-md-6">
                  <!-- <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData10" [labels]="pieChartLabels10" [chartType]="pieChartType"
                      (chartClick)="chartClicked10($event)" [options]="pieChartOptions10"
                      [colors]="pieChartColor10"></canvas>

                  </div> -->

                  <div style="display: block;width: 70vh; height: 45vh;margin-left: 0vw;background-color: #fff;">
                    <canvas baseChart [datasets]="barChartData3" [labels]="lineChartLabelsPolicies" [legend]="true"
                      chartType="bar" [options]="chartOption3" [colors]="chartColorsPolicies"
                      (chartClick)="getDataLocalities($event)"></canvas>
                  </div>

                </div>

                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 1vw;">
                    <canvas baseChart [data]="pieChartData11" [labels]="pieChartLabels11" [chartType]="pieChartType"
                      (chartClick)="chartClicked11($event)" [options]="pieChartOptions11"
                      [colors]="pieChartColor11"></canvas>

                  </div>
                </div>
              </div>

            </div>

            <div class="tab-pane fade show" id="nav-audit" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="row">

                <div class="col-md-6">
                  <!-- <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData12" [labels]="pieChartLabels12" [chartType]="pieChartType"
                      (chartClick)="chartClicked12($event)" [options]="pieChartOptions12"
                      [colors]="pieChartColor12"></canvas>

                  </div> -->
                  <div style="display: block;width: 70vh; height: 45vh;margin-left: 0vw;background-color: #fff;">
                    <canvas baseChart [datasets]="lineChartDataAudit" [labels]="lineChartLabelsAudit" [legend]="true"
                      chartType="bar" [options]="chartOption4" [colors]="chartColorsAudit"
                      (chartClick)="getDataLocalities($event)"></canvas>
                  </div>
                </div>

                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 1vw;">
                    <canvas baseChart [data]="pieChartData13" [labels]="pieChartLabels13" [chartType]="pieChartType"
                      (chartClick)="chartClicked13($event)" [options]="pieChartOptions13"
                      [colors]="pieChartColor13"></canvas>

                  </div>
                </div>


              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2" [chartType]="pieChartType"
                      (chartClick)="chartClicked2($event)" [options]="pieChartOptions2"
                      [colors]="pieChartColor2"></canvas>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="nav-assess" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="row">
                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData14" [labels]="pieChartLabels14" [chartType]="pieChartType"
                      (chartClick)="chartClicked14($event)" [options]="pieChartOptions14"
                      [colors]="pieChartColor14"></canvas>

                  </div>
                </div>

                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 1vw;">
                    <!-- <canvas baseChart [data]="pieChartData15" [labels]="pieChartLabels15" [chartType]="pieChartType"
                      (chartClick)="chartClicked15($event)" [options]="pieChartOptions15"
                      [colors]="pieChartColor15"></canvas> -->
                    <canvas baseChart [datasets]="lineChartDataAssess" [labels]="lineChartLabelsAssess" [legend]="true"
                      chartType="bar" [options]="chartOption5" [colors]="chartColorsAssess"
                      (chartClick)="getDataLocalities($event)"></canvas>
                  </div>
                </div>


              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 30vh;background-color: #fff;margin-left: 0vw;">

                    <canvas baseChart [data]="pieChartData3" [labels]="pieChartLabels3" chartType="pie"
                      [options]="pieChartOptions3" [colors]="pieChartColor3"
                      (chartClick)="chartClicked3($event)"></canvas>

                  </div>

                </div>
              </div>
            </div>

            <div class="tab-pane fade show" id="nav-solution" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="row">

                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData8" [labels]="pieChartLabels8" [chartType]="pieChartType"
                      (chartClick)="chartClicked8($event)" [options]="pieChartOptions8"
                      [colors]="pieChartColor8"></canvas>

                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade show" id="nav-devices" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="row">
                <div class="col-md-6" *ngIf="showDev">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 0vw;">
                    <canvas baseChart [data]="pieChartData4" [labels]="pieChartLabels4" [chartType]="pieChartType"
                      (chartClick)="chartClicked4($event)" [options]="pieChartOptions4"
                      [colors]="pieChartColor4"></canvas>

                  </div>

                </div>
                <div class="col-md-6">
                  <div style="display: block; width: 70vh; height: 45vh;background-color: #fff;margin-left: 1vw;">
                    <canvas baseChart [data]="pieChartData9" [labels]="pieChartLabels9" [chartType]="pieChartType"
                      (chartClick)="chartClicked9($event)" [options]="pieChartOptions9"
                      [colors]="pieChartColor9"></canvas>

                  </div>
                </div>
              </div>
            </div>
            <!-- <br>
            <div class="row">


            </div>
            <br>
            <div class="row">

            </div> -->
          </div>


        </div>

      </div>
    </div>
  </div>
</div>