<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
  
  <app-navigation-component></app-navigation-component>
  <!-- <app-option-list></app-option-list> -->
  
  <div class="navigate sticky-top" style="padding-top: 1.5em;" [ngStyle]="{'backgroundColor': getColor(), 'opacity': getOpacity()}">
    <div class="form-options">
      <div class="home-back">
        <!-- <a routerLink="/dashboard">
          <fa class="left-icons home-icon icons" data-toggle="tooltip" data-placement="right" title="Home" data-animation="true"
           data-delay="0" [name]="'home'"></fa>
        </a> -->
        <a href="javascript:void(0)" (click)="backClicked()">
          <fa class="left-icons left-icon icons" data-toggle="tooltip" data-placement="right" title="Back" data-animation="true"
           data-delay="0" [name]="'arrow-left'"></fa>
        </a>
      </div>
    </div>
  </div>

<br>
<H3 style ="text-align: center" > Samle Questionnare</H3>
<hr>
<div id="form1" style="padding: 1%">
<div class="wrapper">
  <div >  
    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label for="tab-one" > This is a sample question One ? <span class="weightage">  5/ 10</span></label>
      
      <div class="tab-content">
        <p ><b>Answer</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        <p ><b>Comments</b></p>
        <textarea style="width: 100%"></textarea>
        <p ><b>Evidences</b></p>
        <input id="file-upload" type="file"/>

        
      </div>
    </div>
    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label for="tab-two" > This is a sample question two ? <span class="weightage">  5/ 10</span></label>
        <div class="tab-content">
        <p ><b>Answer</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
        <p ><b>Comments</b></p>
        <textarea style="width: 100%"></textarea>
        <p ><b>Evidences</b></p>
        <input id="file-upload" type="file"/>
        
        
      </div>
    </div>
    <div class="tab">
      <input id="tab-three" type="checkbox" name="tabs">
      <label for="tab-three" > This is a sample question three ? <span class="weightage">  5/ 10</span></label>
      <div class="tab-content">
          <p ><b>Answer</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
          <p ><b>Comments</b></p>
          <textarea style="width: 100%"></textarea>
          <p ><b>Evidences</b></p>
          <input id="file-upload" type="file"/>
        </div>
    </div>
  </div>
</div>
  
</div>