
 .wrapper{
    margin: auto;
    width: 80%;
    padding: 10px;
 }
  /* Acordeon styles */
  .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    position: relative;
    display: block;
    padding: 0em 1em 0em 1em;
    background:black;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    width :100%;
    height:40px;
    float:left !important;
    color:white;
    text-align: left;
  }
  .blue label {
    background: #2980b9;
  }
  .tab-content {
    max-height: 0;
    
    float: left;
    overflow: hidden;
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
    -moz-box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
    box-shadow: 5px 10px 20px 1px rgba(125, 122, 118, 1);
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    color: black;
   
  }
  .blue .tab-content {
    background: #3498db;
  }

  .weightage{
    
    float: right;
    padding-right: 3%;
  }
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right:0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "+";
  }
  .tab input[type=radio] + label::after {
    content: "\25BC";
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }