<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="plus1">

    <fa *ngIf="showEdit" class="edit-icon icons" [name]="'edit'" style="float:right" (click)="showPlus()"></fa>

</div>

<div>

    <form class="former">
        <div id="form1" style="margin: 0">
      
            <div class="disclaimer"></div>

            <span class="plusbtn" *ngIf="showPlusButton">
                <i class="fa fa-plus-square-o" aria-hidden="true" style="float:right; font-size: 24px;" (click)="goTo()"></i>
            </span>
            <br>
            <div class="infoBox">
                <div class="headerOfBox">
                    <h4>Overview</h4>
                </div>

                <table class="table table-striped table-hover table-bordere">
                    <thead>
                        <tr>

                            <th scope="col" (click)="handleSort('auditName')">Audit Type <i class="fa fa-arrow-down"
                                    *ngIf="!desc"></i>
                                <i class="fa fa-arrow-up" *ngIf="desc"></i></th>
                            <th scope="col" (click)="handleSort1('name')">Assessment Name <i class="fa fa-arrow-down"
                                    *ngIf="!name"></i>
                                <i class="fa fa-arrow-up" *ngIf="name"></i></th>
                            <th scope="col" (click)="handleSort2('assessmentDt')">Assessment Date<i class="fa fa-arrow-down"
                                    *ngIf="!assessmentDt"></i> <i class="fa fa-arrow-up" *ngIf="assessmentDt"></i></th>
                            <th scope="col" (click)="handleSort3('nextAssessmentDt')">Next Assessment Date<i class="fa fa-arrow-down"
                                    *ngIf="!nextAssessmentDt"></i> <i class="fa fa-arrow-up" *ngIf="nextAssessmentDt"></i></th>
                            <th scope="col" (click)="handleSort4('status')">Status<i class="fa fa-arrow-down"
                                *ngIf="!sts"></i>
                              <i class="fa fa-arrow-up" *ngIf="sts"></i></th>
                            <th scope="col" (click)="handleSort5('updatedBy')"> Updated By<i class="fa fa-arrow-down"
                                *ngIf="!updtBy"></i>
                              <i class="fa fa-arrow-up" *ngIf="updtBy"></i></th>
                            <th scope="col" (click)="handleSort6('updatedTs')"> Updated Date<i class="fa fa-arrow-down"
                                *ngIf="!updt"></i>
                              <i class="fa fa-arrow-up" *ngIf="updt"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let  assess of assessmentDTOs | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>
                                <a (click)="getAudit(assess.assessmentId)" style="cursor:pointer;color:blue;">{{
                                    assess.auditName}}</a>
                            </td>
                            <td>{{ assess.name }}</td>
                            <td>{{ assess.assessmentDt | filterDate | date:'MM/dd/yyyy'}}</td>
                            <td>{{assess.nextAssessmentDt | filterDate | date:'MM/dd/yyyy' }}</td>
                            <td>{{ assess.status }}</td>
                            <td>{{ assess.updatedBy}}</td>
                            <td>{{ assess.updatedTs |filterDate | date:'MM/dd/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls *ngIf="showPagination" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </form>
</div>
<router-outlet></router-outlet>