<div class="pos-f-t">
  <nav class="navbar1">
      <img src="assets/img/logo1.png">
  </nav>
</div>
<div id="form1">

  <div class="infoBox">
    <div class="form-row headerOfBox">
      <h4>Warning</h4>
    </div>
    For internal use only as authorized by Virginia Department of Human Resource Management, You are accessing Virginia Department of
    Elections's information system, which includes:<br>


    (1) this computer<br>
    (2) this computer network,<br>
    (3) all computers connected to this network, and<br>
    (4) all devices and storage media attached to this network or to a computer on this network.<br>


    <br>This information system is provided for Virginia Department of Human Resource Management authorized use only.<br>


    <br>Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal
    penalties.


    By using this information system, you understand and consent to the following:<br>
    (1) You have no reasonable expectation of privacy regarding any communication or data transiting or stored on this
    information system.<br>
    (2) At any time and for any lawful government purpose, the Government may monitor, intercept, and search and seize
    any communication or data transiting or stored on this information system.<br>
    (3) Any communication or data transiting or stored on this information system may be disclosed or used for any
    lawful Government purpose.
    <button type="submit" class="btn btn-primary" (click)="agree()">Agree</button>
  </div>

</div>